- buttons = [{ caption: t('designer_center.responds.item.create_shopping_list'), href: '#' },
    { caption: t('designer_center.responds.item.create_3d_rendering'), href: '#' },
    { caption: t('designer_center.responds.item.send_note'), href: '#' }]
= render partial: 'designer_center_responds/index/options_buttons', locals: { buttons: buttons }
