- buttons = [{ caption: t('designer_center.responds.item.update_moodboard'), href: '#' },
             { caption: t('designer_center.responds.item.send_note'), href: '#' }]
= render partial: 'designer_center_contests/responds/options_buttons', locals: { buttons: buttons }
