%h3 Please show us examples of your work.
.col-md-12.no-x-padding{:style => "padding-bottom: 40px;"}
  %span{:style => "font-size:20px;"}
    %b Links to your portfolio/work
.clearfix
.lnk_container
  .col-md-10.form-group.no-x-padding
    %input.form-control{name: 'external_links[]', type: 'text'}
  .col-md-2.text-center-xs.text-center-sm
    %a.plus_wrapper{:href => "#"}
      %i.glyphicon.glyphicon-plus.pull-right.glyphic-link{:style => "left: 39px;top: 6px; position: static;float: left !important;margin-top: 6px;"}
    %a.minus_wrapper{:href => "#"}
      %i.glyphicon.glyphicon-minus.pull-right.glyphic-link{:style => "left: 39px;top: 6px; position: static;float: left !important;margin-top: 6px;"}
    .clearfix
.col-md-12.no-x-padding
  %h1{:style => "color:#231f20;margin-top: 25px;font-size:20px;"} Upload examples
  %h1{:style => "color:#504d4e;padding-bottom: 25px;margin-top: 0px;font-size:14px;"}
    %i Images must be smaller than 10M.with .jpg, .gif, .tif, .pdf
.col-md-12{:style => " border: 1px dashed black; min-height:315px;padding-top: 40px; padding-bottom: 40px;"}
  %span#image_display
    - if @designer_images.present?
      - @designer_images.split(',').each do |id|
        .col-md-3.novice.thumb
          = render partial: 'contests/options/example_picture_thumb', locals: { src: Image.find(id).image.url(:medium) }
    .col-md-3.novice.template
      = render partial: 'contests/options/example_picture_thumb', locals: { src: '' }
.col-md-6.no-x-padding.text-center-xs.text-center-sm{:style => "margin-top:40px;"}
  %input#file_input.hidden{ name: 'image[image]', type: 'file', multiple: 'multiple' }
  %button.btn3.btn3-confirm.upload-button{:type => "button"} Upload images
