.commonFormStyle
  %label
    %input{type: 'password', name: 'password[old_password]'}
    %span.password-info= t('client_center.profile.labels.existing_password')
  %label
    %input#client_password{type: 'password', name: 'password[new_password]'}
    %span.password-info= t('client_center.profile.labels.new_password')
  %label
    %input{type: 'password', name: 'password[confirm_password]'}
    %span.password-info= t('client_center.profile.labels.confirm_password')
