%input{type: 'password', name: 'password[old_password]'}
%p.password-info= t('client_center.profile.labels.existing_password')
%input#client_password{type: 'password', name: 'password[new_password]'}
%p.password-info= t('client_center.profile.labels.new_password')
%input{type: 'password', name: 'password[confirm_password]'}
%p.password-info= t('client_center.profile.labels.confirm_password')
