-#.field
-#  = form.text_field :email, size: 50
%input{:type => "password"}
%p.password-info Enter existing password
%input{:type => "password"}
%p.password-info Enter new password
%input{:type => "password"}
%p.password-info Confirm new password
