.portfolio-creation {
  .cover-button {
    cursor: pointer;
  }
}

.portfolio-item .glyphicon-remove {
  visibility: visible !important;
}

.designStyleSpan {
  margin-bottom: 4px;
}

.portfolio_profile_image{
  width: 150px;
  height: 150px;
}

.portfolio-remove-thumb-button {
  position: absolute;
  right: 0px;
}

.portfolio_example{
  .imageWithOverlay {

    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.editCover{
  img {
    background-color: rgba(0,0,0,0.4)
  }
}
