- profile_rows.each do |attribute|
  = render partial: 'clients/client_center/profile/profile_attribute_preview',
           locals: { title: I18n.t("client_center.profile.labels.#{ attribute }"),
                     attribute: attribute,
                     client: @client,
                     form: form }
