- profile_rows.each do |attribute|
  = render 'clients/client_center/profile/profile_attribute_preview',
           title: I18n.t("client_center.profile.labels.#{ attribute }"),
           attribute: attribute,
           client: @client

.edit-button.template
  = render 'clients/client_center/profile/edit_button_image'
