= content_for :head do
  = javascript_include_tag 'sessions/login'

- login_box_footer = capture do
  = render 'sessions/signin_footer'

= render partial: 'sessions/login_box', locals: { login_view: @login_view, footer: login_box_footer }
