%label Add Links
.row.lnk_container
  .col-sm-8.link_box
    .clearfix
      %input.link_url.form-control{name: "lookbook_link[links][]", type: "text"}
      %a.plus_wrapper{href: "javascript:void(0);"}
        %span +
      %a.minus_wrapper{href: "javascript:void(0);"}
        %span -
  .col-sm-8.lnk_tit_box
    %label Add text to go at bottom of image
    %input.form-control{maxlength: "100", name: "lookbook_link[link_title][]", type: "text"}
  .clearfix
  %hr
