.row
  .col-sm-8
    %label Tell your client more about your design
    %textarea.form-control{column: "20",
      name: "contest_request[feedback]",
      row: "50",
      style: "width:90%"}= lookbook_view.feedback
