%input#lookbook_image{name: "lookbook_photo[document]",
type: "hidden",
value: @lookbook_view.serialized_paths}
%input#look_image_id{name: "lookbook_photo[document_id]",
type: "hidden",
value: @lookbook_view.serialized_ids}
