.col-sm-4
  .post
    .img
      %a{href: url, target: "_blank"}
        %img.img-responsive{src: "http://immediatenet.com/t/m?Size=1024x768&URL=#{url}"}/
    .text
      %h5= title
    %a.plus_wrapper{href: "javascript:void(0)", onclick: "alert('Under Implementation!')"}
      Remove