.col-sm-8.img_img_box{style: "padding-top:20px;"}
  .img{style: "width:50%;float:left"}
    %img{src: url}
  %input{maxlength: "100",
    name: "lookbook[picture][urls][]",
    type: "hidden",
    value: url}
  %input{maxlength: "100",
    name: "lookbook[picture][ids][]",
    type: "hidden",
    value: id}
