%h3= t('designer_center.contests_preview.all_contests_title')

.suggestedContestBox
  .row.suggestedContestHeader
    = render 'designer_center_contests/index/contest_row', columns: @current_contests
  = render 'designer_center_contests/index/contests_list',
      columns: @current_contests, border_class: 'currentContestBody suggestedContestBody'

