- contests.each do |contest|
  = render partial: 'designer_center_contests/index/contest_row',
      locals: { classes: cycle('odd', 'even') + ' contest-item',
                column_tag: :td,
                id: contest.id,
                project_name: contest.name,
                design_category_name: contest.design_category,
                design_space_name: contest.design_space,
                days_left: contest.days_left,
                price: contest.price }
