.suggested-contests.col-lg-8.col-md-8.col-lg-pull-4.col-md-pull-4
  %h3= t('designer_center.contests_preview.suggested_contests_title')
  %h4= t('designer_center.contests_preview.suggested_contests_hint')
  %table.table.table-striped
    %thead
      = render partial: 'designer_center_contests/index/contest_row',
          locals: { classes: '',
                    column_tag: :th,
                    id: 'ID#',
                    project_name: 'Name',
                    design_category_name: 'Type',
                    design_space_name: 'Room',
                    days_left: 'Days left to enter',
                    price: 'Budget' }
    %tbody
      = render partial: 'designer_center_contests/index/contests_list',
          locals: { contests: @suggested_contests }
