%h3.marg-top40= t('designer_center.contests_preview.suggested_contests_title')
%p.grayItalic= t('designer_center.contests_preview.suggested_contests_hint')
.suggestedContestBox
  .row.suggestedContestHeader
    = render 'designer_center_contests/index/contest_row', columns: @suggested_contests
  = render 'designer_center_contests/index/contests_list',
      columns: @suggested_contests, border_class: 'suggestedContestBody'
