.rooms.text-center-sm.text-center-xs.concept-board
  = render partial: 'designer_center_requests/concept_board_thumbnail',
      locals: { request: request, placeholder_src: nil, image_id_input_name: '' }
  .clearfix
  %a.marg-top20.upload-button.edit-picture-btn
    = button_title
    -#t('designer_center.portfolio.creation.upload_personal_picture.upload_button')
