.rooms.text-center-sm.text-center-xs.concept-board
  = render partial: 'designer_center_requests/concept_board_thumbnail',
      locals: { items: items, placeholder_src: nil, image_id_input_name: '' }
  .clearfix
  %a.upload-button.uploadFinalDesignBtn
    = button_title
