.clearfix
%p.font20Bold.marg-top20= t('designer_center.edit.product_items')
.hLine10
- @visible_image_items.each do |item|
  - unless item.image_id.nil?
    = render partial: 'clients/client_center/entries/design_item',
             locals: { image_item: ImageItemView.new(item) }
