.rooms.text-center-sm.text-center-xs.concept-board
  = render 'designer_center_requests/concept_board_thumbnail',
      { items: items, placeholder_src: nil, image_id_input_name: '', single: false }
  .clearfix
  %a.upload-button.uploadFinalDesignBtn
    = button_title
