.image-items
  = render partial: 'designer_center_requests/edit/image_block_designer_view',
           locals: { editable: false,
                     title: t('designer_center.edit.product_items'),
                     subtitle: '',
                     image_list_name: :product_items,
                     contest_request: @request,
                     image_items: @product_items,
                     wrap_row_with_block: true }
  = render partial: 'designer_center_requests/edit/image_block_designer_view',
           locals: { editable: false,
                     title: t('designer_center.edit.similar_styles'),
                     subtitle: '',
                     image_list_name: :similar_styles,
                     contest_request: @request,
                     image_items: @similar_styles,
                     wrap_row_with_block: true }
