.row
  .col-md-3
    %img{:src => "/assets/profile-img.png"}/
  .col-md-9
    %input.designer-notes-value{ type: 'hidden', value: request.feedback }
    %p.designerName
      %b= @request.designer.name
    .notes
      .view
        %p.designerNote= request.feedback
      .edit
      .error
    #notes-edit-dialog
      = render partial: 'designer_center_requests/show/forms/edit_notes_form', locals: { notes: @request.feedback }

- if @request.editable?
  %p.saveCancelP
    %a.save-button#save-button{:href => "#"}=t('designer_center.save_button')
    %a.editNoteBtn.edit-button{:href => "#"}=t('designer_center.edit_button')
