- designer_view = DesignerView.new(@request.designer)
.row
  .col-md-3
    = image_tag designer_view.designer_personal_picture, class: 'fullWidth'
  .col-md-9.disablePadding.submission-info
    %input.designer-notes-value{ type: 'hidden', value: request.feedback }
    %p.designerName{ style: 'margin: 8px 0px 0px 0px' }
      %b{ style: 'font-size: 18px' }= @request.designer.name
    .notes
      .view
        %p.designerNote= request.feedback
      .edit
      .error
    #notes-edit-dialog
      = render partial: 'designer_center_requests/show/forms/edit_notes_form', locals: { notes: @request.feedback }

- if @request.editable?
  %p.saveCancelP
    %a.save-button#save-button{:href => "#"}=t('designer_center.save_button')
    %a.editNoteBtn.edit-button{:href => "#"}=t('designer_center.edit_button')
