.all-contests.col-md-8
  %h3= t('designer_center.contests_preview.all_contests_title')
  %table.table.table-striped
    %tbody
      = render partial: 'designer_center/contests_preview/contests_list', locals: { contests: @all_contests }
