.col-md-10.col-md-offset-1.text-center.design-packages
  %h3.font36= t('contests.creation.packages.title')
  %p= t('contests.creation.packages.description')
  .smallUnderline
  .row
    - ContestCreationWizard.budget_plans.each_with_index do |package, index|
      .col-sm-4{ class: package_css_class(index, ContestCreationWizard.budget_plans.length) }
        .head-design-package
          %h5
            %div= package.name
        - package.services.each do |service|
          %p= service.html_safe
