%h2 JUSTINE'S STORY
.shortUnderline.marginBottom40
.row
  .col-md-6.col-lg-7.justineLeft
    %img.fullWidth{:src => "/assets/justine.jpg"}/
    .justineOverlay
      %a.justinePlay{:href => "#"}
  .col-md-6.col-lg-5.justineRight{:style => "height: 760px;"}
    %div
      %h3 Justine's living room
      %p As a busy mom, wife and business owner, Justine needed some help with her living room when her family moved into a new home. She wanted to keep most of their existing furniture, but desperately needed an easy update to brighten up their favorite room.
      %a{ href: justines_story_path }
        Read more about her story  
        %img{:src => "/assets/double-green-arrow-right.png"}/
