.container
  %a.circleDownArrow.hidden-sm.hidden-xs{ href: 'javascript:void(0)' }
  %h2 WHAT WE DO
  .shortUnderline
  %p
    Created for your busy lifestyle, InteriorCrowd is the fun and approachable online interior
    design service that helps you create the space you have always wanted.
