.container
  %h2 WHAT TO EXPECT
  .shortUnderline.marginBottom40
  .row.text-center
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object.png"}/
      %h5 Designs from multiple designers
      %p You choose who you want to work with
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object1.png"}/
      %h5 Collaborate with your professional designer
      %p Work together to get a design you love
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object2.png"}/
      %h5 Customized design just for you
      %p According to your budget & specifications
    /
      </div>
      <div class="row">
    .col-sm-6.col-sm-offset-0.col-lg-4.col-lg-offset-2
      %img{:src => "/assets/Vector-Smart-Object3.png"}/
      %h5 Easy-to-follow instructions & floorplan
      %p Your designer will show you how to get your new space
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object4.png"}/
      %h5 Shopping list
      %p Get your new items right away
