%a.enlarge{ href: attachment.original_size_url }
  %img{ src: attachment.small_size_url }
.menuButtons
  = additional_menu_buttons if defined?(additional_menu_buttons)
  %a.downloadButton.glyphicon.glyphicon-download-alt{ href: attachment.url_for_downloading }
