%tr
  %td.col-sm-2= appeal_name(scale[:start])
  %td.col-sm-8
    .slidercon
      = text_field_tag "step3[#{ scale[:start].to_s }]",
      (session[:step3][scale[:start]] if session[:step3].present?),
      "data-slider-max" => "100",
      "data-slider-min" => "0",
      "data-slider-selection" => "after",
      "data-slider-step" => "1",
      "data-slider-tooltip" => "show",
      "data-slider-value" => (session[:step3][scale[:start]] if session[:step3].present?)
  %td.col-sm-2= appeal_name(scale[:end])