.row.step-row
  %label= t('contests.titles.wanted_colors')
.row
  .col-sm-8.col-sm-offset-1
    %input#fav_color.form-control{name: "design_style[desirable_colors]",
      type: "text",
      value: @contest_view.desirable_colors,
      class: 'color-typeahead'}
    %span#err_fav.text-error

.row.step-row
  %label= t('contests.titles.avoided_colors')
.row
  .col-sm-8.col-sm-offset-1
    %input#refrain_color.form-control{name: "design_style[undesirable_colors]",
      type: "text",
      value: @contest_view.undesirable_colors,
      class: 'color-typeahead'}
    %span#err_refrain.text-error