.row
  %label= t('contests.titles.wanted_colors')
  %input.colors.selection{value: @contest_view.desirable_colors}
.row
  %label= t('contests.titles.avoided_colors')
  %input.colors.selection{value: @contest_view.undesirable_colors}