.row.step-row
  %label Other feedback or instructions?
.row
  .col-sm-8.col-sm-offset-1
    = text_area_tag "step4[feedback]", (strip_tags(session[:step4][:feedback]) if session[:step4].present?), row: "50", style: "width:98%", column: "20", class: "form-control"