.row.text-center.title-first
  %h1{style: "font-weight:normal;"}= t('contests.titles.creation').upcase
.options-selector
  .col-md-3.option-item.no-padding-right.no-padding-left{class: @creation_wizard.breadcrumb_class(1)}
    .circle
      %span 1
    .text-selector.text-center
      Choose Room
  .col-md-3.option-item.no-padding-left.no-padding-right{class: @creation_wizard.breadcrumb_class(2)}
    .circle
      %span 2
    .text-selector.text-center
      Style Profile
  .col-md-3.option-item.no-padding-left.no-padding-right{class: @creation_wizard.breadcrumb_class(3)}
    .circle
      %span 3
    .text-selector.text-center
      Project Detail
  .col-md-3.option-item.no-padding-left{class: @creation_wizard.breadcrumb_class(4)}
    .circle
      %span 4
    .text-selector.text-center
      Review
  .clearfix
