.container.animated.fadeInDown
  = render 'clients/client_center/header' if current_user.client?
  = render partial: 'contest_top_panel'
  = yield :page_content

- if @creation_wizard.show_sign_up_suggestion?
  = render 'contests/sign_up_modal'
