.row
  %label Links?
  - index = 0
  - @contest_view.links.try(:in_groups_of, 3, false) do |group|
    .row.post_row{:style => "width:75%"}
      - group.each do |url|
        .col-sm-4
          %img.img-responsive{alt: "", src: url}/
        - index = index + 1