.payment-footer
  %h4.title= t('client_center.sign_up.footer_title')
  .top-logo.row
    %span#gilt-icon{ style: "background: url('/assets/credit_card/Gilt.png') no-repeat center"}
    %span#houzz-icon{ style: "background: url('/assets/credit_card/Houzz.png') no-repeat center"}
    %span#oacland-icon{ style: "background: url('/assets/credit_card/OaklandPress.png') no-repeat center"}
    %span#brunch-icon{ style: "background: url('/assets/credit_card/Brunch.png') no-repeat center"}
    %span#seven-x-seven-icon{ style: "background: url('/assets/credit_card/7x7.png') no-repeat center"}
    %span#say-yes-icon{ style: "background: url('/assets/credit_card/SayYes.png') no-repeat center"}
    %span#washington-icon{ style: "background: url('/assets/credit_card/Washingtom.png') no-repeat center"}
    %span#twenty-something-icon{ style: "background: url('/assets/credit_card/20Something.png') no-repeat center"}
    