<!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                &nbsp;
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-12">
                    <div class="plan">
                        <div class="wrapper">
							<%#= render :partial => 'contest_top_panel' %>
							<div class="row">
							<div class="page-header">
								<h2>Launch a New Design Contest</h2>
							</div>
						</div>
						<div class="row launch-nav" >
							<div class="col-sm-10 col-sm-offset-1">
								<ul class="nav nav-pills nav-justified">
									<li class="col-sm-2  previous"><%= link_to "Step 1", step1_contests_path %></li>
									<li class="col-sm-2 previous"><%= link_to "Step 2", step2_contests_path %></li>
									<li class="col-sm-2 previous"><%= link_to "Step 3", step3_contests_path %></li>
									<li class="col-sm-2 active"><%= link_to "Step 4", step4_contests_path %></li>
								</ul>
							</div>
						</div>
							
							<div class="container col-sm-offset-1">

								<div class="row mesure-con">
								     <label>Upload pictures of your space</label>
								</div>
								
								<div class="col-sm-8 form-inline">										
									<div class="col-sm-2">
										Upload
									</div>
									<div class="col-sm-3">
										<input name="" type="file"> <span>(.jpg, .tif, .png)</span>
									</div>
								</div>	
								
																		
								<div class="col-sm-8 col-sm-offset-1  mesure-con">										
									<div class="row mesure-con">
								     <label>Add dimensions of your space</label>
									</div>	
								
									<div class="col-sm-2">
										Length
									</div>
									<div class="col-sm-8  form-inline">
									<div class="col-sm-3 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Ft</label>
									<div class="col-sm-3 col-sm-offset-1 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Inches</label>

									
								</div>	
								</div>	
								
								<div class="col-sm-8 col-sm-offset-1  mesure-con">										
									<div class="col-sm-2">
										Width
									</div>
									<div class="col-sm-8  form-inline">
									<div class="col-sm-3 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Ft</label>
									<div class="col-sm-3 col-sm-offset-1 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Inches</label>

									
								</div>	
								</div>
								<div class="col-sm-8 col-sm-offset-1 mesure-con">										
									<div class="col-sm-2">
										Height(Optional)
									</div>
									<div class="col-sm-8  form-inline col-sm-offset-1">
									<div class="col-sm-3 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Ft</label>
									<div class="col-sm-3 col-sm-offset-1 mesure-label">
										<input name="" type="text" class="form-control">
									</div>										
									<label class="col-sm-1 mesure-label">Inches</label>

									
								</div>	
								</div>
						
								
								<div class="row mesure-con">
								     <label>What is your design budget for materials?</label>
								</div>
								<div class="row mesure-con">
									<div class="col-sm-8 col-sm-offset-1">
										
										<select name=""  class="form-control"> 
										<option>$0 -$200</option>
										<option>$201 -$500</option>
										<option>$501 -$1000</option>
										<option>$1000+</option>
										
										</select> 
										
									</div>	
								</div>								
								<div class="row mesure-con">
								     <label>Other feedback or instructions?</label>
								</div>
								<div class="row">
									<div class="col-sm-8 col-sm-offset-1">
										
										<textarea name="" row="50" column="20" class="form-control"> 
										</textarea>
									</div>	
								</div>								
		
								

							</div>
							</div>

							<div class="row formbuttons">
								<div class="col-sm-3 ">
									<a class="order" href="launch_step3.html">GO BACK</a>
								</div>
								<div class="col-sm-4 col-sm-offset-3">
									<a class="order" href="preview.html">preview</a>
								</div>
							</div>
							
                        </div>
                    </div>
                </div>
              
                
            </div>
            
        </div>
    </div>

