/ Pricing Option
#in_pricing
  .container
    .section_header
      \&nbsp;
    .row.charts_wrapp
      / Plan Box
      .col-sm-12
        .plan
          .wrapper
            .row
              .page-header
                %h2 Thanks!
            .row{:style => "margin:40px  0"}
              .col-sm-10.col-sm-offset-1
                .alert.alert-success
                  %strong Thank you!
                  for creating your account & launching your contest. You should expect designs in 2 to 3 days. In the meantime explore our site.
            .row
              .col-sm-10.col-sm-offset-1
                / Plan Box
                .col-sm-6.standar.thanks-wrap
                  .plan
                    .wrapper.home_wrapper
                      .price
                        %span.dollar Get Inspired
                / Plan Box
                .col-sm-6.standar{:style => "float:right;"}
                  .plan
                    .wrapper.home_wrapper
                      .price
                        %span.dollar See Examples
                / Plan Box
