<!-- Pricing Option -->
<div id="in_pricing">
	<div class="container">
		<div class="section_header">
			&nbsp;
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="col-sm-12">
				<div class="plan">
					<div class="wrapper">

						<div class="row">
							<div class="page-header">
								<h2>Thanks!</h2>
							</div>
						</div>

						<div class="row" style="margin:40px  0">
							<div class="col-sm-10  col-sm-offset-1">
								<div class="alert alert-success">
									<strong>Thank you!</strong> for creating your account & launching your contest. You should expect designs in 2 to 3 days. In the meantime explore our site.
								</div>
							</div>
						</div>

						<div class="row ">
							<div class="col-sm-10  col-sm-offset-1">
								<!-- Plan Box -->
								<div class="col-sm-6 standar thanks-wrap">
									<div class="plan">
										<div class="wrapper home_wrapper">

											<div class="price">

												<span class="dollar">Get Inspired</span>

											</div>

										</div>
									</div>
								</div>
								<!-- Plan Box -->
								<div class="col-sm-6 standar" style="float:right;">
									<div class="plan">
										<div class="wrapper home_wrapper">

											<div class="price">

												<span class="dollar">See Examples</span>

											</div>

										</div>
									</div>
								</div>
								<!-- Plan Box -->
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div>

