.comment.row{ data_id: comment.id }
  .col-xs-1
    = image_tag comment.author.avatar_url
  .col-xs-11
    .authorName
      = comment.author == current_user ? 'Me' : comment.author.name
    .createdAt
      = comment.created_at
    .clearfix
    .commentText
      = comment.text
