.designer-activity
  .container
    .header.col-md-3.col-xs-6
      %h3= t('time_tracker.designer.activity.header')
    .add-activity-button.col-md-offset-7.col-md-2.col-xs-offset-0.col-xs-6
      %button= t('time_tracker.designer.activity.add_activity')
    .activity-description.col-xs-12
      %p= t('time_tracker.designer.activity.description').html_safe
    =render partial: 'add_activity_form'
    -#- designer_activities.each do |week, activities|
    -#  %h1= week.at_beginning_of_week.strftime("%m/%d/%Y") + ' - ' + week.strftime("%m/%d/%Y")
    -#  - activities.each do |activity|
    -#    %h5= activity.task + '   ' + activity.start_date.strftime("%m/%d/%Y")


