$gutter: 50px;                    $g: $gutter;
$wrap: 1200px;                     $w: $wrap;
$footer: 0px;
$desktop: 1200px;
$tablet: 767px;
$mobile: 479px;

$fontSize: 16px;
$lineHeight: 24px;
$AvenirLTStd: 'AvenirLTStd-Light', sans-serif;

$primary: #000000;                $p: $primary;
$secondary: #000000;              $s: $secondary;
$background: #f7f7f7;             $bg: $background;
$text: #666666;                   $t: $text;
$link: #0000cc;                   $l: $link;
$link-hover: #cc0000;             $lh: $link-hover;

$white: #ffffff;                  $w: $white;
$black: #000000;                  $b: $black;
$dark-gray: #333333;              $dgr: $dark-gray;
$gray: #999999;                   $gr: $gray;
$light-gray: #eeeeee;             $lgr: $light-gray;
$green: #00cc33;                  $gn: $green;
$red: #ff0000;                    $r: $red;
$transparent: transparent;        $tr: $transparent;

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-demi-bold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-black: 900;
