/* grid */
.main {
    min-height: 100%;
    overflow: hidden;
    padding-bottom: $footer;
    clear: both;
    @include sizing();
}
.wrap {
    margin: 0 auto;
    max-width: $wrap;
    padding-left: $gutter;
    padding-right: $gutter;
    @extend .clearfix;
}