= t("contests.additional_details.space_needs_accommodate.accommodate_children")
= render partial: 'contests/additional_details/accommodate_form', locals: { form: form, attribute: :accommodate_children }
