.design-style-options
  .appeal-options
    %h3.marginTop40= t('contests.titles.appeals')
    %span#err-appeals.text-error
    = render partial: 'contests/options/appeal_scale_row',
          collection: @contest_view.appeal_scales,
          as: :scale
