- options = last_in_row ? { class: 'last-in-row'} : {}
.col-md-3.text-center.text-price.no-padding-left.areas-row{ options }
  .bedr
    %a{:href => "#"}
      .room.room-selector-sub{ class: ('active' if active), data: { id: area.id } }
        %b= area.name
        %i.glyphicon.glyphicon-ok.option-selected{ style: ('display: none' if !active) }
- if last_in_row
  .clearfix
