.row
  .col-sm-10.col-sm-offset-1.page-title
    %h3= t('contests.titles.areas')
.row
  .col-sm-4
    %label.checkbox
      = areas_parent_dropdown(@creation_wizard.available_design_areas.top_level, @contest_view.design_area)
    %span#err_design_area.text-error
.row
  .col-sm-4
    %label.checkbox
      - @creation_wizard.available_design_areas.top_level.includes(:children).each do |area|
        = areas_child_dropdown(area, @contest_view.design_area)
