.col-xs-6.col-sm-6.col-md-4.col-lg-3.text-center.no-padding-left.areas-row
  .bedr
    %a{:href => "#"}
      .room.room-selector-sub.fixWrap{ class: ('active' if active), data: { id: area.id } }
        = area.name
        %i.glyphicon.glyphicon-ok.option-selected{ style: ('display: none' if !active) }
