= form_for @contest, url: contest_path(id: @contest.id), method: 'patch', remote: true do |f|
  = hidden_field_tag 'option', option
  = render partial: fields_partial, locals: { form: f }
  = render partial: 'contests/save_changes_button'
