.space-options
  .design-budget
    .col-md-12.no-padding-left.description
      %h1.title= t('contests.space.budget.title')
      %span.hint
        %i= t('contests.space.budget.hint')
    .clearfix
    = select_tag "design_space[f_budget]",
            options_for_select(@creation_wizard.budget_options, @budget_option),
            { class: 'selectpicker' }
    .clearfix
      %span.text-error{ id: 'err_budget' }
