.space-options
  .design-budget
    %h3.marginTop40= t('contests.space.budget.title')
    %p= t('contests.space.budget.hint')
    .clearfix
      %span.text-error{ id: 'err_budget' }
    = text_field(:design_space, :f_budget, class: 'selectpicker budget-input form-control',
                 value: @contest_view.space_budget_value, placeholder: t('contests.space.budget.placeholder'))
