.space-options
  .design-budget
    .col-md-12.no-padding-left.description
      %h1.title= t('contests.space.budget.title')
      %span.hint
        %i= t('contests.space.budget.hint')
    .clearfix
      %span.text-error{ id: 'err_budget' }
    = text_field(:design_space, :f_budget, class: 'selectpicker budget-input', value: @contest_view.space_budget_value)
