.space-options
  .design-budget
    %h3.marginTop40= t('contests.space.budget.title')
    %p= t('contests.space.budget.hint')
    .clearfix
      %span.text-error{ id: 'err_budget' }
    = select(:design_space,
      :f_budget,
      @contest_view.budget_ranges,
      { selected: @contest_view.space_budget_value},
      class: 'selectpicker budget-input form-selector')
