.packages.text-package.text-center-xs.text-center-sm
  %h1 Choose the packages
  %span.subtitle
    We’d love to help you with your design. let us know how we can work with you?
    %br
    How can we help you today?

- @creation_wizard.available_design_categories.each_with_index do |design_category, index|
  = render partial: 'contests/options/category_row',
      locals: { classes: index == 0 ? 'question' : 'question2',
                design_category: design_category }
%span#err_category.text-error
