.packages.text-package.text-center-xs.text-center-sm
  %h1= t('contests.titles.brief.description.first_row')
  %span.subtitle
    = t('contests.titles.brief.description.second_row')

%span#err_category.text-error
- @creation_wizard.available_design_categories.each_with_index do |design_category, index|
  = render partial: 'contests/options/category_row',
      locals: { classes: index == 0 ? 'question' : 'question2',
                design_category: design_category }
