.col-sm-6
  .colors-table
    %img.check{src: "/assets/check-icon.png", style: 'display: none'}
    - color_table_values.each do |color_object|
      .color-cell.gal1{ data: { id: color_object[:id], text: color_object[:text] },
          style: "background: ##{ color_object[:id] };" }
    .clearfix
  %h3.text-center.marginTop20.lineHeight32.hidden-xs
    = t('contests.design_style.picker_types_separator')
  .text-center.color-input-container.hidden-xs
    %input.color-name{ onkeyup: "searchColor(this.value);",
    placeholder: t('contests.design_style.type_color_name'),
    type: "text"}/
    .dp-down-box

.col-sm-6.selected-colors-container.hidden-xs
  = selected_colors_input

.clearfix
