.designer-levels.interior-design.clearfix
  = hidden_field_tag 'design_style[designer_level]', @contest_view.designer_level.try(:id)
  .col-md-12.no-x-padding.title
    %h1= t('contests.titles.designer_level')

  - @creation_wizard.available_designer_levels.each do |designer_level|
    = render partial: 'contests/options/designer_level_item',
        locals: { designer_level: designer_level,
                  active: designer_level == @contest_view.designer_level }

.clearfix
  #err-designer-level.text-error
