-#.row
-#  .col-sm-12.mesure-con
-#    .col-sm-2
-#      %strong= dimension.name
-#    .col-sm-10.form-inline
-#      .col-sm-4.mesure-label
-#        %input.form-control{,
-#          onkeyup: "jQuery(this).val(jQuery(this).val().replace(/[^0-9]/ig, ''))",
-#          type: "text",
-#          value: dimension.to_feet,
-#          id: dimension.feet_identifier}
-#      %label.col-sm-1.mesure-label Ft
-#      .col-sm-4.col-sm-offset-1.mesure-label
-#        %input.form-control{onkeyup: "jQuery(this).val(jQuery(this).val().replace(/[^0-9]/ig, ''))",
-#          type: "text",
-#          value: dimension.to_inches,
-#          id: dimension.inches_identifier}
-#      %label.col-sm-2.mesure-label Inches

.col-md-12.no-x-padding.dimension
  .col-md-2.no-padding-left
    %span{:style => "font-size:20px;"}= dimension.name
  .col-md-2
    .form-group
      %input.form-control{ name: "design_space[#{ dimension.identifier }]",
        value: dimension.to_feet,
        id: dimension.feet_identifier}/
  .col-md-1
    %span{:style => "font-size:20px;"} Feet
  .col-md-2
    .form-group
      %input.form-control{ value: dimension.to_inches,
        id: dimension.inches_identifier}/
  .col-md-4
    %span{:style => "font-size:20px;"} Inches
- if dimension.mandatory
  .clearfix
    %span.text-error{ id: "err_#{dimension.identifier}"}
