.design-style-options
  .example-pictures
    .col-md-12.border
    .col-md-12.no-x-padding.title
      %h1= t('contests.titles.example')

    #image_display.col-md-12
      = render partial: 'contests/options/removable_thumbnails', locals: { urls: @contest_view.examples }

    .col-md-6.no-x-padding.file-input-container
      %button.btn3.btn3-confirm.upload-button{ type: 'button' }= t('contests.design_style.upload_button')
      %input#file_input{ name: "image[image]", type: 'file', style: 'display: none', multiple: 'multiple' }
    %input#design_style_image_id{name: "design_style[document_id]",
      type: "hidden",
      value: @contest_view.example_ids.try(:join, ',') }
