.col-md-10.form-group.no-x-padding
  %input.form-control{name: name, :style => "height: 63px;", :type => "text", value: value, data: { name: 'design_style[ex_links][]' } }/
.col-md-2
  %a.remove-button{:href => "#"}
    %i.glyphicon.glyphicon-minus.pull-right.glyphic-link
  %a.add-button{:href => "#"}
    %i.glyphicon.glyphicon-plus.pull-right.glyphic-link
