.design-style-options
  .example-pictures
    .row#image_display.uploadedImages
      = render partial: 'contests/options/removable_thumbnails',
          locals: { urls: @contest_view.examples.map(&:medium_size_url),
                    ids: @contest_view.example_ids }
    .col-md-6.no-x-padding.file-input-container
      %a.upload-button.uploadImagesBtn{ href: '#', type: 'button' }= t('contests.design_style.upload_button')
      %input#file_input{ name: "image[image]", type: 'file', style: 'display: none', multiple: 'multiple' }
    %input#design_style_image_id{name: "design_style[document_id]",
      type: "hidden",
      value: @contest_view.example_ids.try(:join, ',') }
