.lnk_container.row
  .col-sm-11
    %input.link-input.marginTop20{name: name,
      type: "text",
      value: value,
      data: { name: 'design_style[ex_links][]' } }/
  .col-sm-1.hidden-xs.disablePadding{ style: 'margin-top: 20px;' }
    %a.plus_wrapper.links.btnInvite.addInspirationalLinks{ href: '#' }
      %i.glyphicon.glyphicon-plus.pull-right.glyphic-link.example-link-glyph.glyphiconPlus
    %a.minus_wrapper.links.btnInvite.addInspirationalLinks{ href: '#' }
      %i.glyphicon.glyphicon-minus.pull-right.glyphic-link.example-link-glyph.glyphiconMinus
