.space-options
  .feedback
    .col-md-12.no-padding-left
      %h1.title= t('contests.space.other_feedback.title')
    .clearfix
    .col-md-12.no-padding-left.no-padding-right
      %textarea{ placeholder: t('contests.space.other_feedback.placeholder'),
        type: 'text' }
    .clearfix
    %button.btn5.btn5-confirm.send-button{ type: 'button' }= t('contests.space.other_feedback.send')
