.space-options
  .feedback
    %h3.marginTop60.title= t('contests.space.other_feedback.title')
    %textarea{ type: 'text', name: 'design_space[feedback]', class: 'feedbackInstructions' }
      = @contest_view.feedback