%h1{:style => "margin-top: 34px; margin-bottom: 0;"} Have pictures or dimension of your space?
%span{:style => "font-size:14px;color:#000000;"}
  %i You can upload it later in client center.
.clearfix
.question.col-md-2
  .col-md-1
    .circle2
  .col-md-1{:style => "margin-left: 25px;"}
    %span.text-price{:style => "font-size:24px;"}
      %b Yes
.question.col-md-2
  .col-md-1
    .circle2
  .col-md-1{:style => "margin-left: 25px;"}
    %span.text-price{:style => "font-size:24px;"}
      %b No
.clearfix
