.first-block-quick.col-md-4.plan-container{ data: { id: package.id },
                                            class: ('active' if @contest_view.package_selected?(package.id)) }
  .col-md-12.plan
    .first.text-center.header
      %span.name
        %b= package.name
      %br/
      %span.price
        %b $#{ package.price }
    .first.text-center.body
      - package.services.each_with_index do |service, index|
        - style_class = index > 0 ? 'not-first' : ''
        %div.service{ class: style_class }
          %span= service.html_safe
