.fee-includes-outer-container.plan-container{ data: { id: package.id } }
  .fee-includes-inner-container
    .title
      %h1 $99
      %h3 One low flat fee includes
    .list
      %ul
        %li Multiple concept boards from a range of interior designers
        %li
          One hour in-person consultation with the designer who submitted your favorite boards and had
          the most exciting ideas for your style and space
        %li Top-line thoughts on project scope and requirements
  %h5 Our transparent process
  %p
    Once you and your designer have met, they'll recommend an initial hourly bundle to get started on that space
    of your dreams. The designer rate is set at
  %span $100/hour
  %p and you can easily use our dashboard to keep track of your project. It's that simple.
