.col-sm-4.standar
  .plan
    #wrapper.home_wrapper{plan_id: plan_id}
      %h3 Premier
      .price
        %span.dollar $
        %span.qty= price
      .features
        %p
          Expect
          %strong= designs_count
          designs
        %p
          - if money_back_guarantee
            Money back guarantee