.col-sm-4.standar
  .plan
    #wrapper.home_wrapper{plan_id: plan.id}
      %h3 Premier
      .price
        %span.dollar $
        %span.qty= plan.price
      .features
        %p
          Expect
          %strong= plan.designs_count
          designs
        %p
          - if plan.money_back_guarantee
            Money back guarantee