.col-sm-4.plan-container
  .plan
    #wrapper.home_wrapper{plan_id: plan.id}
      %h3= plan.name
      .price
        %span.dollar $
        %span.qty= plan.price
      .features
        %p
          = t('contests.creation.preview.expect_designs',
              count: plan.designs_count,
              design_count: content_tag(:strong, plan.designs_count)).html_safe
        %p
          - if plan.money_back_guarantee
            = t('contests.creation.preview.money_back_quarantee')
