.row.oneLowFlatFee.plan-container{ data: { id: package.id },
    class: ('active' if @contest_view.package_selected?(package.id)) }
  .col-sm-12
    %h1 #{ package.name.html_safe } #{ t('contests.creation.plans.includes') }:
    %ul
      - package.services.each_with_index do |service, index|
        %li= service.html_safe
    %p Thereafter, pay your designer a fixed rate of $100/hour.
