.col-md-3.novice.template
  = render partial: 'contests/options/example_picture_thumb', locals: { src: '' }
- urls.try(:each_with_index) do |path, index|
  .col-md-3.novice.thumb{ data: { id: ids[index] } }
    = render partial: 'contests/options/example_picture_thumb', locals: { src: path }
