.design-style-options
  .avoided-colors
    .col-md-12.no-x-padding
      %h1.colors-type-title= t('contests.titles.avoided_colors')
    .col-md-12
      - selected_colors_input = capture do
        %input#refrain_color.form-control{name: "design_style[undesirable_colors]",
          type: "text",
          value: @contest_view.undesirable_colors,
          class: 'color-typeahead'}

    = render partial: 'contests/options/colors_picker', locals: { selected_colors_input: selected_colors_input }
