Thanks for joining InteriorCrowd! We’re excited to start working on an inspiring new design for your home!
%br
%br
You should expect concept designs in the next few days from multiple designers.
Just imagine, you are only days away from getting a personalized space — just for you!
%br
%br
Come up with new ideas? Feeling inspired? It is easy to communicate that information to the designers.
Just log-in #{ link_to(t('registration.link_here'), client_login_sessions_url) }, and update your brief with additional information and fresh ideas, or
edit existing information. The more information our designers have about you and your style,
the easier it is for them to design something you’ll really love.
%br
%br
If you have any questions, check out our FAQ’s #{ @client_faq_link.html_safe }, or email us at #{ mail_to I18n.t('registration.mail_to') }.
%br
%br
Chat soon!
%br
The InteriorCrowd Team
