Hi there!
%br
%br
#{ @author_name } has left the following comment:
%br
%br
%div{ style: 'border-left: 1px solid #888; padding-left: 20px;' }
  #{ @comment.html_safe }
%br
%br
To respond, you can click #{ link_to('here', @url) }.
%br
%br
Chat soon!
%br
%br
InteriorCrowd
