Hi there!
%br
%br
#{ @author_name } has left the following comment.
%br
You can respond by clicking here #{ link_to('here', @url) } to view in the Client Center.
%br
%br
Chat soon!
%br
%br
The InteriorCrowd Team
