Congratulations! You are now one of the select few designers who are going to revolutionize
the design industry. Thanks for joining us on this journey.
%br
%br
Name: #{ @name }
%br
Email: #{ @email }
%br
Password: #{ @password }
%br
%br
We’re excited to see your designs. For the closed beta period you will be working with real clients,
and there will likely be bumps along the way. Please let us know if you experience any issues — and
let us know what you think of the process and the platform.
%br
%br
Watch your inbox as you will be notified when a new client has launched a contest.
Don’t forget to review their brief first before you submit your design.
You can also start working on sample concept boards to share with new clients.
%br
%br
If you have any questions, please email us at #{ mail_to I18n.t('registration.mail_to') }.
%br
%br
Hope to hear from you soon!
%br
%br
The InteriorCrowd Team
