Hi there!
%br
%br
Your friend #{ @client_name } needs your help choosing a designer for their home design -
and they have invited you to view their InteriorCrowd contest. Please view the contest #{ link_to('here', @page_url) }
and leave your feedback so that they don’t have to make this decision alone.
%br
%br
Thanks!
%br
%br
The InteriorCrowd Team
%br
%br
P.S. Do you have a room in your own home that really needs some help?
Sign up to our beta test phase #{ link_to('here', @site_url) } and we'll be in touch soon!
