Great news! #{ @client_name } has invited you to participate in their contest.
%br
You can view the contest details #{ link_to(t('invitation_to_content.link'), designer_center_url) }
— or just go to your Designer Center.
You only have #{ @days.to_words } days to submit a design, so go check it out now!
