Hi there,
%br
%br
Great news! Your designer has submitted a product list for you to review. Have a look at it #{ link_to('here', @url) } . You can provide feedback by clicking on the ✓ to indicate you like the product or on the x if you don’t.
%br
%br
You can also use the comment box in the Client Center to chat to your designer. Don't be shy! The more feedback you provide them, the better. This will ensure that your designer has everything they need to create the beautiful room you’ve always wanted.
%br
%br
If you have any questions check out our FAQ’s here, or email us at hello@interiorcrowd.com.
%br
%br
Chat soon!
%br
%br
The InteriorCrowd Team