A designer has uploaded a new concept board for you to view.
See it #{ link_to 'here', entries_client_center_index_url(host: @host) }.
%br
%br
If you’d like to send a message to all the designers, you can leave a note for them on #{ link_to 'this page', entries_client_center_index_url(host: @host) }.
%br
%br
Remember, the concept board is just the beginning - once you’ve chosen a designer,
you’ll move on to the next phase of your room redo with them.
%br
%br
If you have any questions check out our FAQ’s #{ link_to 'here', faq_url(anchor: 'client', host: @host) }, or email us at #{ mail_to I18n.t('registration.mail_to') }.
%br
%br
Chat soon!
%br
The InteriorCrowd Team