Hi there!
%br
%br
#{ @client_name } has left the following note:
%br
%br
%div{ style: 'border-left: 1px solid #888; padding-left: 20px;' }
  #{ @comment.html_safe }
%br
To respond, you can click #{ link_to('here', @url) } to see your board.
%br
%br
Chat soon!
%br
%br
InteriorCrowd
