Fabulous news - you’re a winner! #{ @client.name } chose your concept
board for their #{ link_to(@contest.name, designer_center_contest_url(id: @contest.id)) }.
%br
%br
This is where the fun really begins as you move on into
the ”Customized board and Product List” phase. Here you’ll begin to add specific
products for your client to review. This phase is collaborative - so use the
comment box to communicate back and forth with your client.
%br
%br
Again, at this stage, how you change your board to reflect the specific products
that your client has chosen, is up to you.
%br
%br
As always, please feel free to reach out to us with any questions, concerns or suggestions.
%br
%br
Chat soon!
%br
The InteriorCrowd Team
