Hi there!
%br
%br
Great news! Your client has viewed your product list and given you feedback. You can click #{ link_to('here', @url) } to see what they like and dislike.
%br
%br
Thanks!
%br
%br
The InteriorCrowd Team
