<!-- Pricing Option -->
<div id="in_pricing">
	<div class="container">
		<div class="section_header">
			&nbsp;
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="col-sm-12">
				<div class="plan">
					<div class="wrapper">

						<div class="row">
							<div class="page-header">
								<h2>Client Center</h2>
							</div>
						</div>
						<div class="row">
							<div class="page-header">
								<h3>Welcome to your client center!</h3>
							</div>
						</div>

						<div class="row client-center">
							<div class="col-sm-12">
								<!-- Plan Box -->
								<div class="col-sm-6 standar">
									<div class="plan">
										<div class="wrapper client_wrapper">
											<h4>See entries to your contest</h4>
											<ul>
												<% if @contest_requests.present? 
													 @contest_requests.each do |cr|
												%>
													<li><a href="javascript:void(0)" onclick="alert('Under Implementation!')"><%= cr.designer.first_name %> <%= cr.designer.last_name %></a></li>
												<% end 
												else %>
													<li>No Response found </li>
												
												<% end %>	
											</ul>

										</div>
									</div>
								</div>
								<!-- Plan Box -->
								<div class="col-sm-6 standar" style="float:right;">

									<div class="plan">
										<div class="wrapper client_wrapper">
											<h4>Respond to questions from designers</h4>
											<ul>
												<% if @contest_requests.present? 
													 @contest_requests.each do |cr|
												%>
													<li><a href="javascript:void(0)" onclick="alert('Under Implementation!')"><%= cr.designer.first_name %> <%= cr.designer.last_name %></a></li>
												<% end 
												else %>
													<li>No Response found </li>
												
												<% end %>	
											</ul>

										</div>
									</div>
								</div>
								<!-- Plan Box -->
							</div>
						</div>

						<div class="row pickwin" style="margin:40px  0">
							<div class="col-sm-10  col-sm-offset-1">
								<div class="alert alert-success">
									<strong><a href="javascript:void(0)" onclick="alert('Under Implementation!')">Pick a winner</a>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div>

