%br/
%button.btn.btnDesignOption= t('client_center.entries.answers.no')
%button.btn.btnDesignOption= t('client_center.entries.answers.maybe')
%button.btn.btnDesignOption= t('client_center.entries.answers.favorite')
%button.btn.btnDesignOption.disableMargin= t('client_center.entries.answers.winner')
