%p.designerName
  = t('client_center.moodboard_details.designer_notes')
%p.designerNote I created this moodboard based on your style profile. I found the examples you referenced to be very inspiring. I wanted to bring in your love of reds with the vibrant red couch. I think that this pairs nicely with the zebra rug.
