.moodboard{ data: { id: contest_request.id } }
  = render partial: 'shared/moodboard', locals: { request: contest_request }
- if show_answer_options
  = render partial: 'contest_requests/answers'
  %span.current-answer= contest_request.answer
