.designConcept.moodboard#client_btns{ data: { id: contest_request.id } }
  .moodboard
    = render partial: 'shared/moodboard', locals: { request: contest_request }
  - if show_answer_options
    = render partial: 'clients/moodboard_answers', locals: { request_id: contest_request.id, answer: contest_request.answer }
