= render partial: 'clients/client_center/entries/main_content',
    locals: { phases_stripe: @entries_page.entries_concept_board_page.phases_stripe,
      readonly: true,
      contest_page: @entries_page }
