.contestInfoBox
  .row
    .col-md-2
      %h4 Contest ID#
      %p 1234567#
    .col-md-2
      %h4 Contest Name
      %p My Dream Loft
    .col-md-2
      %h4 Type
      %p
        Update
        %br My Style
    .col-md-2
      %h4 Room
      %p
        Living
        %br Room
    .col-md-2
      %h4 Price
      %p $199
    .col-md-2
      %h4 Days left
      %p
        %b 15
        %br days