.container.animated.fadeInDown
  .row.text-center.title-first
    %h1.signed-up-title= t('contests.additional_details.thanks_title_capitalize')
  .row
    %hr
.content.container.animated.fadeInDown{ class: (container_class if defined?(container_class)) }
  = content