#roomCreationModal.modal.fade{ tabindex:"-1", role:"dialog", aria: { labelledby:"myModalLabel", hidden: "true" } }
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Create a new room
      .modal-body
        %input
        .button create
      .modal-footer