#roomCreationModal.modal.fade{ tabindex:"-1", role:"dialog", aria: { labelledby:"myModalLabel", hidden: "true" } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, area: { label: 'Close' }}
        %p.title Create a new room
      .modal-body
        =form_for RoomDesign.new, url: contest_request_room_designs_path(contest_request_id: request_id),
                                  method: 'post',
                                  remote: true,
                                  html: {id: 'room-creation-from'} do |f|
          = f.text_field :room
          = f.submit 'create',class: 'create-room-btn btn'
