%form{ action:"https://#{ Settings.aws.bucket_name }.s3.amazonaws.com", method: "post", enctype:"multipart/form-data" }
  %input{:type => :hidden, :name => :key}
  %input{:type => :hidden, :name => "AWSAccessKeyId", :value => Settings.aws.access_key }
  %input{:type => :hidden, :name => :acl,  :value => 'public-read'}
  %input{:type => :hidden, :name => :success_action_status, :value => "200"}
  %input{:type => :hidden, :name => :policy}
  %input{:type => :hidden, :name => :signature}
  %input{:type => :hidden, :name => 'Content-Type'}
