.imageWithOverlay{ class: (container_class if defined?(container_class)) }
  - if defined?(use_div) && use_div
    .image-container{ style: "background-image: url(#{ j(thumb_path) })", class: (image_class if defined?(image_class)) }
  - else
    %img{ class: (image_class if defined?(image_class)), src: thumb_path }/
  .overlayExampleImg
    - if defined?(url_for_downloading)
      %a.download{ href: url_for_downloading }
        %img{ src: download_icon_path }
    %a.enlarge{ class: (enlarge_button_class if defined?(enlarge_button_class)), href: original_size_path }
      %img{ src: enlarge_icon_path }
