%ul.nav.nav-tabs.tabNav.pull-right.hidden-xs{:style => "border:0"}
  - @navigation.tabs.each do |tab, navigation_link|
    = render partial: 'shared/navigation_link', locals: navigation_link.merge(tab: tab)
