.container.animated.fadeInDown
  .row.text-center.title-first
    %h1.signUpTitle= title.upcase
    %h1.signUpSubTitle
      %i.lineHeight60 Etiam risus ex, imperdiet et lobortis id, finibus sed diam. Pellentesque maximus suscipit cursus.
  .row
    = render partial: header
.content.container.animated.fadeInDown
  = content
