.answers
  = link_to t('client_center.entries.answers.no'), 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to t('client_center.entries.answers.maybe'), 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to t('client_center.entries.answers.favorite'), 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to t('client_center.entries.answers.winner'), 'javascript:void(0)', title: 'Not implemented', class: 'winner-answer'