.answers
  = link_to 'No', 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to 'Maybe', 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to 'Favorite', 'javascript:void(0)', title: 'Not implemented'
  |
  = link_to 'Winner', 'javascript:void(0)', title: 'Not implemented'