.answers{ data: { url: answer_contest_request_path(id: request_id) } }
  =render partial: 'clients/answer', locals: { answer: answer, text: t('client_center.entries.answers.no'), btnClass: '' }
  =render partial: 'clients/answer', locals: { answer: answer, text: t('client_center.entries.answers.maybe'), btnClass: '' }
  =render partial: 'clients/answer', locals: { answer: answer, text: t('client_center.entries.answers.favorite'), btnClass: ''}
  =render partial: 'clients/answer', locals: { answer: answer, text: t('client_center.entries.answers.winner'), btnClass: 'disableMargin' }

