.col-md-6.moodboard{ data_id: contest_request.id }
  %div
    - if contest_request.moodboard_image_path
      = image_tag contest_request.moodboard_image_path
    - else
      No images
  .designer
    = contest_request.designer.name
  = render partial: 'clients/moodboard_answers'