.answers
  = link_to t('client_center.entries.answers.no'), 'javascript:void(0)', class: 'answer-no', answer: 'no'
  |
  = link_to t('client_center.entries.answers.maybe'), 'javascript:void(0)', class: 'answer-maybe', answer: 'maybe'
  |
  = link_to t('client_center.entries.answers.favorite'), 'javascript:void(0)', class: 'answer-favorite', answer: 'favorite'
  |
  = link_to t('client_center.entries.answers.winner'), 'javascript:void(0)', class: 'winner-answer'