.col-md-6.moodboard{ data: { id: contest_request.id } }
  .designBox
    %h3= contest_request.designer.name
    .designItem
      - if contest_request.concept_board_image_path
        %a{ href: contest_request_path(id: contest_request.id) }
          .image-container{ style: "background-image: url(#{ j(contest_request.concept_board_image_path) })" }
      - else
        = link_to t('client_center.no_images'), contest_request_path(id: contest_request.id)
    .hLine
    - if show_answer_options && @client
      = render partial: 'clients/moodboard_answers', locals: { request_id: contest_request.id, answer: contest_request.answer }
