/ Pricing Option
#in_pricing
  .container
    .section_header
      \ 
    .row.charts_wrapp
      / Plan Box
      .col-sm-12
        .plan
          .wrapper
            .row
              .page-header
                %h2 Client Center
            .row
              .page-header
                %h3 Welcome to your client center!
            .row.client-center
              .col-sm-12
                / Plan Box
                .col-sm-6.standar
                  .plan
                    .wrapper.client_wrapper
                      %h4 See entries to your contest
                      %ul
                        - if @contest_requests.present?
                          - @contest_requests.each do |cr|
                            %li
                              %a{:href => "javascript:void(0)", :onclick => "alert('Under Implementation!')"}
                                = cr.designer.first_name
                                = cr.designer.last_name
                        - else
                          %li No Response found
                / Plan Box
                .col-sm-6.standar{:style => "float:right;"}
                  .plan
                    .wrapper.client_wrapper
                      %h4 Respond to questions from designers
                      %ul
                        - if @contest_requests.present?
                          - @contest_requests.each do |cr|
                            %li
                              %a{:href => "javascript:void(0)", :onclick => "alert('Under Implementation!')"}
                                = cr.designer.first_name
                                = cr.designer.last_name
                        - else
                          %li No Response found
                / Plan Box
            .row.pickwin{:style => "margin:40px  0"}
              .col-sm-10.col-sm-offset-1
                .alert.alert-success
                  %a{:href => "javascript:void(0)", :onclick => "alert('Under Implementation!')"} Pick a winner