- if @development_scenarios
  - @development_scenarios.each_with_index do |scenario, index|
    %a{ href: scenario[:scenario_class].path(self, scenario_method: scenario[:scenario_method]) }= scenario[:name]
    - unless index == @development_scenarios.length - 1
      *
