<div class="row">
	<div class="col-sm-10">
		<% if flash[:error].present? %>
			<div class="alert alert-danger"><%= flash[:error] %></div>
		<% end %>
		<% if flash[:notice].present? %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>
	</div>
</div>