.col-md-3
  %ul.nav.faqNav{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "customer", "data-toggle" => "tab", :href => "#customer", :role => "tab"} Customer
    %li{:role => "presentation"}
      %a{"aria-controls" => "designer", "data-toggle" => "tab", :href => "#designer", :role => "tab"} Designer