#terms_of_service_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title= t('terms_of_service')
      .modal-body
        %p.SofiaProLight= render partial: 'home/terms_of_service'

:javascript
  $('.terms-of-use').on('click', function(){
    $('#terms_of_service_modal').modal('show')
  })

