.container.main
  %header
  .spanning.clearfix
    .how-it-works-hero{:style => "background-image: url('/assets/how_it_works/how_it_works_hero.jpg');"}
      .how-it-works-hero-gradient
        .wrap
          .how-it-works-hero-title How it works
    .get-started-navigation
      .wrap
        %p get started designing your perfect room now
        = link_to 'Get started', design_brief_contests_path, class: 'button-get-started'
    .how-it-works-lead
      .wrap
        .how-it-works-lead-wrapper
          %p We connect you with a network of interior designers who will develop custom design ideas, layout plans, shopping lists, and assembly instructions for $299, so you can bring to life the beautiful room you’ve always wanted. Join us!
    .how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
      .how-step-background
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how1.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 01.
                    Go through our style brief
                  %ul
                    %li Let us know what your style preferences are, your design experience, and what exactly you want for your room
    .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
      .how-step-background.how-step-blue
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how2.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 02.
                    Receive concept boards from multiple designers
                  %ul
                    %li Over the course of seven days, you will receive between 3 and 5 (sometimes more) concept boards from our designers
                    %li Yotu can view designer portfolios, invite specific designers to your contest - and ask friends to help you pick a winner
    .how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
      .how-step-background.how-step-purple
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how3.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 03.
                    Choose a designer
                  %ul
                    %li Continue the discussion with your designer about what you need and want in your space
                    %li Receive updated product lists based on your budget, and updated concept boards based on your design needs
    .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
      .how-step-background.how-step-rose
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how4.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 04.
                    One-on-one time with your designer
                  %ul
                    %li Hop on a quick call to answer any questions your designer might have
                    %li Receive a product list from your  designer based on what you liked and disliked about their concept board
    .how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
      .how-step-background.how-step-red
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how5.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 05.
                    Collaborate
                  %ul
                    %li Continue the discussion with your designer about what you need and want in your space
                    %li Receive updated product lists based on your budget, and updated concept boards based on your design needs
    .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
      .how-step-background.how-step-yellow
        .wrap
          .how-step-img
            %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how6.jpg", :width => "548"}/
          .how-step-content
            .how-step-wrapper
              .how-step-table
                .how-step-cell
                  %h3
                    %span.how-step-num> 06.
                    Final design
                  %ul
                    %li Receive a floorplan and instructions from your designer on how to pull your new look together
                    %li Purchase all items recommended by your designer in your own time based on your favorite design submission
    .faq-block
      .wrap
        .faq-title FREQUENTLY ASKED QUESTIONS:
        .faq-columns.clearfix
          .faq-column
            .faq-panel
              %a.faq-panel-title{:href => "#"} Who are the designers?
              .faq-panel-drop
                %p Our designers are talented professionals from anywhere in the world. They are chosen to design for InteriorCrowd based on a combination of factors like portfolio, awards and raw talent.
            .faq-panel
              %a.faq-panel-title{:href => "#"} How long does a project take?
              .faq-panel-drop
                %p>
                Generally, the process takes between 1 to 2 weeks. We have a few deadlines in place to keep the process
                moving along swiftly. A huge benefit of InteriorCrowd is how quickly you can go from frustration with
                your room - to inspired for your new space! So, we ask that you respond to your designer within
                the time frame given to you. All details are on the platform, and you will be notified along the way too.
            .faq-panel
              %a.faq-panel-title{:href => "#"} I only want one or two new things, is this for me?
              .faq-panel-drop
                %p Yes! This is their specialty. They will work around your room’s unique needs and within your budget.
          .faq-column
            .faq-panel
              %a.faq-panel-title{:href => "#"} How many designers will i get to choose from?
              .faq-panel-drop
                %p>
                Each project usually receives 3-5 concept boards from designers, but some projects do get more.
                The more information you put in your brief, the more likely you are to get a lot of interest from
                our network of designers.
            .faq-panel
              %a.faq-panel-title{:href => "#"} Can I meet my designer in-person?
              .faq-panel-drop
                %p>
                If you’d like to meet your designer in-person you should add this to your brief so that only designers
                in your area will submit boards to your project. An in-person meeting operates on an hourly fee
                structure and is not included in the $299 price point. For more about pricing,
                = link_to '​see here', faq_path, anchor: 'collapse19'
            .faq-panel
              %a.faq-panel-title{:href => "#"} What can my designer source for me?
              .faq-panel-drop
                %p>
                Your designer will look at your brief and assess what you should get rid of and what you need
                to purchase. They can help you with paint color, furniture pieces, rearranging your room (spatial
                design), flooring, floor coverings, window treatments, light fixtures, decor, wallpaper - you name it.
                %br
                Additionally, they can also take a look at your project before you do a renovation and give you
                a consultation on what to focus on and how to spend your budget. For the latter, we’d recommend
                an in-person consultation. For more info,
                =link_to 'see here', faq_path, anchor: 'collapse10'
        .faq-navigation.clearfix
          = link_to "For more FAQ's please see here", faq_path, class: 'faq-more'
%footer
