%section#feature_slider.lol
  %article#tour.slide{:style => "background: url('/assets/backgrounds/color-splash.jpg') repeat-x top center;"}
    %img.asset.left-472.sp650.t110.z3{:src => "/assets/slides/scene3/scene3b.jpg"}/
    %img.asset.left-365.sp600.t270.z4{:src => "/assets/slides/scene3/scene3c.jpg"}/
    %img.asset.left-350.sp450.t135.z2{:src => "/assets/slides/scene3/scene3a.jpg"}/
    .info
      %h2 Get multiple options
      = link_to 'Launch a contest', design_categories_contests_path()
  %article#responsive.slide{:style => "background: url('/assets/backgrounds/indigo.jpg') repeat-x top center;"}
    %img.asset.left-472.sp600.t100.z2{:src => "/assets/slides/scene4/scene4a.jpg"}/
    %img.asset.left-190.sp500.t120.z4{:src => "/assets/slides/scene4/scene4b.jpg"}/
    .info
      %h2 We love to turn ideas into beautiful home
      = link_to 'Launch a contest', design_categories_contests_path()

#in_pricing
  .container
    .section_header
      \ 
    .row.charts_wrapp
      / Plan Box
      .col-sm-4
        .plan
          .wrapper.home_wrapper
            %h3 How does a contest work for you?
            .features
              %p
                %strong 10
                Shared Projects
              %p
                %strong 4
                Team Members
              %p
                %strong 10
                Storage
            %a.order{:href => design_categories_contests_path} Let's Start
      / Plan Box
      .col-sm-4.standar
        .plan
          .wrapper.home_wrapper
            %h3 successful contests/testimonials
            .features
              %p
                %strong 10
                Shared Projects
              %p
                %strong 25
                Team Members
              %p
                %strong Unlimited
                Storage
            %a.order{:href => design_categories_contests_path} Let's Start
      / Plan Box
      .col-sm-4.standar
        .plan
          .wrapper.home_wrapper
            %h3 Get Inspired by other work
            .features
              %p
                %strong 10
                Shared Projects
              %p
                %strong 4
                Team Members
              %p
                %strong 10
                Storage
            %a.order{:href => design_categories_contests_path} Let's Start