<!-- Pricing Option -->
<div id="in_pricing">
	<div class="container">
		<div class="section_header">
			&nbsp;
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="col-sm-12">
				<div class="plan">
					<div class="wrapper">

						<div class="row">
							<div class="page-header">
								<h2>Become a Designer!</h2>
							</div>
						</div>

						<div class="row">
							<div class="alert alert-info">
								<h3>Do you love <strong>interior design</strong>?</h3>
                                <h3>Do your friends tell you that you have a knock for <strong>style</strong>?</h3>
							</div>

						</div>
						<%= render :partial => 'home/msg' %>

						<div class="container ">

							<div class="row">
								<div class="col-sm-8 col-sm-offset-1 page-title">
									<h3>Get Started</h3>
								</div>
							</div>
							<%= render 'form' %>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>
</div>
