#in_pricing
  .container
    .section_header
      \ 
    .row.charts_wrapp
      / Plan Box
      .col-sm-12
        .plan
          .wrapper
            .row
              .page-header
                %h2 Design Center
            .row
              .page-header
                %h3 Creating your lookbook
            .row
              .page-header
                %h4 Preview
            #blog.container.col-sm-offset-1.preview
              = render partial: 'designers/lookbook/pictures_preview'
              = render partial: 'designers/lookbook/links_preview'
            / Post Row
            .row
              .col-sm-2.col-sm-offset-1
                %a.order{:href => lookbook_designer_path(params[:id]), :style => "width:80%"} Add more
              .col-sm-3
                %a.order{:href => save_lookbook_contest_request_path(params[:id], :op => 'save'), :style => "width:80%"}
                  Save
                  for later
              .col-sm-3
                %a.order{:href => save_lookbook_contest_request_path(params[:id], :op => 'lock'), :style => "width:80%"}
                  I'm
                  ready to go