<!-- Pricing Option -->
<div id="in_pricing">
	<div class="container">
		<div class="section_header">
			&nbsp;
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="col-sm-12">
				<div class="plan">
					<div class="wrapper">

						<div class="row">
							<div class="page-header">
								<h2>Design Center</h2>
							</div>
						</div>
						<div class="row">
							<div class="page-header">
								<h3>Welcome to your designer center!</h3>
							</div>
						</div>

						<div class="row charts_wrapp" style="margin-top:60px">
							<!-- Plan Box -->
							<div class="col-sm-4 standar">
								<div class="plan" >
									<div class="wrapper home_wrapper">
										<div class="planheight">
											<h3 class="price"><a href="<%= contests_path %>">Preview current contests</a></h3>

										</div>

									</div>
								</div>
							</div>
							<!-- Plan Box -->
							<div class="col-sm-4 standar ">
								<div class="plan">
									<div class="wrapper home_wrapper">
										<div class="planheight">
											<h3 class="price"><a href="#" onclick="alert('Under Implementation!'); return false;">Enhance your </br>profile</a></h3>

										</div>

									</div>
								</div>
							</div>
							<!-- Plan Box -->
							<div class="col-sm-4 standar">
								<div class="plan">
									<div class="wrapper home_wrapper">
										<div class="planheight">
											<h3 class="price"><a href="#" onclick="alert('Under Implementation!'); return false;">Respond to contests you're selected</a></h3>

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

</div>

