- buttons = [{ caption: t('designer_center.responds.item.update_moodboard'),
               href: designer_center_response_path(id: respond_id) },
             { caption: t('designer_center.responds.item.send_note'), href: '#' }]
= render partial: 'designer_center_requests/index/options_buttons', locals: { buttons: buttons }
