.col-md-6.disablePadding.text-right.marg-bottom30
  - contest_response = contest.response_of(designer)
  - if contest_response
    %a.updateMyDesign{ href: edit_designer_center_response_path(id: contest_response), class: tracked_link }
      = t('designer_center.responses.item.update_moodboard')
      = image_tag '/assets/gt.png'
  - elsif contest.submission?
    %a.submitMyDesign{ href: new_designer_center_response_path(contest_id: contest.id), class: tracked_link }
      = t('contests.titles.join')
      = image_tag '/assets/gt.png'
