.col-md-12.text-center.marg-bottom30{ style: 'margin-top: -35px; background-color: #4b4b4b; color: white; font-size: 16px; font-weight: bold; padding-top: 15px; padding-bottom: 1em; ' }
  %span{ style: 'font-size: 1.3em' }*
  = t('designer_center.show_page.winner_already_chosen')


