.row.attribute{ data: { option: option } }
  .col-xs-11.preview
    = render partial: "contests/previews/#{ option }_preview"
  .col-xs-1
    %span.edit-button= t('client_center.attribute_edit_button')
