.attribute{ data: { option: option } }
  .preview
    = render partial: "contests/previews/#{ option }_preview"

.edit-button.template
  = render partial: 'clients/client_center/profile/edit_button_image'