.client-center
  = render partial: 'shared/user_center_layout',
      locals: { title: t('client_center.title'),
                header: 'clients/client_center/header',
                content: (yield :client_center_content),
                container_class: try(:container_class) }
