#pickWinnerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.winner-dialog
    .modal-content
      .modal-body
        %p Ready to Pick the Winner?
        %p= t('client_center.entries.winner_dialog.text')
      .modal-footer.disablePadding
        .row.disableMargin
          %a.col-md-6.yes-button{:href => "#"}= t('client_center.entries.winner_dialog.yes')
          %a.col-md-6.no-button{:href => "#"}= t('client_center.entries.winner_dialog.no')
