.winner-dialog-template
  .col-xs-12.winner-dialog
    %div= t('client_center.entries.winner_dialog.text')
    %button.no-button.col-xs-5.btn.btn-default{ type: 'button' }= t('client_center.entries.winner_dialog.no')
    %button.yes-button.col-xs-5.pull-right.btn.btn-primary{ type: 'button' }= t('client_center.entries.winner_dialog.yes')
