%ul.nav.nav-tabs.pull-right
  = render partial: 'clients/client_center/navigation_link', locals: { name: 'Entries', path: entries_clients_path }
  = render partial: 'clients/client_center/navigation_link', locals: { name: 'Brief', path: brief_clients_path }
  = render partial: 'clients/client_center/navigation_link', locals: { name: 'Profile', path: profile_clients_path }
