- content_for :client_center_content do
  .row.client-center.moodboards
    - @contest_requests.in_groups_of(2, false) do |contest_requests|
      - contest_requests.each do |contest_request|
        = render partial: 'clients/moodboard', locals: { contest_request: contest_request }
    .pagination-row
      = will_paginate(@contest_requests)

= render partial: 'clients/client_center/layout'