<tr>
	<td colspan="2">Dear <%= @client.first_name %>,</td>
</tr>

<tr>
	<td colspan="2">&nbsp;</td>
</tr>

<tr>
	<td colspan="2">Your password details for Interior Crowd as below:</td>
</tr>

<tr>
	<td width="150">Password:</td>
	<td width="350"><%= @password %></td>
</tr>

<tr>
	<td colspan="2">&nbsp;</td>
</tr>


		