<tr>
	<td colspan="2">Dear <%= @user.first_name %>,</td>
</tr>

<tr>
	<td colspan="2">&nbsp;</td>
</tr>

<tr>
	<td colspan="2">You have successfully registered with us. Your login details for Interior Crowd as below:</td>
</tr>

<tr>
	<td width="150">Username:</td>
	<td width="350"><%= @user.email %></td>
</tr>

<tr>
	<td width="150">Password:</td>
	<td width="350"><%= @password %></td>
</tr>

<tr>
	<td colspan="2">&nbsp;</td>
</tr>