.col-md-12.disablePadding.text-right.footer
  %a.submitMyDesign.save-button{:href => "#"}= t('designer_center.final_upload.save_for_later')
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %a.submitMyDesign.submit-button{:href => "#"}= t('designer_center.final_upload.submit')