.col-md-12.disablePadding.text-right
  %a.submitMyDesign{:href => "#"}= t('designer_center.final_upload.save_for_later')
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %a.submitMyDesign{:href => "#"}= t('designer_center.final_upload.submit')