.col-xs-12.saveOrSubmit
  %a.submitMyDesign.save-button{:href => "#"}= t('designer_center.final_upload.save_for_later')
  %a.submitMyDesign.submit-button{:href => "#"}= t('designer_center.final_upload.submit')
