.commentContainer
  .row
    .col-md-2
      %img{:height => "40", :src => "/assets/profile-img.png", :width => "40"}/
    .col-md-10
      .row
        .col-md-6
          %p.comment-username= user
        .col-md-6
          %p.comment-time 35 min ago
      %p.comment-text Maecenas euismod luctus ipsum, vitae ornare nisl fringilla vel. Suspendisse vestibulum, neque ac tempor ultrices, dui nisi blandit lectus, vel tristique diam massa et augue.
