.commentContainer
  .row
    .col-md-2
      %img{:height => "40", :src => "/assets/profile-img.png", :width => "40"}/
    .col-md-10
      .row
        .col-md-3
          %p.comment-username= message_name(user, comment)
        .col-md-3
          .comment-text= message_to_name(user, comment)
        .col-md-6
          %p.comment-time= distance_of_time_in_words(Time.current, comment.created_at.in_time_zone, false, highest_measure_only: true) + t('board_comments.ago')
      %p.comment-text= message_body(comment)
