- items.each do |item|
  = render partial: 'designer_center_requests/edit/image_content',
      locals: { editable: editable,
        text: item.text,
        id: item.id,
        image_id: item.image_id,
        image_path: item.thumb_url,
        image_list_name: image_list_name,
        checked_mark: item.mark }