.col-md-4.relative
  - if editable
    %img.small_close{:src => "/assets/small-close.png"}/
  %img.productListIMG{:src => "/assets/placeholder.jpg"}/
  - if editable
    %textarea.productsMoodboardAbove= text
  - else
    %p.productsMoodboardAbove= text