.col-md-4.relative.thumb{ data: { id: image_id } }
  - if editable
    %img.small_close{:src => "/assets/small-close.png"}/
  %img.productListIMG.main-image{:src => image_path}/
  = hidden_field_tag "contest_request[#{ image_list_name }][ids][]", id
  - if editable
    %textarea.productsMoodboardAbove{ name: "contest_request[#{ image_list_name }][texts][]" }= text
  - else
    %p.productsMoodboardAbove= text
  - if mark.present?
    %span.mark.markOk{ data: { mark: 'ok' }, class: ('active' if mark == 'ok') }
    %span.mark.markRemove{ data: { mark: 'remove' }, class: ('active' if mark == 'remove') }
