- if request.fulfillment_ready?
  .row
    .pull-right.submit-to-client
      = link_to '#', class: 'submit submitMyDesign high-button', id: 'submit_to_client' do
        = t('designer_center.respond.submit')
  .row
    .pull-right.ready-for-final-design
      = link_to '#', class: 'moveToFinal', request_id: request.id do
        = t('designer_center.done_btn')
