.clearfix
%h1.font20.makeMeBlack= t('designer_center.portfolio.creation.about')
.col-md-12.no-padding-left.no-padding-right
  = form.text_area :about, placeholder: t('designer_center.portfolio.creation.about_placeholder'),
  :style => "min-width: 47%; height:150px; padding: 15px; font-size: 18px; margin-top: 20px; border: 1px solid #000; border-color:#000000; resize:none;"
.clearfix
