.col-md-12.no-x-padding{:style => "padding-bottom: 40px;"}
  %span{:style => "font-size:20px;"}
    %b= t('designer_center.portfolio.creation.list_awards')
  .clearfix

  - if portfolio.portfolio_awards.present?
    - portfolio.portfolio_awards.pluck(:name).each do |award|
      = render partial: 'portfolios/forms/award_row', locals: { value: award }
  - else
    = render partial: 'portfolios/forms/award_row', locals: { value: '' }
