.lnk_container
  .col-md-10.form-group.no-x-padding
    %input.form-control{name: 'portfolio[awards][]', type: 'text', value: value }
  .col-md-2.text-center-xs.text-center-sm
    %a.plus_wrapper{:href => "#"}
      %i.glyphicon.glyphicon-plus.pull-right.glyphic-link.example-link-glyph.glyphiconPlus
    %a.minus_wrapper{:href => "#"}
      %i.glyphicon.glyphicon-minus.pull-right.glyphic-link.example-link-glyph.glyphiconPlus
    .clearfix
