.col-md-12.no-x-padding
  %span.font20.lineHeight60
    %b= t('designer_center.portfolio.creation.list_awards')
  .clearfix

  - if portfolio.portfolio_awards.present?
    - portfolio.portfolio_awards.pluck(:name).each do |award|
      = render partial: 'portfolios/forms/award_row', locals: { value: award }
  - else
    = render partial: 'portfolios/forms/award_row', locals: { value: '' }
