.rooms.text-center-sm.text-center-xs.personal-picture
  %div.lineBreak
  .some-text.col-md-6.no-padding-left
    %h1.font20.makeMeBlack= t('designer_center.portfolio.creation.upload_personal_picture.title')
    %h1.imageUploadInfo
      %i Images must be smaller than 10M.with .jpg, .gif, .tif, .pdf
  .clearfix
  - path = portfolio.personal_picture.try(:image).try(:url, :medium)
  .thumbs
    .col-md-3.novice.no-padding-left.template.relative
      = render partial: 'contests/options/example_picture_thumb', locals: { src: '' }
    - if path
      .col-md-3.novice.no-padding-left.thumb.relative
        = render partial: 'contests/options/example_picture_thumb', locals: { src: path }
  .clearfix
  .col-md-6.no-x-padding.marg-top20
    %input#personal_picture.hidden{ name: 'image[image]', type: 'file' }
    %input#personal_picture_id{ name: "portfolio[personal_picture_id]",
      type: "hidden",
      value: portfolio.personal_picture.try(:id) }
    %button.btn3.btn3-confirm.upload-button.margin0{:type => "button"}
      = t('designer_center.portfolio.creation.upload_personal_picture.upload_button')
  .clearfix
  .long-separator
