.main-image-block
  %img.main-image.pic{ src: src }
  %a.portfolio-remove-thumb-button{ href: "#" }
    %i.circle3.glyphicon.glyphicon-remove.pull-right.glyphic-round.ex-pos
%a.no-decor.cover-button
  .over-btn.marg-top10
    %div Use as cover image
.mark-icon.text-center
  %img{:src => "/assets/check.png"}/
