%img{ src: src }
%a.remove-thumb-button{ href: "#" }
  %i.circle3.glyphicon.glyphicon-remove.pull-right.glyphic-round
%a.no-decor.cover-button
  .over-btn.marg-top10
    %div Use as cover image
.mark-icon.text-center
  %img{:src => "/assets/check.png"}/
