.rooms.text-center-sm.text-center-xs.uploaded-images
  .some-text.col-md-6.no-padding-left
    %h1{:style => "font-size:20px;color:#231f20; "}= t('designer_center.portfolio.creation.upload_pictrures.title')
    %h1{:style => "color:#504d4e;padding-bottom: 25px;margin-top: 0px;font-size:14px;"}
      %i Images must be smaller than 10M.with .jpg, .gif, .tif, .pdf
  .clearfix
  #portfolio_pictures_preview.col-md-12{:style => " border: 1px dashed black; padding-top: 40px; padding-bottom: 35px; margin-top: 30px;"}
    .container
      .col-md-3.novice.template
        = render partial: 'portfolios/forms/portfolio_picture_thumb', locals: { src: '' }
      - portfolio.pictures.try(:map) do |picture|
        .col-md-3.novice.thumb
          = render partial: 'portfolios/forms/portfolio_picture_thumb', locals: { src: picture.image.url(:medium) }
    .col-md-12.marg-top20
      %p{:style => "font-size: 16px;"} Choose cover image for portfolio page by clicking on the above
  .clearfix
  .col-md-6.no-x-padding{:style => "margin-top:40px;"}
    %input#portfolio_pictures.hidden{ name: 'image[image]', type: 'file', multiple: 'multiple' }
    %input#portfolio_pictures_ids{ name: "portfolio[picture_ids]",
      type: "hidden",
      value: portfolio.pictures.try(:pluck, :id).try(:join, ',') }
    %button.btn3.btn3-confirm.upload-button{:style => "margin: 0;", :type => "button"} Upload images
  .clearfix



