%img{ src: src }
%a.remove-thumb-button{ href: "#" }
  %i.circle3.glyphicon.glyphicon-remove.pull-right.glyphic-round
%a.no-decor{:href => "javascript://", :onclick => "$(this).parent().addClass('active');"}
  .over-btn
    %div Use as cover image
.mark-icon.text-center.hidden
  %img{:src => "/assets/check.png"}/
