%h3.font20= t('designer_center.portfolio.creation.years_of_expirience')
.input-group.spinner
  = form.text_field :years_of_expirience, class: 'form-control'
  .input-group-btn-vertical
    %button.btn.btn-default
      %i.fa.fa-caret-up
    %button.btn.btn-default
      %i.fa.fa-caret-down
.row
