%h3{:style => "font-size:20px;padding-left: 52px;"}= t('designer_center.portfolio.creation.years_of_expirience')
.input-group.spinner{:style => "margin-left: 52px;"}
  = form.text_field :years_of_expirience, class: 'form-control'
  .input-group-btn-vertical
    %button.btn.btn-default
      %i.fa.fa-caret-up
    %button.btn.btn-default
      %i.fa.fa-caret-down
.row
