.footer
  .col-md-12.disablePadding.marg-top10
    .hLine
  .col-md-6.disablePadding
    = link_to designer_center_response_index_path do
      .backToEntries
        %img{:src => "/assets/lt.png"}/
        =t('designer_center.respond.back')
  .col-md-6.disablePadding.text-right
    %a.submitMyDesign{:href => "#"}
      =t('designer_center.my_contests.save_and_preview')
      %img{:src => "/assets/gt.png"}/

.clearfix
.row.marg-top40
  .col-md-4
    %h2.font20.disableMargin=t('designer_center.my_contests.need_to_ask_question')
  .col-md-8
    %textarea.askQuestionTextarea
