:plain
  $(".initialImage").after(function() {
      return $(this).clone().html("#{escape_javascript(render(partial: 'designer_center_requests/show/image_loading', locals: { request: @request }))}");
  });
  $(".initialImage:last").removeClass('initialImage').addClass('editable-mode')
  $(".initialImage").hide()
  ConceptBoardUploader.init(#{ translations_to_json(['contests', 'space', 'uploading_image']) })
