%p.card_type= t("client_center.profile.labels.card_types.#{ client.card_type }") if client.card_type.present?
%br
%p= t('client_center.profile.labels.ending_in')
%p.card_number= client.last_four_card_digits
