%p.daysAway
  = t('client_center.entries.signed_up_message')
  %span.mdLineBreaker
  = t('client_center.entries.signed_up_message_below')

- @invitable_designer_views.in_groups_of(2, false) do |designers|
  .row.designers-row
    - designers.each do |designer|
      = render partial: 'clients/client_center/entries/designer_to_invite',
        locals: { designer: designer }
%a.seeMoreDesigners{ href: coming_soon_path, class: tracked_link }
  = t('client_center.entries.see_more_designers')
