.row.marg-top30
  .col-md-5
    = image_tag 'placeholder.jpg', class: 'productListIMG'
  .col-md-7
    = link_to 'www.wayfair.com/chair', '#', class: 'font20 blueLink'
    %p.designerNote.font20= t('client_center.entries.space.item_note')
.hLine10.marg-top30