.row.marg-top30
  .col-md-5
    = image_tag image_item.thumb_url, class: 'productListIMG'
  .col-md-7
    - [:name, :brand, :dimensions].each do |attribute|
      %p.font16.makeMeBlack.lineHeight25.margin0{ class: attribute.to_s }= image_item.send(attribute)
    - if image_item.price.present?
      %p.font16.makeMeBlack.lineHeight25.margin0{ class: 'price' }$ #{ image_item.price }
    = link_to image_item.link, image_item.link_href, target: '_blank', class: 'font20 blueLink'
.hLine10.marg-top30
