.row.feedbackFromOthers
  .col-md-4
    %p
      = feedback.invitation.username
      %span= feedback.created_at.in_time_zone.strftime(t('client_center.entries.reviewer_invitations.feedback_time_format'))
  .col-md-8
    %p= feedback.text
