.winnerBadge
  %span
  %p Final Design
  .clearfix
- if request.concept_board_current_image
  = render partial: 'shared/image_with_enlarge_button',
      locals: { url_for_downloading: request.concept_board_current_image.url_for_downloading,
                original_size_path: request.concept_board_current_image.original_size_url,
                thumb_path: request.concept_board_current_image.medium_size_url,
                image_class: 'full-width' }
