= render partial: 'clients/client_center/entries/collaboration/image_items_editing_layout',
    locals: { product_items: concept_board_page.image_items.product_items,
              similar_styles: concept_board_page.image_items.similar_styles,
              request: request }
