= render partial: 'clients/client_center/entries/collaboration/image_items_editing_layout',
    locals: { product_items: @visible_image_items.product_items,
              similar_styles: @visible_image_items.product_items,
              request: request }
