= render partial: 'clients/client_center/entries/collaboration/image_items_editing_layout',
    locals: { product_items: request.product_items.for_view,
              similar_styles: request.similar_styles.for_view,
              request: request }
