= render partial: 'clients/client_center/entries/collaboration/image_items_editing_layout',
    locals: { product_items: @entries_page.visible_image_items.product_items,
              similar_styles: @entries_page.visible_image_items.similar_styles,
              request: request }
