%a.inviteToContest.hide480{ class: "#{ 'designer-invitation-button' unless invited } #{ css_class }" }
  = invited ? t('client_center.entries.invitations.invited') : t('client_center.entries.invitations.invite')
