.text-center
  %h3{:style => "font-weight:normal;margin-top:0px;margin-bottom:30px;"}
    %b Let’s explore more our feature.
  .clearfix
.text-center.clearfix{ style: 'float: none; width: 100%' }
  .center-block{ style: 'display: inline-block;' }
    .col-md-4.circle-big{:style => "font-size:18px;margin-right:20px;"}
      %a.link-underline{:href => "#"}
        %b Get Inspired
    .col-md-4.circle-big{:style => "font-size:18px;margin-right:20px;"}
      %a.link-underline{:href => "#"}
        %b See example
    .col-md-4.circle-big{:style => "font-size:18px; padding-top: 50px;"}
      %a.link-underline{:href => "#"}
        %b
          Share brief
          %br/
          with your friend
