.row
  .hLine
.row.designerFeedback
  .col-md-5.col-md-offset-1
    %h4 Want to send a note to the designers?
    %textarea
    %button.btn Send
  .col-md-5
    %h4 Your note
    #scrollbox4.notes
      %ul
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 15 min ago
        %li.delimiter
        %li
          %p
            Aliquam vitae metus vel tortor malesuada vehicula sit amet nec dui.
            %span 21 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
        %li.delimiter
        %li
          %p
            Suspendisse sollicitudin bibendum metus.
            %span 25 hr ago
