.row.bottom60
  .col-md-12.disablePadding.text-right
    = link_to '1', '#', class: 'pageLink makeMeBold'
    = link_to '2', '#', class: 'pageLink'
    = link_to '3', '#', class: 'pageLink'
    = link_to t('paginate.next'), '#', class: 'pageLink makeMeBold'
