.container.animated.fadeInDown
  .row
    .col-md-8.disablePadding
      .moodboard-steps.marg-top30
        - phases.each_with_index do |word, index|
          %p{class: phases_classes(active_tab-1)[index]}
            %span= index+1
            = word
        .clearfix
