.container.animated.fadeInDown.bottom60
  .row
    .col-md-8.disablePadding
      .moodboard-steps
        %p.stepActive
          %span 1
          Initial Concept
        %p
          %span 2
          Customized Board and Product List
        %p
          %span 3
          Final Design
        .clearfix
      %p.chooseP Choose your favorite design concept
