.moodboard-steps.steps123
  - PhasesStripe::PHASES.each_with_index do |phase_name, index|
    %div{ class: stripe.css_class(index) }
      %span.number= index + 1
      %p.name= stripe.text(index)
  .clearfix
