.moodboard-steps.steps123{ class: "#{ stripe.container_css_class } #{css_class if defined?(css_class)}" }
  - PhasesStripe::PHASES.each_with_index do |phase_name, index|
    %div{ class: stripe.css_class(index) }
      %span.number= index + 1
      %p.name= stripe.text(index)
  .clearfix
