.row.my-menu.picture-and-dimensions-reminder
  .col-md-6.no-padding-right.logo-pc.text-center-md.text-center-xs.text-center-sm.description
    .top-nav
      %label.reminder
        %b=t('client_center.entries.picture_dimensions')
      %label.contact
        %i=t('client_center.entries.email_pictures')
  .col-md-6.text-right.text-center-md.text-center-xs.text-center-sm.pull-top.options
    %a{ href: coming_soon_path, class: tracked_link }
      %button.btn7.btn-need{:type => "button"}
        %b=t('client_center.entries.what_do_i_need')
    .clearfix.visible-md.visible-xs.visible-sm
    %a{ href: pictures_dimension_client_center_index_path, class: tracked_link }
      %button.btn7.btn-ready
        %b=t('client_center.entries.ready_to_go')
