.dontForgetPicDim.row.relative
  .col-md-6
    %h4= t('client_center.entries.picture_dimensions')
    %p= t('client_center.entries.email_pictures')
  .col-md-6.buttons
    %p
      %a.btn{ href: coming_soon_path, class: tracked_link }= t('client_center.entries.what_do_i_need')
      %a.btn{ href: client_center_pictures_dimension_path, class: tracked_link }= t('client_center.entries.ready_to_go')
