.row.my-menu{:style => "background-color:#f1f1f1;position: relative;"}
  .col-md-6.no-padding-right.logo-pc.text-center-md.text-center-xs.text-center-sm{:style => "padding-left: 20px;"}
    .top-nav.pull-down
      %label{:style => "font-size:18px;"}
        %b Don’t Forget Your Picture & Dimensions
      %label{:style => "font-size:14px;font-weight:normal;"}
        %i You can e-mail pictures to us at pictures@interiorcrowd.com
  .col-md-6.text-right.text-center-md.text-center-xs.text-center-sm.pull-top{:style => "padding-left: 45px;padding-right: 45px;"}
    %button.btn7.btn-need{:type => "button"}
      %b What do I need
    .clearfix.visible-md.visible-xs.visible-sm
    %button.btn7.btn-ready{:type => "button"}
      %b I’m ready to go
