.row.my-menu.picture-and-dimensions-reminder
  .col-md-6.no-padding-right.logo-pc.text-center-md.text-center-xs.text-center-sm.description
    .top-nav.pull-down
      %label.reminder
        %b Don’t Forget Your Picture & Dimensions
      %label.contact
        %i You can e-mail pictures to us at pictures@interiorcrowd.com
  .col-md-6.text-right.text-center-md.text-center-xs.text-center-sm.pull-top.options
    %button.btn7.btn-need{:type => "button"}
      %b What do I need
    .clearfix.visible-md.visible-xs.visible-sm
    %button.btn7.btn-ready{:type => "button"}
      %b I’m ready to go
