.row.invitation-row.lnk_container
  .col-md-4
    %label{:for => "nameInvite"}= t('client_center.entries.reviewer_invitations.name')
    %input.nameInvite{:type => "text" }/
  .col-md-5
    %label{:for => "emailInvite"}= t('client_center.entries.reviewer_invitations.email')
    %input.emailInvite{:type => "text" }/
  .col-md-2.disablePadding.buttons
    %button.btn.perform-invite= t('client_center.entries.reviewer_invitations.invite')
    %button.btnInvite
      %span.glyphicon.glyphicon-plus.plus_wrapper{"aria-hidden" => "true"}
      %span.glyphicon.glyphicon-minus.minus_wrapper{"aria-hidden" => "true"}
