#designer.tab-pane{:role => "tabpanel"}
  #accordion1.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    %span.font20= t('faq.designer', hello_email: mail_to(t('feedback_email'))).html_safe
