%tr
  %td{:colspan => "2"}
    Dear #{@user.first_name},
%tr
  %td{:colspan => "2"} &nbsp;
%tr
  %td{:colspan => "2"} Your password details for Interior Crowd as below:
%tr
  %td{:width => "150"} Password:
  %td{:width => "350"}= @password
%tr
  %td{:colspan => "2"} &nbsp;
