#blog {margin-top: 10px;}
#blog .post_row {margin-bottom: 40px;}
#blog .post_row .post {
background: #fff;
margin-left: 0;
border-radius: 4px;
box-shadow: 0 1px 3px 1px #E0E0E0; }
#blog .post_row .post .img {
position: relative; }
#blog .post_row .post .img img {
min-height: 186px; }
#blog .post_row .post .text {
margin: 18px auto 0;
width: 83%; }
#blog .post_row .post .designview {
margin-top: 5px ;
padding:5px;
width: 99%; line-height: 21px;
font-size: 14px;}
#blog .post_row .post .text h5 {
margin: 0 0 8px 0;
font-size: 20px;
line-height: 23px; }
#blog .post_row .post .text h5 a {
color: #333; }
#blog .post_row .post .text p {
margin: 0;
line-height: 21px;
font-size: 14px; }
#blog .post_row .post a.plus_wrapper {
width: 99%;
text-align: center;
background: #fff;
display: block;
border-radius: 0px 0px 4px 4px;
padding: 6px 0px 2px;
color: #f00;
font-size: 16px;

}
#blog .post_row .post a.plus_wrapper span {
font-size: 30px;
font-weight: bold;
margin-top: 6px;
padding-top: 6px;
margin-left: 3px;

}
#blog .post_row .post:hover {
box-shadow: 0px 0px 7px 2px #d8d8d8; }


.plan a.editlink {
background-color: #2190DB;
text-align: center;
margin: 5px 0 0 0 ;
display: block;
padding: 3px 0;
color: #fff;
font-size: 13px;
font-weight: bold;
border-radius: 5px;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
}

.design-category  .btn{width:25%;margin-left:-15px !important;}

  
