- value_html = capture do
  %p= t("contests.additional_details.space_needs_accommodate.#{ @contest.accommodate_pets }") if @contest.accommodate_pets.present?
= render(partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.accommodate_pets'),
                                                    value: value_html })