- value_html = capture do
  %span.selection= t("contests.additional_details.space_needs_accommodate.#{ @contest.accommodate_children ? 'yes' : 'no'}")
= render(partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.accommodate_children'),
                                                    value: value_html })
