- value_html = capture do
  (
  = @contest_view.additional_preferences.map { |preference, value| t("contests.additional_details.#{ preference.name }.#{ value }") }.join(', ')
  )
= render(partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.additional_preferences'),
                                                    value: value_html })