- value_html = capture do
  %span.selection= @contest_view.category.try(:name)
= render(partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.design_categories'),
                                                    value: value_html })

