- value_html = capture do
  - @contest_view.appeal_scales.each do |style|
    - if style.opinion
      %span.selection.style-name= style.opinion
      %img.appeal-collage-image{:src => style.collage_picture }/
      .comment
        = style.reason
    .clearfix
    %p
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.design_style'), value: value_html }
