- value_html = capture do
  %span.selection= number_to_currency(BudgetPlan.find(@contest_view.budget_plan).price, precision: 0)
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.designer_package'), value: value_html }
