- value_html = capture do
  %p= @contest.client.designer_level.try(:name)
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.design_knowledge'), value: value_html }
