- value_html = capture do
  %span.selection= @contest.client.designer_level.name
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.design_knowledge'), value: value_html }
