- value_html = capture do
  %span.selection= @contest_view.elements_to_avoid.html_safe
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.elements_to_avoid'), value: value_html }
