- value_html = capture do
  - index = 0
  .row
    .col-md-9
      - @contest_view.links.try(:in_groups_of, 3, false) do |group|
        - group.each do |url|
          = link_to url, url, class: 'exampleSite'
          - index = index + 1

= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.links'), value: value_html }
