- value_html = capture do
  %span.selection= 'I am really looking for help specifically with my rug. I also want to see how to pull it all together.'
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.other_information'), value: value_html }
