.col-sm-5.title
  %p #{ title }:
.col-sm-6.attribute-form
  .view
    = value
.col-sm-1.text-right
  .edit-button
    %a{ href: '#' }
      = image_tag '/assets/edit.png'

.col-sm-12
  .col-sm-12
    .edit{ style: 'display: none;' }
