- value_html = capture do
  %span.selection ( Anthropologie Home, Crate and Barrel, CB2, Room and Board, Target )
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.preferences_retailers'), value: value_html }
