- value_html = capture do
  .row
    - @contest_view.space_pictures.try(:each) do |image|
      = render partial: 'shared/image_with_enlarge_button',
          locals: { container_class: 'pull-left gallery-item',
                    image_class: 'fullWidth',
                    thumb_path: image.medium_size_url,
                    original_size_path: image.original_size_url,
                    url_for_downloading: image.url_for_downloading,
                    enlarge_button_class: 'space' }
  .row
    %u.glyphicon.glyphicon-download-alt
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.space_pictures'), value: value_html }
