- value_html = capture do
  .row
    .col-md-9
      %span.selection
        - @contest_view.dimensions.each do |space_dimension|
          - if space_dimension.value.present?
            %p.normal-font
              = space_dimension.name
              \: #{space_dimension.to_feet} feet, #{space_dimension.to_inches} inches

= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.space_dimensions'), value: value_html }
