- value_html = capture do
  %input.colors.selection{value: @contest_view.undesirable_colors}
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.undesirable_colors'), value: value_html }
