- if image_items.count > 0
  .row.productList
    - if defined?(block_text)
      .col-sm-12
        %h4= title
        .fullWidthLine.marginBottom20.marginTop20
        %p.light14Gray= block_text

  .items
    - image_items.in_groups_of(2, false).each do |items|
      .row
        - items.each do |item|
          = render partial: 'designer_center_requests/edit/image_content_client_view',
              locals: { item: ImageItemView.new(item), markable: choosable }
