.productItems.imageItems{ data: { scope: 'product_items', url: "/contests/#{ contest_page.contest.id }/image_items" } }
  = render contest_page.entries_concept_board_page.paginated_image_items_partial('product_items')
.similarStyles.imageItems{ data: { scope: 'similar_styles', url: "/contests/#{ contest_page.contest.id }/image_items" } }
  = render contest_page.entries_concept_board_page.paginated_image_items_partial('similar_styles')
