.col-md-4.relative
  %img.productListIMG{:src => "/assets/placeholder.jpg"}/
  - if choosable
    %p.text-right.marg-top10
      %span.mark.markOk
      %span.mark.markRemove
  %p.productsMoodboardAbove= text