.col-md-4.relative.image-item{ data: { id: id } }
  .main-image-block
    %img.productListIMG.main-image{ src: image_path }/
  - if choosable
    %p.text-right.marg-top10
      - ImageItem::MARKS.values.each do |mark|
        %span.mark{ data: { mark: mark },
          class: ImageItemMarkOptionView.new(mark, checked_mark).css_class }
  %p.productsMoodboardAbove= text
