#thanksModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title= t('client_center.entries.collaboration.modal.title')
      .modal-body
        %p.SofiaProLight= t('client_center.entries.collaboration.modal.body')

:javascript
  $(document).ready(function(){
    $('.submitMyDesign').on('click', function(){
      $('#thanksModal').modal('show');
    })
  })
