.commentContainer
  .row
    .col-md-12
      .row
        .col-md-6
          %p.comment-username= comment.author_name
        .col-md-6
          = link_to comment.href do
            %p.comment-time= comment.updated_at_text
      %p.comment-text= comment.text.html_safe
