.notification.row{type: notification.type}
  .leftBorderNotification{:class => "#{ notification.color }Label"}
  %a{ href: notification.path(current_user), class: tracked_link }
    %p.designerNotification{ class: notification.read_class }
      = notification.text
