.row.my-menu.paddTop20
  .col-md-3.no-padding-right.logo-pc.username
    .top-nav
      %label.font20= t('designer_center.welcome_user', username: @designer.first_name)
  .col-md-9.no-padding-right
    .top-nav
      .nav-collapse
        = render partial: 'shared/navigation'
.rooms.text-package.text-center.text-center-sm.text-center-xs.underMenuLine
