.row.my-menu.visible-lg.paddTop20
  .col-md-4.no-padding-right.logo-pc
    .top-nav.pull-down
      %label.font20= t('designer_center.welcome_user', username: @designer.first_name)
  .col-md-8.no-padding-right.pull-down
    .top-nav
      .nav-collapse
        = render partial: 'shared/navigation'
.rooms.text-package.text-center.text-center-sm.text-center-xs.underMenuLine
