@mixin link {
  color: #428bca;
  cursor: pointer;
}

.hover-link-color:hover {
  @include link;
}

.intc-pagination {
  .pageNumber {
    width: 398px;
    display: inline-block;
  }

  em, span {
    font-size: 22px;
    color: #231f20;
    display: inline-block;
    line-height: 56px;
    padding: 0 23px;
  }

  em.current {
    text-decoration: none;
    background: #231f20;
    color: #FFF;
  }
}

.moodboard {
  .image-container {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.client-center {
  .header {
    border-bottom: 1px solid #eee;
  }

  .moodboards {
    .pagination-row {
      clear: both;
      text-align: center;
    }
  }

  .winner-dialog-template {
    display: none;
  }

  .winner-dialog {
    margin-bottom: 45px;
  }

  .edit-button {
    @include link;
  }

  .save-button {
    @include link;
  }

  .profile {
    .row.attribute {
      .preview {
        color: black;

        .edit {
          display: none;

          .field {
            margin-bottom: 20px;
          }
        }
      }
    }

    .save {
      text-align: center;
    }
  }
}

.client-signup {
  .main-title {
    font-weight: normal;
  }

  .agreement {
    display: inline-block;
    margin-bottom: 50px;
  }

  .apply-button:hover{
    color: black;
  }

  .clickable{
    cursor: pointer;
  }

  #promocode-valid{
    color: #409863;
  }

  .promocode-message {
    font-weight: bold;
    margin-top: 5px;
  }

}

.divider-line {
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 60px;
}

.entries-container {
  .picture-and-dimensions-reminder {
    background-color: #f1f1f1;
    position: relative;

    .description {
      padding-left: 20px;

      .reminder {
        font-size: 18px;
      }

      .contact {
        font-size: 14px;
        font-weight: normal;
      }
    }

    .options {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .invite-designer-title {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .more-designers-link {
    margin-top: 40px;

    p {
      font-size: 24px;
      text-decoration: underline;
      margin-bottom: 0;
      font-weight: normal;
      text-decoration-color: red;

      a {
        color: #a9a9a9;
      }
    }
  }

  .invitation-row{
    margin-top: 20px;
  }
}

.education {
  .title {
    font-size: 20px;
    margin-top: 0px;
  }

  .tick-btn {
    border-radius: 0;
  }

  label {
    font-size: 20px;
  }
}

.sections_table .view p span {
  font-size: 16px!important;
}

h3.congrats {
  margin-bottom: 0px!important;
}

.responses-filter-dropdown{
  padding-left: 0px;

  .popover-title button { display: none }
}

.result-answer {
  color: white!important;
  background: black!important;
}

.novice.thumb {
  img.pic {
    width: calc(100% - 30px);
  }
}
.ex-pos {
  position: static!important;
}

.remove-thumb-button {
  display: inline-block;
  vertical-align: top;
}
.signed-up-title {
  font-weight:normal;
}

.winner-badge-offset-bottom {
  margin-bottom: 30px;
}

.winner-badge-offset-top {
  margin-top: 30px;
}

.btn-ready, .btn-need {
  color: black;
}

.picture-and-dimensions-reminder a {
  text-decoration: none;
}

.entries-container {
  padding-top: 20px;
}

.more-features{
  margin-top: 2em;

  .title{
    font-weight:normal;
    margin-top:0px;
    margin-bottom:30px;
  }

  .items{
    float: none;
    width: 100%;

    .center-block{
      display: inline-block;
    }

    .circle-big{
      font-size:18px;
    }
  }
}
