.client-center {
  .header {
    border-bottom: 1px solid #eee;
  }

  .moodboards {
    .pagination-row {
      clear: both;
      text-align: center;
    }

    .moodboard {
      text-align: center;
    }
  }

  .winner-dialog {
    margin-bottom: 45px;
  }
}
