// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contest-preview {
  .plans {
    margin-top: 60px
  }

  #err_plan {
    padding-left: 25px;
  }
}

#contests-preview {
  .contest-item {
    cursor: pointer;
  }

  .contest-item:hover td {
    background-color: #f0f0f0;
    color: #428bca;
  }

  h3 {
    margin-top: 1em !important;
  }
}