.contest-preview {
  .plans {
    margin-top: 60px;
  }

  #err_plan {
    padding-left: 25px;
  }

  .projectname {
    margin-top: 20px;
    padding: 5px;

    #project_name {
      width: 100%;
    }
  }

  .plan-container {
    .plan {
      cursor: pointer;
    }
  }

  .plan-container.active {
    .plan {
      background-color: #E5E5E5 !important;
    }
  }
}

#contests-preview {
  .contest-item {
    cursor: pointer;
  }

  .contest-item:hover td {
    background-color: #f0f0f0;
    color: #428bca;
  }

  table {
    margin-bottom: 30px;
  }
}

#choose-room {
  label {
    font-weight: normal;
  }

  .question, .question2, .question label, .question2 label {
    cursor: pointer !important;
  }

  .subtitle {
    font-size: 16px;
    color: #000000;
  }

  .category-description {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
  }

  .rooms {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 60px;

    .title {
      margin-top: 34px;
      margin-bottom: 20px;
    }

    .room-selector-sub {
      padding: 20px 20px;
    }
  }

  .areas-row.last-in-row {
    padding-bottom: 40px;
  }

  .option-item {
    cursor: pointer;
  }
}

.mm-page .container:before {
  display: block;
}

#designer-center-contest-show {
  .footer {
    margin-top: 20px;
    padding-right: 20px;
    padding-top: 15px;
    border-top: 1px solid rgb(221, 221, 221);
  }
}

#additional-details {
  #title {
    .main {
      font-size: 20px;
      margin-top: 20px;
    }
  }

  #call_us_button {
    font-size: 25px;
  }

  #preferences {
    label {
      display: inline;
    }
  }

  button.done {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #main-title {
    margin-bottom: 30px;
  }

  #form-container {
    margin-top: 30px;

    #accommodation {
      margin-top: 30px;
    }
  }
}

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  float: left
}

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0;
  left: 3px;
  font-size: 32px;
}

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.regular-radio + label:active,
.regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.big-radio + label {
  padding: 14px;
}

.big-radio:checked + label:after {
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
}

.footer-buttons {
  margin-top: 50px;
  margin-bottom: 50px;

  .back-button {
    padding: 9px 5px;
    font-size: 26px;
  }

  .continue-button {
    padding: 9px 5px;
    font-size: 26px;
  }
}

.design-style-options {
  .appeal-options {
    .header {
      margin-top: 17px;

      .title {
        color: #231f20;
        font-size: 24px;
      }
    }

    .appeal {
      .likes {
        padding-top: 25px;

        .option .text {
          font-size: 24px;
        }

        label {
          font-weight: normal;
        }
      }

      .telluswhy {
        .title {
          font-size: 24px;
        }

        .optional {
          color: #dfdfdf;
        }
      }

      textarea {
        resize: none;
        height: 48px;
      }
    }

    .border {
      border-bottom: 1px solid #e1e1e1;
      height: 1px;
    }
  }

  .quote {
    font-size: 24px;
  }

  #description {
    font-size: 16px;
    color: #231f20;
  }

  #header {
    padding: 0px;
  }

  .designer-levels {
    .title {
      margin-bottom: 50px;

      h1 {
        color: #231f20;
        font-size: 24px;
      }
    }

    .designer-level {
      .check {
        position: absolute;
        bottom: 30%;
        width: 100%;
      }
    }

    .all-under-block {
      h1 {
        color: #000000;
        font-size: 24px;
      }
    }
  }

  .select2-choices {
    background-image: inherit !important;
    background-color: inherit !important;
  }

  .select2-search-choice {
    background-image: inherit !important;
    width: 48%;
    height: 3.5em;
    border: none !important;
    background-color: inherit !important;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    -webkit-box-shadow: none !important;
    padding: 3px 5px 3px 18px !important;
  }

  .select2-search-choice-close {
    right: 20%;
    background: inherit;
    left: auto !important;
    width: 0px;

    .glyphic-r {
      top: 20px;
    }
  }

  .no-search {
    display: none
  }

  .colors-table {
    margin-bottom: 25px;
  }

  .color-cell {
    cursor: pointer;
  }

  .picker-types-separator {
    font-size: 24px;
    margin-top: 20px;
  }

  .selected-colors-container {
    position: inherit;
  }

  .color-input-container {
    padding-right: 20px;

    .color-name {
      width: 100%;
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .colors-type-title {
    color: #231f20;
    padding-bottom: 25px;
    margin-top: 58px;
    font-size: 24px;
  }

  .fav-color {
    margin-right: 20px;
    height: 100%;
  }

  .upload-button {
    margin-bottom: 38px;
  }

  .template {
    display: none;
  }

  .links-options {
    .title {
      padding-bottom: 40px;

      span {
        font-size: 24px;
      }
    }

    .bottom-border {
      border-bottom: 1px solid #e1e1e1;
      height: 1px;
      padding-top: 29px;
    }
  }

  .links {
    input {
      height: 63px;
    }
  }

  .example-pictures {
    .border {
      border-bottom: 1px solid #e1e1e1;
      height: 1px;
      margin-top: 20px;
    }

    .title {
      h1 {
        color: #231f20;
        padding-bottom: 25px;
        margin-top: 70px;
        font-size: 24px;
      }
    }

    #image_display {
      border: 1px dashed black;
      height: 315px;
      padding-top: 40px;
    }

    .file-input-container {
      margin-top: 40px;
    }

    .question {
      .caption {
        margin-left: 25px;

        .text-price {
          font-size: 24px;
        }
      }
    }
  }
}

.search-color-item {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: bottom;
}

.template {
  display: none;
}

.space-options {
  .space-pictures {
    .description {
      .title {
        font-size: 20px;
        color: #231f20;
      }

      .hint {
        font-size: 16px;
      }

      .requirements {
        font-size: 14px;
        line-height: 35px;
      }

      .see-guidline {
        font-size: 18px;
        text-decoration: underline;
        font-weight: normal;
        text-align: right;
      }
    }

    .thumbs {
      border: 1px dashed black;
      padding-top: 40px;
      padding-bottom: 35px;
      margin-top: 30px;
      text-align: center;

      #image_display {
        padding-bottom: 10px;
      }
    }

    .upload-button-container {
      margin-top: 40px;

      .upload-button {
        margin-bottom: 38px;
      }
    }

    .alternatives {
      line-height: 25px;
    }
  }

  .dimensions {
    .title {
      font-size: 20px;
      color: #231f20;
    }

    .hint {
      font-size: 16px;
    }

    .dimensions-margin {
      margin-bottom: 15px;
    }

    .dimension {
      margin-top: 25px;

      .name {
        font-size: 20px;
      }

      .units {
        font-size: 20px;
      }

      input {
        height: 40px;
      }

      .text-error {
        padding-left: 15px;
      }
    }
  }

  .design-budget {
    .description {
      margin-bottom: 20px;

      .title {
        margin-top: 34px;
        margin-bottom: 0;
      }

      .hint {
        font-size: 14px;
        color: #000000;
      }
    }
  }

  .feedback {
    .title {
      margin-top: 34px;
      margin-bottom: 0;
    }

    textarea {
      width: 100%;
      height: 355px;
      padding: 15px;
      font-size: 24px;
      margin-top: 20px;
      border: 5px solid #000;
      border-color: #e1e1e1;
      border-radius: 10px 10px 0px 0px;
      resize: none;
    }

    .send-button {
      height: 98px;
      width: 100%;
      border-top: 0px;
      border-radius: 0px 0px 10px 10px;
    }
  }
}

#design_space {
  .title {
    .description {
      padding-left: 0px;

      span {
        font-size: 16px;
        color: #000000;
      }
    }
  }

  .rooms-conditional-options {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
  }

  .pictures-or-dimensions {
    .title {
      margin-top: 34px;
      margin-bottom: 0;
    }

    .hint {
      font-size: 14px;
      color: #000000;
    }

    .question {
      .caption {
        margin-left: 25px;

        .text-price {
          font-size: 24px;
        }
      }
    }
  }

  .footer-buttons {
    margin-bottom: 50px;
  }
}

.plans-container {
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 60px;

  .packages {
    margin-bottom: 35px;

    h1 {
      font-size: 30px;
    }
  }

  .learn-more-container {
    margin-top: 2em;

    p {
      font-size: 30px;
      text-decoration: underline;

      a {
        color: #a9a9a9;
      }
    }
  }

  .packages-description {
    font-size: 20px;
    color: #949292;
  }
}

.plans {
  margin-bottom: 3em;

  .plan-container.active {
    padding-bottom: 40px;
    padding-top: 40px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    background: rgba(0, 0, 0, 0.1)
  }

  .plan-container {
    .header {
      background: #dbdbdb;
      border-radius: 10px 10px 0px 0px;
      padding-top: 28px;
      padding-bottom: 28px;

      .name {
        font-size: 30px;
      }

      .price {
        font-size: 45px;
      }
    }

    .plan {
      cursor: pointer;
    }

    .body {
      background: #fafafb;
      border-radius: 0px 0px 10px 10px;
      padding-top: 28px;
      height: 420px;
      padding-left: 20px;
      padding-right: 20px;

      .service {
        font-size: 24px;

        span {
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 1px solid #e1e1e1;
        }
      }

      .not-first {
        margin-top: 20px;
      }
    }
  }
}

#account_creation {
  .project-name-container {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 60px;
  }

  .expiration-label {
    white-space: nowrap;
  }
}

.col-md-3.novice.thumb {
  padding-right: 20px;
}

.menu-room {
  opacity: 1!important;
  visibility: visible!important;
  display: none;
}

.brief {
  .edit-profile:nth-child(1) {
    border: none;
  }

  .edit-profile {
    border-top: 1px solid #e1e1e1;
    padding: 40px 0px 30px;
  }

  .edit-profile .view:nth-child(1) p {
    font-weight: normal;
  }

  .edit-profile {

    .content {
      margin: 0px 50px 0px 50px;

      .edit {
        display: none;
      }

    }
  }

  .cancel-button {
    color: #428bca;
    cursor: pointer;
  }

  .save-button {
    color: white;
  }
}

.sections_table {
  .view {
    p {
      span {
        font-weight: normal;
      }
    }
  }
  .text-right {
    display: none;
  }

}