.designer-voice {
  margin-bottom: 10px;
}

.volume-bar{
  width: 45px;
  height: 5px;
  position: absolute;
  left: 15px;
  top: 2px;

  .ui-slider-handle {
    height: 15px;
    width: 5px;
    margin-left: -2px;
  }
}

.volume-icon {
  top: -6px;
}

.play-buttons {
  float: left;

  span {
    top: -6px;
    cursor: pointer;
  }
}
