.contest-preview {
  .plans {
    margin-top: 60px
  }

  #err_plan {
    padding-left: 25px;
  }
}

#contests-preview {
  .contest-item {
    cursor: pointer;
  }

  .contest-item:hover td {
    background-color: #f0f0f0;
    color: #428bca;
  }

  table {
    margin-bottom: 30px;
  }
}

#choose-room {
  .regular-radio {
    display: none;
  }

  .regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    float: left
  }

  .regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0;
    left: 3px;
    font-size: 32px;
  }

  .regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .regular-radio + label:active,
  .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .big-radio + label {
    padding: 16px;
  }

  .big-radio:checked + label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
  }

  label {
    font-weight: normal;
  }

  .question, .question label {
    cursor: pointer !important;
  }

  .subtitle {
    font-size: 18px;
  }

  .category-description {
    font-size: 18px;
    line-height: 30px;
  }

  .rooms {
    padding-bottom: 40px;
    border-bottom: 4px solid #e1e1e1;
    margin-bottom: 60px;

    title {
      margin-top: 34px;
      margin-bottom: 20px;
    }

    .room-selector {
      padding: 20px 20px;
    }
  }

  .areas-row {
    margin-bottom: 40px;
  }
}

.mm-page .container:before {
  display: block;
}

#designer-center-contest-show {
  .footer {
    margin-top: 20px;
    padding-right: 20px;
    padding-top: 15px;
    border-top: 1px solid rgb(221, 221, 221);
  }
}
