// Place all the styles related to the designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#designer-signup {
  .designer-center-title {
    font-weight: normal;
    font-size: 30px;
    color: #000000;
  }

  h3.subtitle {
    font-weight: normal;
    font-size: 20px;
    color: #707070;
  }

  .divide-line {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 60px;
  }

  .font20 {
    font-size: 20px;
  }

  .agreement {
    display: inline-block;
    margin-bottom: 50px;
  }

  .links-to-work-title {
    padding-bottom: 40px;
    font-size: 20px;
  }

  .example-link-glyph {
    left: 39px;
    top: 6px;
    position: static;
    float: left !important;
    margin-top: 6px;
  }

  .upload-examples-title {
    color: #231f20;
    margin-top: 25px;
    font-size: 20px;
  }

  .upload-examples-subtitle {
    color: #504d4e;
    padding-bottom: 25px;
    margin-top: 0px;
    font-size: 14px;
  }

  .thumbs {
    border: 1px dashed black;
    min-height: 315px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .upload-button-container {
    margin-top: 40px;
  }
}
