.designer-center {
  .content {
    padding-top: 15px;
  }

  .footer {
    margin-top: 20px;
  }
}

#designer-center-responses {

  .response {
    margin-bottom: 20px;

    .moodboard {
      margin-left: 50px;

      div {
        margin-top: 5px;
      }

      .options {
        button {
          margin-right: 10px;
        }
      }
    }
  }

  .notifications-container {
    position: inherit;
  }
}

#notes-edit-dialog, #save-button{
  display: none;
}
.btnGroupComments {
  width: 337px!important;
}

.productsMoodboardAbove {
  overflow: visible;
}

#respond {
  .row.lnk_container {
    margin-bottom: 20px;
  }

  #file_input-button, #SWFUpload_0, #file_input {
    width: 250px !important;
  }
}

.lookbook-thumb {
  padding-top: 20px;

  img {
    width: 50%;
    float: left
  }
}
#scrollBoxComments {
  width: 311px;
  padding-right: 27px;
  outline: none;
  overflow: hidden;
}

.edit-picture-btn {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 5px 18px;
  display: inline-block;
  cursor: pointer;
}