.designer-center {
  .content {
    padding-top: 15px;
  }

  .footer {
    margin-top: 20px;
  }
}

#designer-center-responses {

  .notifications-container {
    position: inherit;
  }

  .footer-line {
    margin: 0 0 2.5em 0;
  }

  .header-row {
    margin-bottom: 0px;
    padding-bottom: 1em;
  }

}

#notes-edit-dialog, #save-button{
  display: none;
}
.btnGroupComments {
  width: 298px;
  li {
    width: 97px;
  }
}

.productsMoodboardAbove {
  overflow: visible;
}

#respond {
  .row.lnk_container {
    margin-bottom: 20px;
  }

  #file_input-button, #SWFUpload_0, #file_input {
    width: 250px !important;
  }
}

.lookbook-thumb {
  padding-top: 20px;

  img {
    width: 50%;
    float: left
  }
}
#scrollBoxComments {
  width: 311px;
  padding-right: 27px;
  outline: none;
  overflow: hidden;
}

.edit-picture-btn {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 5px 18px;
  display: inline-block;
  cursor: pointer;
}

#searchBox {
  width: 100% !important;

  input {
    width: 100% !important;
  }
}

.fulfillmentPeriodBtn{
 margin-right: 0px !important;
}

.contestUnderway #searchBox{
  margin: auto !important;
  float: inherit !important;
}

.contestUnderway #searchBox button {
  top: 7px !important;
}

@media (max-width: 768px) {
  .contestUnderway #searchBox button {
    top: -2px !important;
  }

}

.loser-text {
  text-align: center; margin-bottom: 15px;
}
.loser-text.big{
  font-size:26px;
  font-weight: bold;
}
.loser-text.small{
  font-size:22px;
}


.updates-notifications {
  .allBtn {
    color: #000;
    background: #FFF;
    border: 1px solid #000;
  }

  .allBtn[reverse] {
    color: #FFF;
    background: #000;
  }

  .filter-buttons {
    .btn {
      font-weight: 700;
      font-size: 18px;
      padding: 2px 12px;
      margin-right: 20px;
    }
  }
}

.okMark {
  color: green;
}

.removeMark {
  color: red;
}

.create-contest-button, .create-contest-button:hover {
  border: 1px solid #a9a9a9;
  padding: 5px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.concept-board-upload-hint {
  margin: 0px;
}
.phase-initial {
  margin-left: -11px;
}

.btn-done {
  border: 1px solid #a9a9a9;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
  margin-right: 30px;
}