.designer-center {
  .content {
    padding-top: 15px;
  }

  .footer {
    margin-top: 20px;
  }
}

#designer-center-responses {

  .response {
    margin-bottom: 20px;

    .moodboard {
      margin-left: 50px;

      div {
        margin-top: 5px;
      }

      .options {
        button {
          margin-right: 10px;
        }
      }
    }
  }
}

//#designer-response-view {
//  .designer-notes {
//    margin-top: 20px;
//    .notes {
//      margin-top: 20px;
//
//      textarea {
//        background-color: white;
//        width: 100%;
//      }
//    }
//
//    .edit-button {
//      background-color: white;
//    }
//  }
//
//  #notes-edit-dialog {
//    display: none;
//  }
//}

#respond {
  .row.lnk_container {
    margin-bottom: 20px;
  }

  #file_input-button, #SWFUpload_0, #file_input {
    width: 250px !important;
  }
}

.lookbook-thumb {
  padding-top: 20px;

  img {
    width: 50%;
    float: left
  }
}
#scrollBoxComments {
  width: 311px;
  padding-right: 27px;
  outline: none;
  overflow: hidden;
}