// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  .logo {
    position: relative;

    div {
      margin-top: -210px;
    }
  }
}

.optionalSignup {
  input.email[type='text'] {
    margin-top: -6px !important;
  }
}

.top-nav.pull-down {
  margin-top: 41px;
}

@media (max-width: 1199px) {
  .main-menu > li > a {
    padding: 30px 8px !important;
  }

  .menu-border {
    margin-top: 0px !important;
  }

  .top-nav.pull-down {
    margin-top: 32px;
  }
}

.emailLabelPrivateBeta {
  margin-top: -6px !important;
  margin-bottom: 27px !important;
  padding-bottom: 0px !important;
}

#client_btns {
  text-align: left;
}

.navigation-btn:hover {
  background: #000;
  color: #fff;
  b {
    color: #fff;
  }
}

.bottom20 {
  padding-bottom: 20px;
}

.logo-pc.username {
  padding-bottom: 7px;
}

.commentSent {
  visibility: hidden;
}

input[type="radio"] {
  display: inline;
}

input[type="radio"].smallRadio, input[type="radio"].big-radio {
  display: none;
}

input[type="radio"].smallRadio + label span {
  background-repeat: no-repeat;
}

.image-items {
  .markOk.active {
    background-position: bottom left;
  }
  .markRemove.active {
    background-position: bottom right;
  }

  .upload-button {
    margin-top: 0px;
  }

  .thumb {
    margin-bottom: 0px;
  }
}

.terms-of-services {
  .marg-top {
    margin-top: 15px;
  }
}

#terms_of_service_modal, #designer_contract_modal {
  overflow: scroll;
  .modal-dialog {
    width: 90% !important;
  }
}

.terms-of-use, .designer-contract {
  cursor: pointer;
  color: #428bca;
  display: inline-block;
}

.footer .main-menu > li > a {
  padding: 10px 25px 14px !important;
/*  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 14px;
*/}

.footer .footer-menu > li > a {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 14px;
}

.close-modal {
  margin-top: -25px !important;
}

.close-btn {
  margin-bottom: 0px;
  margin-top: 10px;
}

.terms-tick {
  float: none;
  display: inline-block;
}

.black-hover:hover {
  background: #000;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#body-container {
  min-height: 100%;
  position: relative;
}

#body-content {
  padding-bottom: 190px; /* Height of the footer */
}

#body-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px; /* Height of the footer */
  z-index: -9999;
}

#body-footer .footer {
  padding-right:0px !important;
  padding-left:0px !important;
}

.mm-page {
  height: 100%;
}

.full-width {
  width: 100%
}

@media (max-width: 640px){
  .moreConceptBoards{
    display: block;
  }

}

.soft-hide {
  display: none;
}


.sticky-nav {
  width:100%;
  height:0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  -webkit-transition: all 500ms ease ;
  transition: all 500ms ease;
  h5 {
    font-family: "AvenirLTStd-Medium";
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #666666;
  }
  .row {
    margin: 10px auto;
    width: 910px;
    .col:first-child {
      text-align: left;
      padding: 6px 0 0;
    }
    .col:last-child {
      text-align: right;
      padding:0;
    }
  }
}

.sticky {
  height: 60px;
  -webkit-transition: all 300ms ease ;
  transition: all 300ms ease;
}


a.getStartedSticky {
  border-radius: 3px;
  display: inline-block;
  background: #FF7D26;
  font-family: "AvenirLTStd-Medium";
  color: #FFFFFF;
  font-size: 15px;
  line-height: 40px;
  width: 170px;
  text-align: center;
}


@media (max-width: 991px) {
  .sticky-nav {
    .row {
      padding: 0 30px;
      width: auto;
    }
    h5 {
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .sticky-nav {
    h5 {
      margin: 0;
      line-height: 1.4;
    }
    .row {
      padding: 0 20px;
      .col:first-child {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 479px) {
  .row {
    .col:first-child {
      display: none;
    }
    .col:last-child {
      text-align: center !important;
      width: 100% !important;
    }
  }
}
