// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  .logo {
    position: relative;

    div {
      margin-top: -210px;
    }
  }
}

.copyright {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 40px;

  .copyright-sign {
    font-size: 27px;
    margin-right: 7px;
    position: relative;
    top: 3px;
  }
}

.optionalSignup {
  input.email[type='text'] {
    margin-top: -6px !important;
  }
}

.top-nav.pull-down {
  margin-top: 41px;
}

@media (max-width: 1199px) {
  .main-menu > li > a {
    padding: 30px 8px !important;
  }

  .menu-border {
    margin-top: 0px !important;
  }

  .top-nav.pull-down {
    margin-top: 32px;
  }
}

.emailLabelPrivateBeta {
  margin-top: -6px !important;
  margin-bottom: 27px !important;
  padding-bottom: 0px !important;
}

#client_btns {
  text-align: left;
}

.navigation-btn:hover {
  background: #000;
  color: #fff;
  b {
    color: #fff;
  }
}

.bottom20 {
  padding-bottom: 20px;
}

.logo-pc.username {
  padding-bottom: 7px;
}

.commentSent {
  visibility: hidden;
}

input[type="radio"] {
  display: inline;
}

input[type="radio"].smallRadio, input[type="radio"].big-radio {
  display: none;
}

input[type="radio"].smallRadio + label span {
  background-repeat: no-repeat;
}

.btnGroupComments li a {
  padding: 10px 17px !important;
}

.image-items {
  .markOk.active {
    background-position: bottom left;
  }
  .markRemove.active {
    background-position: bottom right;
  }
}
.terms-of-services {
  .marg-top {
    margin-top: 15px;
  }
}
#terms_of_service_modal {
  overflow: scroll;
  .modal-dialog {
    width: 90%!important;
  }
}
.terms-of-use {
  cursor: pointer;
  color: #428bca;
  display: inline-block;
}

.footer .main-menu > li > a {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 14px;
}

.footer .footer-menu > li > a {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 14px;
}

.close-modal {
  margin-top: -25px!important;
}

.close-btn {
  margin-bottom: 0px;
  margin-top: 10px;
}

.terms-tick {
  float: none;
  display: inline-block;
}

.black-hover:hover {
  background: #000;
  color: #fff;
}
