// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  .logo {
    position: relative;

    div {
      margin-top: -210px;
    }
  }
}

.copyright {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;

  .copyright-sign {
    font-size: 27px;
    margin-right: 7px;
    position: relative;
    top: 3px;
  }
}

.optionalSignup {
  input.email[type='text'] {
    margin-top: -6px !important;
  }
}

.top-nav.pull-down {
  margin-top: 41px;
}

@media (max-width: 1199px) {
  .main-menu > li > a {
    padding: 30px 8px !important;
  }

  .menu-border {
    margin-top: 0px !important;
  }

  .top-nav.pull-down {
    margin-top: 32px;
  }
}

.emailLabelPrivateBeta {
  margin-top: -6px !important;
  margin-bottom: 27px !important;
  padding-bottom: 0px !important;
}

#client_btns {
  text-align: left;
}

.navigation-btn:hover {
  background: #000;
  color: #fff;
  b {
    color: #fff;
  }
}

.bottom20 {
  padding-bottom: 20px;
}

.logo-pc.username {
  padding-bottom: 7px;
}

.commentSent {
  visibility: hidden;
}

input[type="radio"] {
  display: inline;
}

input[type="radio"].smallRadio, input[type="radio"].big-radio {
  display: none;
}

input[type="radio"].smallRadio + label span {
  background-repeat: no-repeat;
}

.btnGroupComments li a {
  padding: 10px 17px !important;
}

.image-items {
  .markOk.active {
    background-position: bottom left;
  }
  .markRemove.active {
    background-position: bottom right;
  }

  .upload-button {
    margin-top: 0px;
  }

  .thumb {
    margin-bottom: 0px;
  }
}

.terms-of-services {
  .marg-top {
    margin-top: 15px;
  }
}

#terms_of_service_modal {
  overflow: scroll;
  .modal-dialog {
    width: 90% !important;
  }
}

.terms-of-use {
  cursor: pointer;
  color: #428bca;
  display: inline-block;
}

.footer .main-menu > li > a {
  padding: 10px 25px 14px !important;
/*  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 14px;
*/}

.footer .footer-menu > li > a {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 14px;
}

.close-modal {
  margin-top: -25px !important;
}

.close-btn {
  margin-bottom: 0px;
  margin-top: 10px;
}

.terms-tick {
  float: none;
  display: inline-block;
}

.black-hover:hover {
  background: #000;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#body-container {
  min-height: 100%;
  position: relative;
}

#body-content {
  padding-bottom: 180px; /* Height of the footer */
}

#body-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px; /* Height of the footer */
}

#body-footer .footer {
  padding-right:0px !important;
  padding-left:0px !important;
}

.mm-page {
  height: 100%;
}

.full-width {
  width: 100%
}

@media (max-width: 768px){

  .footer  .top-nav.col-sm-5 .nav-collapse li {
    /*width: 50%;*/
  }

}
@media (max-width: 640px){
  .moreConceptBoards{
    display: block;
  }

}

@media (max-width: 991px) and (min-width: 321px) {
  .footer .main-menu > li {
    width: 25%;
  }
  .footer .main-menu.footer-menu > li {
    width: 33.3333%;
  }
}

@media (max-width: 320px) {
  .footer .main-menu.footer-menu > li {
    width: 100%;
  }

  .footer .main-menu > li > a {
    padding: 20px 30px !important;
  }  

  .footer .main-menu > li > a.right-side {
    text-align: left;
  }

  .footer .main-menu > li {
    width: 50%;
  }
}

.soft-hide {
  display: none;
}
