.logo {
  display: block;
  width: 94px;
  height: 93px;
  background: url('/assets/logo2.png');
  margin: 7px 0px;
}

.fullWidthLine {
  background: #e1e1e1;
  width: 100%;
  height: 1px;
}

.needHelp {
  background-color: #bebebe;
  color: #ffffff;
  font-size: 14px;
  padding: 2px 31px;
  margin-top: -2px;
}

.headerBox .nav {
  margin-top: 40px;
}

.headerBox .nav > li > a {
  color: #000;
  font-size: 16px;
}

.headerBox .nav > li > a:hover {
  background: transparent;
  border-color: transparent;
}

.headerBox .nav-tabs {
  border-bottom: none;
}

.headerBox .dropdown-menu {
  /*left: -60px;*/
}

.headerBox .dropdown-menu > li > a {
  font-size: 16px;
  padding: 10px 20px;

}

.headerBox .nav .open > a, .headerBox .nav .open > a:focus, .headerBox .nav .open > a:hover {
  background: transparent;
  border-color: transparent;
}

.mobileMenu {
  position: relative;
}

.mobileMenu a {
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAbCAMAAAA9O+1hAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAaYc9lQKzAAAAG0lEQVQ4y2NgZCYSMDGMKh1wMBoFo7E1PJUCAOVMChjqhypgAAAAAElFTkSuQmCC);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 0px;
}

.footerLinks a {
  font-size: 14px;
  color: #231f20;
  font-family: 'AvenirLTStd-Medium';
  display: inline-block;
  line-height: 75px;
  padding: 0px 25px;
}

.footerSocial {
  text-align: right;
}

.footerSocial a {
  display: inline-block;
  line-height: 75px;
  padding: 0px 25px;
}

@media(max-width: 992px) {
  .footerSocial a, .footerLinks a {
    padding: 0px 20px;
  }

  /*}
  @media(max-width:767px){*/
  .footerLinks, .footerSocial {
    text-align: center;
  }
  .footerSocial a {
    padding: 0px 5%;
  }
  .footerLinks a {
    padding-top: 25px;
    line-height: 25px;
  }
  .copyright {
    font-size: 14px !important;
  }
}

@media(max-width: 480px) {
  .footerSocial a {
    padding: 0px;
    float: left;
    width: 30%;
    padding: 0px 12px;
  }
  .footerSocial a:nth-child(1) {
    width: 20%;
    text-align: left;
  }
  .footerSocial a:nth-child(4) {
    width: 20%;
    text-align: right;
  }
}

@media(max-width: 360px) {
  .footerLinks a {
    display: block;
  }
  .footerSocial a {
    width: 50% !important;
    /*text-align: center !important;*/
  }
  .footerSocial a:nth-child(odd) {
    text-align: right;
    padding-right: 20px;
  }
  .footerSocial a:nth-child(even) {
    text-align: left;
    padding-left: 20px;
  }
}

.copyright {
  font-size: 18px;
  color: #231f20;
  padding: 40px 0px;
  font-family: 'AvenirLTStd-Roman';
}

.copyright .copyright-sign {
  font-size: 27px;
  margin-right: 7px;
  position: relative;
  top: 3px;
}

.nav-tabs a {
  cursor: pointer;
}

#body-header, #body-footer{
  background-color: white;
}

.siteFooter{
  display: block;
}
