h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: 'AvenirLTStd-Medium';
}

body{
  font-family: 'AvenirLTStd-Medium';
}
.logo{
  display: block;
  width: 94px;
  height: 93px;
  background: url('/assets/logo.png');
  margin: 7px 0px;
}
.fullWidthLine{
  background: #e1e1e1;
  width: 100%;
  height: 1px;
}
.needHelp{
  background-color: #bebebe;
  color: #ffffff;
  font-size: 14px;
  padding: 2px 31px;
  margin-top: -2px;
}
.headerBox .nav{
  margin-top: 40px;
}
.headerBox .nav>li>a{
  color: #000;
  font-size: 16px;
}
.headerBox .nav>li>a:hover{
  background: transparent;
  border-color: transparent;
}
.headerBox .nav-tabs{
  border-bottom: none;
}
.headerBox .dropdown-menu{
  /*left: -60px;*/
}
.headerBox .dropdown-menu>li>a{
  font-size: 16px;
  padding: 10px 20px;

}
.headerBox .nav .open>a,.headerBox .nav .open>a:focus,.headerBox  .nav .open>a:hover{
  background: transparent;
  border-color: transparent;
}
.mobileMenu{
  position: relative;
}

.mobileMenu a{
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAbCAMAAAA9O+1hAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAaYc9lQKzAAAAG0lEQVQ4y2NgZCYSMDGMKh1wMBoFo7E1PJUCAOVMChjqhypgAAAAAElFTkSuQmCC);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 0px;
}

.footerLinks a{
  font-size: 14px;
  color: #231f20;
  font-family: 'AvenirLTStd-Medium';
  display: inline-block;
  line-height: 75px;
  padding: 0px 25px;
}
.footerSocial{
  text-align: right;
}
.footerSocial a{
  display: inline-block;
  line-height: 75px;
  padding: 0px 25px;
}
@media(max-width:992px){
  .footerSocial a,.footerLinks a{
    padding: 0px 20px;
  }

  /*}
  @media(max-width:767px){*/
  .footerLinks,.footerSocial{
    text-align: center;
  }
  .footerSocial a{
    padding: 0px 5%;
  }
  .footerLinks a{
    padding-top: 25px;
    line-height: 25px;
  }
  .copyright{
    font-size: 14px !important;
  }
}
@media(max-width:480px){
  .footerSocial a{
    padding: 0px;
    float: left;
    width: 30%;
    padding: 0px 12px;
  }
  .footerSocial a:nth-child(1){
    width: 20%;
    text-align: left;
  }
  .footerSocial a:nth-child(4){
    width: 20%;
    text-align: right;
  }
}
@media(max-width:360px){
  .footerLinks a{
    display: block;
  }
  .footerSocial a{
    width: 50% !important;
    /*text-align: center !important;*/
  }
  .footerSocial a:nth-child(odd){
    text-align: right;
    padding-right: 20px;
  }
  .footerSocial a:nth-child(even){
    text-align: left;
    padding-left: 20px;
  }
}
.copyright{
  font-size: 18px;
  color: #231f20;
  padding: 40px 0px;
  font-family: 'AvenirLTStd-Roman';
}
.copyright .copyright-sign {
  font-size: 27px;
  margin-right: 7px;
  position: relative;
  top: 3px;
}
/*clientLoginBox*/
.clientLoginBox{
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: 200px;
}
.clientLoginBox h3{
  font-family: 'AvenirLTStd-Roman';
  font-size: 24px;
  line-height: 20px;
  padding: 40px 0px;
  text-align: center;
  background: #e1e1e1;
  margin: 0px;
}
.clientLoginBox form{
  padding: 40px 95px;
}
.clientLoginBox input[type=text],.clientLoginBox input[type=password]{
  display: block;
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 16px;
  font-family: 'AvenirLTStd-LightOblique';
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  padding: 0px 20px;
  width: 100%;
}
.clientLoginBox input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.forgotPass:hover,.forgotPass{
  font-family: 'AvenirLTStd-LightOblique';
  font-size: 14px;
  color: #000;
}
.rememberMe{
  color: #000;
  font-family: 'AvenirLTStd-Light';
  font-size: 14px;
  font-weight: 300;
}
.clientLoginBox input[type=submit]{
  background: #409863;
  color: #FFF;
  font-size: 20px;
  width: 100%;
  margin-top: 40px;
  padding: 0px;
  height: 60px;
  line-height: 60px;
}
@media(max-width:992px){
  .clientLoginBox{
    margin-top: 60px;
  }
}
@media(max-width:767px){
  .clientLoginBox form{
    padding: 40px 25px;
  }
}
@media(max-width:640px){
  .clientLoginBox {
    /*margin: 0px 20px;*/
    margin-left: 5%;
    width: 90%;
  }
}
@media(max-width:480px){
  .clientLoginBox {
    /*margin: 0px 20px;*/
    margin-left: 5%;
    width: 90%;
  }
  .clientLoginBox form{
    padding: 40px 10px;
  }
}
/* end clientLoginBox*/

/* start CC-profile-editing*/
.profileEditingBox{
  border-radius: 10px;
  margin: 0px 50px;
}
.profileEditingBox .row{
  padding: 30px 0px;
}
.profileEditingBox .row .title p{
  margin: 0px;
  font-size: 18px;
  padding-left: 20px;
}
.profileEditingBox .row .placeholder p{
  margin: 0px;
  font-family: 'AvenirLTStd-Light';
  font-size: 16px;
}
.profileEditingBox .row .placeholder a{
  color: #000;
  text-decoration: underline;
  margin: 0px;
  font-family: 'AvenirLTStd-Light';
  font-size: 16px;
}
.profileEditingBox .row .edit-button a{
  display: inline-block;
  /*margin-right: 15px;*/
}
.profileEditingBox label{
  display: block;
}
.profileEditingBox span{
  color: #a9a9a9;
  font-size: 14px;
  line-height: 40px;
  font-family: 'AvenirLTStd-Light';
}
.profileEditingBox input[type=text], .profileEditingBox input[type=password]{
  display: block;
  height: 38px;
  width: 367px;
}
.profileEditingBox input[type=text], .profileEditingBox input[type=password], .profileEditingBox .bootstrap-select .selectpicker{
  border-radius: 3px;
  border: 1px solid #a9a9a9;
}
.savePassBtn,.cancelPassBtn{
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: 38px;
  width: 98px;
  text-align: center;
  margin-right: 10px !important;
  text-decoration: none !important;
  font-family: 'AvenirLTStd-Medium' !important;
  font-size: 20px !important;
  background-color: white;
  cursor: pointer;
}
@media(max-width: 1200px){
  .profileEditingBox{
    margin: 0px;
  }
}
.profileEditingBox .menu-buttons{
  margin-top: 10px;
}

.profileEditingBox .row .address p{
  display: inline;
}

.profileEditingBox .row .billing-address p{
  display: inline;
}

/* end CC-profile-editing*/


/* start CC-confirm-winner */
#pickWinnerModal .modal-dialog{
  width: 500px;
  box-shadow: none;
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 40px auto;
}
#pickWinnerModal .modal-content{
  border-radius: 3px;
  box-shadow: none;
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 15px;
  padding-top: 50px;
}
#pickWinnerModal .modal-content p{
  line-height: 60px;
  font-family: 'SofiaProLight';
}
#pickWinnerModal .modal-footer{
  border-top: 1px solid #666666;
  margin-top: 60px;
}
/*#pickWinnerModal .modal-footer .row{

}*/
#pickWinnerModal .modal-content a{
  font-weight: 700;
  text-align: center;
  background: #e3e4e5;
  color: #000;
  height: 94px;
  line-height: 94px;
}
#pickWinnerModal .modal-content a:hover{
  text-decoration: none;
  background: #adafb1;
  color: #FFF;
}
#pickWinnerModal .modal-content a:nth-child(1){
  border-right: 1px solid #666666;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#pickWinnerModal .modal-content a:nth-child(2){
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;

}
.disableMargin{
  margin: 0px;
}
@media(max-width: 767px){
  #pickWinnerModal .modal-dialog{
    width: 90%;
    margin: 40px auto;
  }
  #pickWinnerModal .modal-content{
    font-size: 28px;
  }
  #pickWinnerModal .modal-content p{
    line-height: 40px;
  }
  #pickWinnerModal .modal-content a{
    line-height: 80px;
    height: 80px;
  }
}
@media(max-width: 480px){
  #pickWinnerModal .modal-content{
    font-size: 20px;
    padding-top: 50px;
  }
  #pickWinnerModal .modal-content p{
    line-height: 30px;
  }
  #pickWinnerModal .modal-content a{
    line-height: 60px;
    height: 60px;
  }

}
/* end CC-confirm-winner */


.bootstrap-select{
  span{
    color: black;
  }
}
