h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: 'AvenirLTStd-Medium';
}

body{
  font-family: 'AvenirLTStd-Medium';
}
/*clientLoginBox*/
.clientLoginBox{
  border-radius: 3px;
  border: 1px solid #ececec;
  padding: 0px;
  margin: 80px auto 200px 25%;
  width: 50%;
}
.clientLoginBox h3{
  font-family: 'AvenirLTStd-Medium';
  font-size: 24px;
  line-height: 20px;
  padding: 35px 0;
  text-align: center;
  color: #666666;
  margin-bottom: -30px;
}
.clientLoginBox form{
  padding: 40px 95px;
}
.clientLoginBox input[type=text],.clientLoginBox input[type=password]{
  display: block;
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 16px;
  font-family: 'AvenirLTStd-Roman';
  border-radius: 2px;
  border: 1px solid #a9a9a9;
  padding: 0px 20px;
  width: 100%;
}
.clientLoginBox input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.forgotPass:hover,.forgotPass{
  font-family: 'AvenirLTStd-Roman';
  font-size: 14px;
  color: #a9a9a9;
}
.rememberMe{
  color: #a9a9a9;
  font-family: 'AvenirLTStd-Roman';
  font-size: 14px;
  font-weight: 300;
}
.clientLoginBox input[type=submit]{
  background: #409863;
  color: #FFF;
  font-size: 20px;
  width: 100%;
  margin-top: 15px;
  padding: 0px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
}
@media(max-width:992px){
  .clientLoginBox{
    margin-top: 60px;
    width: 70%;
    margin-left: 15%;
  }
}
@media(max-width:767px){
  .clientLoginBox form{
    padding: 40px 25px;
  }
}
@media(max-width:640px){
  .clientLoginBox {
    /*margin: 0px 20px;*/
    margin-left: 5%;
    width: 90%;
  }
}
@media(max-width:480px){
  .clientLoginBox {
    border: none;
    margin-left: -3.5%;
    width: 107%;
  }
  .clientLoginBox form{
    padding: 40px 10px;
  }
}
/* end clientLoginBox*/

/* start CC-profile-editing*/
.profileEditingBox{
  border-radius: 10px;
  margin: 0px 50px;
}
.profileEditingBox .row{
  padding: 30px 0px;
}
.profileEditingBox .row .title p{
  margin: 0px;
  font-size: 18px;
  padding-left: 20px;
}
.profileEditingBox .row .placeholder p{
  margin: 0px;
  font-family: 'AvenirLTStd-Light';
  font-size: 16px;
}
.profileEditingBox .row .placeholder a{
  color: #000;
  text-decoration: underline;
  margin: 0px;
  font-family: 'AvenirLTStd-Light';
  font-size: 16px;
}
.profileEditingBox .row .edit-button a{
  display: inline-block;
  /*margin-right: 15px;*/
}
.profileEditingBox label{
  display: block;
}
.profileEditingBox span{
  color: #a9a9a9;
  font-size: 14px;
  line-height: 40px;
  font-family: 'AvenirLTStd-Light';
}
.profileEditingBox input[type=text], .profileEditingBox input[type=password]{
  display: block;
  height: 38px;
  width: 367px;
}
.profileEditingBox input[type=text], .profileEditingBox input[type=password], .profileEditingBox .bootstrap-select .selectpicker{
  border-radius: 3px;
  border: 1px solid #a9a9a9;
}
.savePassBtn,.cancelPassBtn{
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: 38px;
  width: 98px;
  text-align: center;
  margin-right: 10px !important;
  text-decoration: none !important;
  font-family: 'AvenirLTStd-Medium' !important;
  font-size: 20px !important;
  background-color: white;
  cursor: pointer;
}
@media(max-width: 1200px){
  .profileEditingBox{
    margin: 0px;
  }
}
.profileEditingBox .menu-buttons{
  margin-top: 10px;
}

.profileEditingBox .row .address p{
  display: inline;
}

.profileEditingBox .row .billing-address p{
  display: inline;
}

/* end CC-profile-editing*/


/* start CC-confirm-winner */
#pickWinnerModal .modal-dialog{
  width: 500px;
  box-shadow: none;
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 40px auto;
}
#pickWinnerModal .modal-content{
  border-radius: 3px;
  box-shadow: none;
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 15px;
  padding-top: 50px;
}
#pickWinnerModal .modal-content p{
  line-height: 60px;
  font-family: 'SofiaProLight';
}
#pickWinnerModal .modal-footer{
  border-top: 1px solid #666666;
  margin-top: 60px;
}
/*#pickWinnerModal .modal-footer .row{

}*/
#pickWinnerModal .modal-content a{
  font-weight: 700;
  text-align: center;
  background: #e3e4e5;
  color: #000;
  height: 94px;
  line-height: 94px;
}
#pickWinnerModal .modal-content a:hover{
  text-decoration: none;
  background: #adafb1;
  color: #FFF;
}
#pickWinnerModal .modal-content a:nth-child(1){
  border-right: 1px solid #666666;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#pickWinnerModal .modal-content a:nth-child(2){
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;

}
.disableMargin{
  margin: 0px;
}
@media(max-width: 767px){
  #pickWinnerModal .modal-dialog{
    width: 90%;
    margin: 40px auto;
  }
  #pickWinnerModal .modal-content{
    font-size: 28px;
  }
  #pickWinnerModal .modal-content p{
    line-height: 40px;
  }
  #pickWinnerModal .modal-content a{
    line-height: 80px;
    height: 80px;
  }
}
@media(max-width: 480px){
  #pickWinnerModal .modal-content{
    font-size: 20px;
    padding-top: 50px;
  }
  #pickWinnerModal .modal-content p{
    line-height: 30px;
  }
  #pickWinnerModal .modal-content a{
    line-height: 60px;
    height: 60px;
  }

}
/* end CC-confirm-winner */

.bootstrap-select{
  span{
    color: black;
  }
}

.privacyPolicyPage{
  h1, h2, h3, h4, h5{
    font-weight: normal;
    font-family: 'AvenirLTStd-Light';
  }
}
