.portfolio-creation {
  .cover-button {
    cursor: pointer;
  }
}

.portfolio-item .glyphicon-remove {
  visibility: visible !important;
}

.designStyleSpan {
  margin-bottom: 4px;
}

.image-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
}

.portfolio_profile_image{
  width: 150px;
  height: 150px;
}

.portfolio-remove-thumb-button {
  position: absolute; right: 0px;
}

.editCover{
  img {
    background-color: rgba(0,0,0,0.4)
  }
}
