.portfolio-creation {
  .cover-button {
    cursor: pointer;
  }
}

.portfolio-item .glyphicon-remove {
  visibility: visible !important;
}

.designStyleSpan {
  margin-bottom: 4px;
}

.portfolio_profile_image{
  width: 150px;
  height: 150px;
}

.portfolio-remove-thumb-button {
  position: absolute;
  right: 0px;
}

.portfolio_example{
  .imageWithOverlay {

    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.editCover {

  text-decoration: none !important;
  border-radius: 5px;
  border: white solid 2px;
  padding: 10px 25px;

  .label {
    padding: 0px;
    display: inline;
    font-size: 16px;
    margin-right: 5px;
  }
  img {
    display: inline;
    margin-top: -6px;
    width: 13px;
  }
}

.editCover:hover, .inviteToContest:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.inviteToContest, .inviteToContest:hover, .inviteToContest:focus{
  font-weight: 700;
  font-size: 16px;
  border: 2px solid white;
  width: 176px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  color: white;
  display: inline-block;
  position: absolute;
  right: 0px;
  border-radius: 5px;
  bottom: -10px;
}

.bottom-stripe{
  height: 80px;
  width: 100%;
  margin-top: -80px;
  color: white;

  .relative {
    height: 80px;
  }

  .buttons-container {
    position: absolute;
    bottom: 28px;
    left: 33%;

    .drag-label {
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-right: 1em;
      cursor: pointer;
    }

    .drag-icon {
      color: white;
      font-size: 16px;
      padding-right: 5px;
      cursor: pointer;
    }
  }

  .drag-menu{
    float: right;

    .drag-menu-button{
      color: #fff;
      border-radius: 5px;
      border: white solid 2px;
      padding: 10px 25px;
      font-size: 16px;
      font-weight: bold;
      margin-left: 1em;
      cursor: pointer;
    }
  }
}

.bottom-stripe.with-buttons {
  background-color: rgba(0, 0, 0, 0.4);
}

.cover_image {
  background-position: 0% 0%;
}
