.image-items .list-kind .items {
  .line {
    border-top: 1px solid #E9E9E9;
    display:inline-block;
    margin-top: 15px;
    width: 100%;
  }
  .line.right {
    width: 95%;
  }
  .collapse-icon {
    color: #c8c8c8;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-top: 7px;
    float: right;
    font-size: 15px;
  }

  .row.collapsed .collapse-icon::after {
    content: "+";
  }
  .row .collapse-icon::after {
    content: "-";
  }
  .room-name {
    border:1px solid #E9E9E9;
    display: inline-block;
    text-align: center;
    height: 30px;
    margin-bottom: 15px;
    overflow:hidden;

    p {
      font-size: 13px;
      margin-top: 6px;
      color: #A9A9A9;
      text-transform: uppercase;
      line-height: 20px;
    }
  }
}
.image-items .list-kind .productList {
  .add-room-button {
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #4F9F6F;
    padding: 6px 15px;
    color: #4F9F6F;
    border-radius: 25px;
    cursor: pointer;
    width: 130px;
    float:right;
    margin-bottom: 20px;
    outline:none;
  }
}

#roomCreationModal {
  .modal-dialog {
    margin:auto;
    top:250px;
    width:500px;
  }
  .modal-content {
    text-align: center;
    .modal-header {
      background-color: #F5F5F5;
      border-bottom:none;
      border-radius: 6px 6px 0 0;
      padding:25px;

      .close {
        position: absolute;
        margin: 0;
        top: -20px;
        right: -20px;
        opacity: 0.5;
        width:15px;
        height:15px;
        background-size: 15px 15px;
        background: url('close-modal.png') no-repeat center;
        outline:none;
      }
      .close:hover {
        opacity: 0.5;
      }

      .title {
        font-size: 28px;
        margin: 10px;
        color: #2E2E2E;
      }
    }
    .modal-body {
      padding: 40px;

      input[type='text']{
        height:45px;
        width:96%;
        border: 1px solid #E6E6E6;
        padding: 0 15px;
        font-size: 20px;
        outline:none;
      }

      .create-room-btn {
        background-color: #409863;
        color: white;
        font-size: 18px;
        text-transform: capitalize;
        height:45px;
        line-height: 35px;
        width:155px;
        margin: 25px auto 0;
        border-radius: 2px;
        outline:none;
      }

    }
  }
}

.no-room-description {
  text-align: center;
  border: 2px dotted #EEEEEE;
  padding: 50px 200px;
  margin-bottom: 50px;
  p {
    color: #D0D0D0;
    margin-bottom:0;
  }
}

.list-kind[data-kind='product_items'] {
  .create-room-arrow {
    position: absolute;
    width: 200px;
    height:200px;
    background-image: url('create_room_arrow.svg');
    background-repeat:no-repeat;
    background-position: center;
    opacity:1;
    background-size: 170px;
    margin: -155px 0 0 310px;
  }
}

.list-kind[data-kind='similar_styles']{
  .create-room-arrow {
    position: absolute;
    width: 150px;
    height:150px;
    background-image: url('create_room_arrow.svg');
    background-repeat:no-repeat;
    background-position: center;
    opacity:1;
    background-size: 130px;
    margin: -120px 0 0 360px;

  }
}

