/*helper classes*/
.relative{position: relative !important;}
.marginTop60{
    margin-top: 60px !important;
}
.marginTop40{
    margin-top: 40px !important;
}
.marginBottom40{
    margin-bottom: 40px !important;
}
.marginTop20{
    margin-top: 20px !important;
}
.lineHeight20{
    line-height: 20px !important;
}
a:hover{
    text-decoration: none;
}
.fullWidth{
    width: 100%;
}
.lightFont{
    font-family: 'AvenirLTStd-Light' !important;
}
/*end helper classes*/

/* start CC-after-choosing-winner */
.congratulationsBox{
    background: #f1f1f1;
    margin: 0px 0px 20px;
    padding: 20px 0px;
    text-align: center;
    color: #000;
}
.congratulationsBox h4{
    font-size: 22px;
}
.congratulationsBox p{
    font-size: 16px;
    font-family: 'AvenirLTStd-Light';
}
.winnerBadge{
    position: absolute;
    top: -27px;
    left: -24px;
    width: 100%;
}
.winnerBadge span{
    display: block;
    width: 53px;
    height: 55px;
    background: url("/assets/badge.png");
    float: left;
}
.winnerBadge p{
    background: #040707;
    color: #FFF;
    float: left;
    margin: 0px;
    line-height: 32px;
    position: relative;
    top: 11px;
    width: 135px;
    text-align: center;
    font-size: 20px;
    font-family: 'AvenirLTStd-Medium';
    padding-left: 16px;
}
.winnerBadge p:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #040707;
    /*border-color: red;*/
    border-right-color: transparent;
    border-width: 16px;
    margin-top: -16px;
}
.steps123{
    border: 1px solid #a9aaaa;
    border-radius: 3px;
    line-height: 44px;
    margin-bottom: 70px;
    /*width: 80%;*/
    display: inline-block;
    color: #a9aaaa;
}
.steps123 div > span{
    display: inline-block;
    color: #a9aaaa;
    border: 1px solid #a9aaaa;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.steps123 p, .steps123 p a{
    display: inline-block;
    margin: 0px;
    font-size: 14px;
    color: #A9AAAA
}
.steps123 .stepOne{
    float: left;
    padding: 0px 8px;
}
.steps123 .stepTwo{
    float: left;
    padding: 0px 8px;
}
.steps123 .stepThree{
    float: left;
    padding: 0px 8px;
}
.steps123 .stepOne.active{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    margin-right: 30px;
}
.steps123 .stepOne.active span{
    border-color: #fff;
    color: #fff;
}
.steps123 .stepOne.active:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-left-color: #a9aaaa;
    border-width: 22px;
    margin-top: -22px;
}

.steps123 .stepTwo.active{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    margin-right: 30px;
    padding-left: 30px;
}
.steps123 .stepTwo.active span{
    border-color: #fff;
    color: #fff;
}
.steps123 .stepTwo.active:before{
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}
.steps123 .stepTwo.active:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-left-color: #a9aaaa;
    border-width: 22px;
    margin-top: -22px;
}

.steps123 .stepThree.active{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    padding-left: 30px;
}
.steps123 .stepThree.active span{
    border-color: #fff;
    color: #fff;
}
.steps123 .stepThree.active:before{
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}

.steps123 .active p{
    color: #FFF;
}

.visible-ss{
    display: none !important;
}
@media(max-width: 1200px){
    .steps123{
        display: block;
        text-align: center;
    }
    .steps123 .stepOne{
        width: 25%;
        margin: 0px;
        padding: 0px;
    }
    .steps123 .stepTwo{
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .steps123 .stepThree{
        width: 20%;
        margin: 0px;
        padding: 0px;
    }
}
@media(max-width: 992px){
    .steps123 .stepOne{
        width: 30%;
    }
    .steps123 .stepTwo{
        width: 45%;
    }
    .steps123 .stepThree{
        width: 20%;
    }
    .winningMoodboard .col-md-4 {
        margin-top: 40px;
    }
}
@media(max-width: 768px){
    .steps123{
        /*text-align: left;*/
    }
    .steps123 > div{
        /*padding-left: 5px !important;*/
    }
    .steps123 p {
        text-align: left;
        line-height: 14px;
        position: relative;
        top: 6px;
        /*padding-top: 5px;*/
    }
    .steps123 p span{
        display: block;
        line-height: 20px;
    }
    .steps123 .stepTwo{
        width: 40%;
    }
    .congratulationsBox h4{
        font-size: 20px;
    }
    .congratulationsBox p{
        font-size: 16px;
    }

}
@media(max-width: 480px){
    .congratulationsBox p span{
        display: block;
    }
    .steps123{
        border-color: transparent;
        margin-bottom: 20px;
    }
    .steps123 > div{
        float: none !important;
        width: 100% !important;
        text-align: left;
    }
    .steps123 p{
        position: static;
        padding: 0px;
        margin: 0px;
    }
    .steps123 div:before,.steps123 div:after{
        display: none;
    }
    .steps123 p span{
        display: none;
        line-height: 20px;
    }
    .steps123 .active{
        color: #000;
        background: transparent !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .steps123 .active p{
        color: #000;
    }
    .steps123 .active > span{
        color: #000 !important;
        border-color: #000 !important;
    }
    .congratulationsBox{
        margin: 0px 0px 40px;
    }
    .congratulationsBox h4{
        font-size: 18px;
    }
    .congratulationsBox p{
        font-size: 14px;
    }
    .congratulationsBox h4 span,.congratulationsBox p span{
        display: block;
    }
    .winnerBadge p {
        float: none;
        margin: 0px;
        line-height: 32px;
        position: static;
        margin-top: 12px;
        width: auto;
        font-size: 18px;
    }
    .hidden-ss{
        display: none !important;
    }
    .visible-ss{
        display: block !important;
    }

}
/* end CC-after-choosing-winner */
