.saveBtn:hover,.saveBtn{
  background-color: inherit;
}

@media(max-width: 480px){
  .designerBox {
    border-top: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }

  .inviteToContest {
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }
}

.winnerBadge{
  z-index: 1;
}

.designBox {
  .title{
    height: 3em;
  }
}

.pageNumber a, .pageNumber span{
  width: initial;
}

.pageNumber{
  display: inline-block;
  width: auto;
  padding-left: 0px;
}

.designBox {
  .voice-description {
    font-family: 'AvenirLTStd-LightOblique';
    font-size: 14px;
    color: #a9a9a9;
  }

  img.mobileBoard{
    border-bottom: 1px solid #E3E3E3;
  }
}

.viewingMoodboard .voteBtn:nth-child(4){
  margin-right: 0px;
}

.designConcept .player{
  .control{
    margin-right: 35px;
    margin-bottom: 3px;
  }

  .playback-switch.active{
    margin-top: -31px;
  }
}

.steps123{
  white-space: nowrap;
}

.timeLeftToSubmitParent{
  top: 140px;
}

@media(max-width: 480px){
  .timeLeftToSubmitParent{
    top: 220px;
  }
}

.interiorDesignLevelMobile .active label,.interiorDesignLevelMobile .active label{
  background: #333333 !important;
  color: #FFF !important;
}

.designSteps{
  p {
    white-space: nowrap;
  }
}

.interiorDesignLevelMobile label{
  font-weight: normal;
}

.loveLikeLeave label{
  font-weight: normal;
}

@media(max-width: 480px){
  .loveLikeLeave label{
    display: inline;
  }

  .big-radio + label{
    padding: 10px;
  }
  .big-radio:checked + label:after{
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
  }
}

.appeal-picture-enlarge{
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}
