.saveBtn:hover,.saveBtn{
  background-color: inherit;
}

@media(max-width: 480px){
  .designerBox {
    border-top: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }

  .inviteToContest {
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }
}

.winnerBadge{
  z-index: 1;
}

.designBox {
  .title{
    height: 3em;
  }
}

.pageNumber a, .pageNumber span{
  width: initial;
}

.pageNumber{
  display: inline-block;
  width: auto;
  padding-left: 0px;
}

.designBox {
  .voice-description {
    font-family: 'AvenirLTStd-LightOblique';
    font-size: 14px;
    color: #a9a9a9;
  }

  img.mobileBoard{
    border-bottom: 1px solid #E3E3E3;
  }
}

.viewingMoodboard .voteBtn:nth-child(4){
  margin-right: 0px;
}

.designConcept .player{
  .control{
    margin-right: 35px;
    margin-bottom: 3px;
  }

  .playback-switch.active{
    margin-top: -31px;
  }
}

.steps123{
  white-space: nowrap;
  margin-bottom: 20px;

  a {
    color: #a9aaaa;
  }
}

.timeLeftToSubmitParent{
  top: 140px;
}

@media(max-width: 480px){
  .timeLeftToSubmitParent{
    top: 220px;
  }
}

.interiorDesignLevelMobile .active label,.interiorDesignLevelMobile .active label{
  background: #333333 !important;
  color: #FFF !important;
}

.designSteps{
  p {
    white-space: nowrap;
  }
}

.interiorDesignLevelMobile label{
  font-weight: normal;
}

.loveLikeLeave label{
  font-weight: normal;
}

@media(max-width: 480px){
  .loveLikeLeave label{
    display: inline;
  }

  .big-radio + label{
    padding: 10px;
  }
  .big-radio:checked + label:after{
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
  }
}

.appeal-picture-enlarge{
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.btnChangeImage{
  color: white !important;
  border-color: white !important;
  z-index: 1000;
  bottom: 120px !important;
}

.productListDeleteImage{
  background: transparent;
  color: white;
  display: block;

  padding: 0px;
  font-size: 16px;
  font-family: "AvenirLTStd-Medium";
  position: absolute;
  width: 150px;
  line-height: 38px;
  left: 50%;
  margin-left: -75px;
  bottom: 80px;
  z-index: 1000;
  border: none;
}

.uploadFinalDesignBtn{
  cursor: pointer;
}

.finalNoteToDesigner{
  textarea{
    color: inherit;
  }

  .send-button{
    font-size: 20px;
    color: #000;
    line-height: 35px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    background-color: white;
    margin-top: 10px;
    padding: 0px 25px;
  }
}

.nav-tabs a {
  cursor: pointer;
}

.logo{
  background: url('/assets/logo2.png');
}

.designStyleParent {
  .popover{
    left: 0px !important;
  }
  .comment{
    margin-bottom: 20px !important;
  }
  .row{
    padding: 0px !important;
    padding-top: 20px !important;
  }
}

@media(max-width: 767px){
  .finalNoteToDesigner{
    .send-button{
      width: 100%;
    }
  }

  .dcProduct .row{
    margin: 0px;
  }
}

@media(min-width: 1200px){
  .topCarouselHome .carousel-inner>.item .carousel-caption{
    font-size: 60px;
    padding-top: 130px;
  }
}

.overlayExampleImg{
  .remove{
    right: 5px;
    top: 5px;
    position: absolute;
  }
}

.updateMyDesign{
  font-size: 20px !important;
  color: #000 !important;
  line-height: 45px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: center !important;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
  display: inline-block !important;
}

.fullHeight {
  height: 100%;
}

#showcase {
  .showcase-content{
    height: 100%;

    .lookbook-detail{
      height: 100%;

      .image-container{
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.seeBrief{
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
}

.black-bordered-button{
  color: #000;
  line-height: 45px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

#new-contest-request{
  padding-bottom: 25px;
}

.permanentOverlayExampleImg{
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 57%;
  background: rgba(0,0,0,0.5);
}

.full-size-image-container{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dcUploadDesgin {
  margin-bottom: 75px;

  .image-block{
    margin-left: 0px;
    margin-right: -30px;

    .imageWithOverlay{
      height: 100%;
    }
  }

  .image-block-height{
    height: 250px;
  }
}

.description-container{
  margin-top: 35px;
}

.entries-container{
  .description-container{
    margin-top: 35px;
  }
}

@media (max-width: 992px){
  .entries-container {
    .filter-container {
      margin-top: 20px;
    }

    .description-container{
      margin-top: 60px;
    }
  }
}

.productVote{
  .full-size-image-container{
    width: 100%;
    height: 227px;
  }

  .about-text{
    height: 7em;
  }
}

.text-error {
  color: #B94A48;
}

.commentContainer .authorName p{
  display: inline;
}

.comment-text.visible-xs{
  margin-top: 1em;
}

.areas-row{
  line-height: 50px;
  font-size: 20px;
}

.clickable{
  cursor: pointer;
}

.signUpSuggestion{
  background-color: #FAFAFA;
  padding: 15px 15px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #ADADAD;
  margin-bottom: 60px;

  .divider{
    margin-top: 15px;
  }

  .signUpButton{
    border: 1px #65AC81 solid;
    padding: 7px 20px;
    margin-left: 7px;
    color: #65AC81;
    border-radius: 2px;
    cursor: pointer;
  }
}

.submitMyDesign{
  font-size: 20px;
  color: #000;
  line-height: 45px;
  width: 200px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
}

.moveToFinal{
  @extend .submitMyDesign;
  width: 340px;
}

#signUpModal{
  .modal-dialog{
    max-width: 560px;
  }

  .content{
    padding: 20px 75px;
  }

  h3{
    padding: 0px 10px;
    color: #666666;
  }

  .modal-body{
    padding: 20px;
  }

  input{
    width: 100%;
    margin-bottom: 20px;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 16px;
  }

  .button{
    padding: 15px 20px;
    text-align: center;
    color: white;
    height: 60px;
  }

  .signUpWithFacebookBtn{
    font-size: 16px;
  }

  .signUpWithFacebookBtn img{
    margin-right: 9px;
    margin-bottom: 3px;
  }

  .orText{
    text-align: center;
    padding: 20px 0px;

    span{
      position: relative;
      background-color: white;
      padding: 0px 10px;
      color: #a6a6a6;
    }

    .hLine{
      margin: 0px;
      bottom: -0.75em;
      position: relative;
    }
  }

  .signUpWithEmailBtn{
    background-color: #409863;
    font-size: 18px;
  }

  .signUpWithEmailBtnSubtitle{
    color: #a6a6a6;
    margin-top: 5px;

    a{
      color: #409863;
    }
  }
}

@media(max-width: 767px){
  #signUpModal .content{
    padding: 20px 10px;
  }
}

.order-totals{
  font-family: "AvenirLTStd-Medium";
  text-align: right;
  display: inline-table;
  font-size: 22px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.order-total-info{
  @extend .order-totals;
  width: 80%;
}

.order-total-price{
  @extend .order-totals;
  width: 20%;
  float: right;
}

.big-total-price{
  @extend .order-total-price;
  font-size: 26px;
  color: #409863;
}

@media(max-width: 768px) {
  .order-total-info{
    width: 65%;
  }

  .order-total-price{
    width: 35%;
  }
}

@media(max-width: 414px) {
  .order-total-info{
    width: 50%;
  }

  .order-total-price{
    width: 50%;
  }
}

@media(max-width: 320px) {
  .order-total-info{
    width: 60%;
  }

  .order-total-price{
    width: 40%;
  }
}

.interiorDesignLevel {
  label {
    background-size: cover;
  }
}

#client-center-contests{
  .contestTable > .row, .contestDesigner.header-row > .row{
    padding-left: 35px;
    font-size: 17px;
  }

  .contestDesignerBtn{
    text-align: center;
  }

  @media(max-width: 768px) {
    .contestDesignerBtn .goBtn{
      width: 100%;
      margin-top: 20px;
    }

    .contestTableRow2{
      padding-bottom: 20px;
    }

    .contestTable > .row, .contestDesigner.header-row > .row{
      padding-left: 15px;
    }

    .contestUnderway{
      text-align: center;
    }
  }

  .contestTableRow2{
    height: inherit;
    padding-bottom: 30px;
  }
  .contestTableRow2 .title{
    font-weight: 700;
    margin-right: 2%;
  }

  .contestDesignerBtn .btn{
    margin-right: 0px;
  }

  .contestDesignerBtn .goBtn{
    padding-left: 30px;
    padding-right: 30px;
  }
  .contestDesignerBtn .goBtn img{
    position: relative;
    top: -2px;
    margin-left: 5px;
  }

  .contestDesignerBtn .goBtn{
    background: #409863;
    color: #FFF;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
  }
  .contestDesignerBtn .goBtn img{
    position: relative;
    top: -2px;
    margin-left: 5px;
  }

}

.update-style-package-hint{
  text-align: center;
  width: 60%;
  margin: 30px auto -30px auto;
  color: #666666;
  p{
    font-size: 18.5px;
  }
  a{
    color: #30a7fc;
  }
}
