/*helper classes*/
.relative{position: relative !important;}
.marginTop60{
    margin-top: 60px !important;
}
.marginTop40{
    margin-top: 40px !important;
}
.marginBottom40{
    margin-bottom: 40px !important;
}
.marginTop20{
    margin-top: 20px !important;
}
.lineHeight20{
    line-height: 20px !important;
}
a:hover{
    text-decoration: none;
}
.fullWidth{
    width: 100%;
}
.lightFont{
    font-family: 'AvenirLTStd-Light' !important;
}
/*end helper classes*/

/* start CC-after-choosing-winner */
.congratulationsBox{
    background: #f1f1f1;
    margin: 0px 0px 20px;
    padding: 20px 0px;
    text-align: center;
    color: #000;
}
.congratulationsBox h4{
    font-size: 22px;
}
.congratulationsBox p{
    font-size: 16px;
    font-family: 'AvenirLTStd-Light';
}
.winnerBadge{
    position: absolute;
    top: -27px;
    left: -24px;
    width: 100%;
}
.winnerBadge span{
    display: block;
    width: 53px;
    height: 55px;
    background: url("/assets/badge.png");
    float: left;
}
.winnerBadge p{
    background: #040707;
    color: #FFF;
    float: left;
    margin: 0px;
    line-height: 32px;
    position: relative;
    top: 11px;
    width: 135px;
    text-align: center;
    font-size: 20px;
    font-family: 'AvenirLTStd-Medium';
    padding-left: 16px;
}
.winnerBadge p:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #040707;
    /*border-color: red;*/
    border-right-color: transparent;
    border-width: 16px;
    margin-top: -16px;
}
.steps123{
    border: 1px solid #a9aaaa;
    border-radius: 3px;
    line-height: 44px;
    margin-bottom: 70px;
    /*width: 80%;*/
    display: inline-block;
    color: #a9aaaa;
}
.steps123 div > span{
    display: inline-block;
    color: #a9aaaa;
    border: 1px solid #a9aaaa;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.steps123 p{
    display: inline-block;
    margin: 0px;
    font-size: 14px;
}
.steps123 .stepOne{
    float: left;
    padding: 0px 8px;
}
.steps123 .stepTwo{
    float: left;
    padding: 0px 8px;
}
.steps123 .stepThree{
    float: left;
    padding: 0px 8px;
}

.steps123 .stepOne{
    position: relative;
    margin-right: 30px;
    padding-left: 30px;
}
.steps123 .stepOne:before{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #a9aaaa;
    border-width: 23px;
    margin-top: -23px;
}
.steps123 .stepOne:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}


.stepOneActive .stepOne{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    margin-right: 30px;
}
.stepOneActive .stepOne span{
    border-color: #fff;
    color: #fff;
}
.stepOneActive .stepOne:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-left-color: #a9aaaa;
    border-width: 22px;
    margin-top: -22px;
}


.steps123 .stepTwo{
    position: relative;
    margin-right: 30px;
    padding-left: 30px;
}
.steps123 .stepTwo:before{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #a9aaaa;
    border-width: 23px;
    margin-top: -23px;
}
.steps123 .stepTwo:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}


.stepTwoActive .stepTwo{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    margin-right: 30px;
    padding-left: 60px;
}
.stepTwoActive .stepTwo span{
    border-color: #fff;
    color: #fff;
}
.stepTwoActive .stepTwo:before{
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}
.stepTwoActive .stepTwo:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-left-color: #a9aaaa;
    border-width: 22px;
    margin-top: -22px;
}
.stepTwoActive .stepOne,.stepThreeActive .stepTwo{
    position: relative;
    margin-right: 0px;
    padding-left: 30px;
}
.stepTwoActive .stepOne:before,.stepThreeActive .stepTwo:before{
    display: none;
}
.stepTwoActive .stepOne:after,.stepThreeActive .stepTwo:after{
    display: none;
}

.stepThreeActive .stepThree{
    background: #a9aaaa;
    color: #FFF;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
}
.stepThreeActive .stepThree span{
    border-color: #fff;
    color: #fff;
}
.stepThreeActive .stepThree:before{
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(169, 170, 170, 0);
    border-color: transparent;
    border-left-color: #FFF;
    border-width: 22px;
    margin-top: -22px;
}
.visible-ss{
    display: none !important;
}
@media(max-width: 1200px){
    .steps123{
        display: block;
        text-align: center;
    }
    .steps123 .stepOne{
        width: 25%;
        margin: 0px;
        padding: 0px;
    }
    .steps123 .stepTwo{
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .steps123 .stepThree{
        width: 25%;
        margin: 0px;
        padding: 0px;
    }
}
@media(max-width: 992px){
    .steps123 .stepOne{
        width: 30%;
    }
    .steps123 .stepTwo{
        width: 45%;
    }
    .steps123 .stepThree{
        width: 25%;
    }
    .winningMoodboard .col-md-4 {
        margin-top: 40px;
    }
}
@media(max-width: 768px){
    .steps123{
        /*text-align: left;*/
    }
    .steps123 > div{
        /*padding-left: 5px !important;*/
    }
    .steps123 p {
        text-align: left;
        line-height: 14px;
        position: relative;
        top: 6px;
        /*padding-top: 5px;*/
    }
    .steps123 p span{
        display: block;
        line-height: 20px;
    }
    .steps123 .stepTwo{
        width: 40%;
    }
    .steps123 .stepThree {
        width: 30%;
    }
    .congratulationsBox h4{
        font-size: 20px;
    }
    .congratulationsBox p{
        font-size: 16px;
    }

}
@media(max-width: 480px){
    .congratulationsBox p span{
        display: block;
    }
    .steps123{
        border-color: transparent;
        margin-bottom: 20px;
    }
    .steps123 > div{
        float: none !important;
        width: 100% !important;
        text-align: left;
    }
    .steps123 p{
        position: static;
        padding: 0px;
        margin: 0px;
    }
    .steps123 div:before,.steps123 div:after{
        display: none;
    }
    .steps123 p span{
        display: none;
        line-height: 20px;
    }
    .steps123 .active,.stepOneActive .stepOne,.stepTwoActive .stepTwo,.stepThreeActive .stepThree{
        color: #000;
        background: transparent !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .steps123 .active p,.stepOneActive .stepOne p,.stepTwoActive .stepTwo p,.stepThreeActive .stepThree p{
        color: #000;
    }
    .steps123 .active > span,.stepOneActive .stepOne > span,.stepTwoActive .stepTwo > span,.stepThreeActive .stepThree > span{
        color: #000 !important;
        border-color: #000 !important;
    }
    .congratulationsBox{
        margin: 0px 0px 40px;
    }
    .congratulationsBox h4{
        font-size: 18px;
    }
    .congratulationsBox p{
        font-size: 14px;
    }
    .congratulationsBox h4 span,.congratulationsBox p span{
        display: block;
    }
    .winnerBadge p {
        float: none;
        margin: 0px;
        line-height: 32px;
        position: static;
        margin-top: 12px;
        width: auto;
        font-size: 18px;
    }
    .hidden-ss{
        display: none !important;
    }
    .visible-ss{
        display: block !important;
    }

}
/* end CC-after-choosing-winner */

.dontForgetPicDim{
    /*text-align: center;*/
    background: #f1f1f1;
    /*border-bottom: 1px solid #e1e1e1;*/
    margin: 0px 0px 40px;
    padding: 20px 0px;
}
.dontForgetPicDim h4{
    margin: 0px;
    font-size: 18px;
    color: #000;
}
.dontForgetPicDim p{
    font-family: 'AvenirLTStd-LightOblique';
    margin: 0px;
    font-size: 14px;
    color: #000;
}
.dontForgetPicDim .buttons{
    /*background: red;*/
    text-align: right;
    padding-right: 50px;
}
.dontForgetPicDim .buttons a.btn{
    padding: 0px;
    line-height: 38px;
    width: 166px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    font-size: 18px;
    color: #000;
    font-family: 'AvenirLTStd-Medium';
    margin-left: 10px;
}
.topRightClose{
    position: absolute;
    /*display: none;*/
    background: url("/assets/cross.png");
    width: 26px;
    height: 26px;
    top: 8px;
    right: 7px;
}

@media(max-width: 1200px){
    .topRightClose{
        top: 50%;
        margin-top: -13px;
    }
    .dontForgetPicDim h4{
        font-size: 16px;
    }
    .dontForgetPicDim .buttons a.btn{
        font-size: 16px;
    }
}

@media(max-width: 992px){
    .dontForgetPicDim{
        text-align: center;
    }
    .dontForgetPicDim .buttons{
        text-align: center;
        margin-top: 5px;
    }
    .topRightClose {
        top: auto;
        /*margin-top: 10px; */
    }
}

@media(max-width: 768px){
    .dontForgetPicDim h4 {
        font-size: 14px;
    }
    .dontForgetPicDim p{
        margin: 5px 0px;
        font-size: 13px;
    }
}

@media(max-width: 480px){
    .dontForgetPicDim .buttons{
        padding-right: 15px;
    }
    .dontForgetPicDim .buttons a.btn{
        margin: 10px auto;
        display: block;
    }
    .dontForgetPicDim{
        padding: 20px 0px 5px;
    }
    .dontForgetPicDim h4{
        margin-top: 20px;
    }
}

/* start CC-entries */
.sortBySelect button{
    border: 1px solid #a9a9a9;
}
.sortBySelect .caret{
    background: url('/assets/caret1.png') 15px 15px no-repeat;
    top: 2px !important;
    border-left: 1px solid #a9a9a9 !important;
}
.sortBySelect li:nth-child(1){
    display: none;
}
.sortBySelect .dropdown-menu>li>a{
    padding: 7px 20px;
    font-size: 16px;
    color: #000;
    border-top: 1px solid #e1e1e1;
}
.sortBySelect .dropdown-menu>li:nth-child(2)>a{
    border-top: none;
}
.sortBySelect .dropdown-menu{
    min-height: 100px !important;
    border-radius: 0px;
    top: 37px;
    border: 1px solid #a9a9a9;
}
div.form-selector {
    width: 100%;
}
.btn-selector-medium {
    font-size: 22px;
    border: 1px solid #000;
    margin: 0;
    border-radius: 0;
    background: none;
    color: #8B8B8B;
    font-style: italic;
    height: 40px;
    padding-right: 60px !important;
}
.btn-selector-medium span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'AvenirLTStd-LightOblique';
    font-size: 18px;
    color: #a9a9a9;
}
.font15 {
    font-size: 15px;
}
.bootstrap-select.btn-group .btn .caret {
    width: 42px;
    height: 100%;
    border: 0;
    top: 2px;
    border-left: 1px solid #000;
}
.favDesignConcept{
    font-family: 'AvenirLTStd-LightOblique';
    font-size: 18px;
    color: #a9a9a9;
    margin: 20px 0px 40px;
}
.entriesPage{
    padding-bottom: 60px;
}
.entriesPage .entries-initial .steps123{
    margin-bottom: 10px;
}
.designBox{
    padding: 20px;
    background: #f8f8f8;
    border-top: 3px solid #aaaaaa;
    margin-bottom: 40px;
}
.designBox .mobileBoard{
    display: none;
}
.designBox h3{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #000;
    font-size: 18px;
    font-family: 'AvenirLTStd-Roman';
}
.designBox p{
    font-family: 'AvenirLTStd-LightOblique';
    font-size: 14px;
    color: #a9a9a9;
}
.designBox .designImg{
    width: 100%;
    height: 350px;
    border: 1px solid #eaeaea;
    margin: 20px 0px;
    background: #FFF;
}
.designBox .voteBtn{
    border:1px solid #E4E4E4;
    display: block;
    float: left;
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-family: 'AvenirLTStd-Light';
    width: 22%;
    margin-right: 4%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.designBox .voteBox .voteBtn:nth-child(4){
    margin-right: 0px;
}
.pageNumber {
    border: 1px solid #231f20;
    border-radius: 3px;
    height: 58px;
    width: 340px;
    margin: 0 auto;
}
.pageNumber a, .pageNumber span {
    font-size: 22px;
    color: #231f20;
    line-height: 56px;
    padding: 0 23px;
    width: 60px;
    float: left;
}

.pageNumber a:hover, span.activePageNumber{
    text-decoration: none;
    background: #231f20;
    color: #FFF;
}

.designerFeedback{
    padding: 0px 100px;
}
.designerFeedback h4{
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
}
.designerFeedback textarea{
    width: 100%;
    height: 98px;
    resize: none;
    border: 3px solid #e1e1e1;
    border-radius: 3px;
}
.designerFeedback .btn{
    width: 90px;
    background: #FFF;
    margin-top: 10px;
    color: #000;
    font-size: 18px;
    border: 1px solid #000;
}
.designerFeedback .notes{
    background: #F8F8F8;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    height: 200px;
    width: 100% !important;
    padding-right: 0px !important;
    /*padding: 20px 10px;*/
}
/*.designerFeedback .notes ul{
	list-style-position: inside;
	margin-left: -40px;
}*/
.designerFeedback .notes ul li.delimiter{
    height: 1px;
    background: #e1e1e1;
    list-style-type: none;
    padding: 0px;
    margin-left: -40px;
}
.designerFeedback .notes ul li {
    font-size: 30px;
    padding: 10px 15px;
    /*border-top: 1px solid #e1e1e1;*/
}
.designerFeedback .notes ul li p{
    margin-left: -15px;
    padding-left: 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 3px;
}
.designerFeedback .notes ul li p:nth-child(2){
    color: #333;
    font-family: 'AvenirLTStd-Light';
}
.designerFeedback .notes ul li p span{
    display: block;
    font-style: italic;
    color: #a9a9a9;
    font-size: 14px;
}

.notes ul li:nth-child(4n+1){
    list-style: disc url("/assets/list_style_type_blue.png");
}

.notes ul li:nth-child(4n+3){
    list-style: disc url("/assets/list_style_type_red.png");
}

.designerFeedback #scrollbox4 {
    overflow: auto;
}

.designerFeedback .track4 {
    width: 7px;
    background-clip: padding-box;
    background: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-left-width: 1px;
    margin: 5px 0px;
    padding-bottom: 5px;
}


.designerFeedback .handle4 {
    border-radius: 5px;
    width: 5px;
    background-clip: padding-box;
    background: #a9a9a9;
}
.feedBackTitle{
    padding-left: 115px;
}
.feedbackFromOthers{
    background: #F8F8F8;
    padding: 20px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
    margin: 10px 100px 20px;
}
.feedbackFromOthers > div:nth-child(1) p{
    font-size: 24px;
    /*font-weight: 700;*/
    /*font-style: italic;*/
    font-family: 'AvenirLTStd-MediumOblique';
    padding-top: 20px;
}
.feedbackFromOthers > div:nth-child(1) p span{
    font-size: 14px;
    display: block;
    font-weight: 400;
    font-family: 'AvenirLTStd-Light';
}
.feedbackFromOthers > div:nth-child(2){
    border-left: 1px solid #e1e1e1;
}
.feedbackFromOthers > div:nth-child(2) p{
    margin: 0px;
    font-size: 16px;
    padding: 20px 0px 20px 60px;
    font-family: 'AvenirLTStd-Light';
}
.sendDesignerFeedback{
    margin: 0px 85px;
}
.sendDesignerFeedback label{
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 400;

}
.sendDesignerFeedback input[type=text]{
    border: 1px solid #000;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0px 5px;
}
.sendDesignerFeedback .btn{
    font-size: 18px;
    color: #000;
    width: 90px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 20px;
}
/*.sendDesignerFeedback input#emailInvite{
	width: 75%;
}*/
.bottom60{
    padding-bottom: 60px;
}
button.btnInvite{
    outline: none;
    background: transparent;
    border: none;
    /*line-height: 40px;*/
    font-size: 30px;
    margin: 0px;
    margin-top: 24px;
}
button.btnInvite span{
    top: 10px;
}
.disablePadding {
    padding: 0px !important;
}
@media(max-width: 1200px){
    .designerFeedback{
        padding: 0px;
    }
    .feedBackTitle{
        padding-left: 15px;
    }
    .feedbackFromOthers {
        margin: 10px 0px 20px;
    }
    .sendDesignerFeedback{
        margin: 0px;
    }
    .sendDesignerFeedback > div{
        padding: 0px;
    }
    .sendDesignerFeedback .col-sm-1{
        /*text-align: right;*/
    }
    .designBox .designImg{
        height: 280px;
    }
}
@media(max-width: 992px){
    .designBox .designImg{
        height: 210px;
    }
    .feedbackFromOthers > div:nth-child(2) p {
        padding: 20px 0px 20px 40px;
    }
    .sortBySelect{
        float: right !important;
        width: 210px !important;
    }
    .designBox .voteBtn{
        font-size: 16px;
    }
    button.btnInvite{
        font-size: 25px;
    }
    button.btnInvite span{
        top: 14px;
    }
}
@media(max-width: 767px){
    .designBox .designImg{
        height: 275px;
    }
    .marginTop40Mobile{
        margin-top: 40px;
    }
    .loadMoreBoards{
        line-height: 43px;
        display: block;
        font-size: 16px;
        color: #666666;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #e1e1e1;
        margin-bottom: 40px;
    }
    .designerFeedback .btn{
        width: 100%;
        line-height: 43px;
        margin: 20px 0px 40px;
    }
    .feedbackFromOthers > div:nth-child(2){
        border: none;
    }
    .feedbackFromOthers > div:nth-child(2) p{
        padding: 0px;
    }
    .sendDesignerFeedback label{
        margin-top: 20px;
    }
    .invitePeopleBlock {
        margin: 25px 15px 0px;
        text-align: center;
        border: 1px dashed #a9a9a9;
    }
    button.btnInviteMobile {
        outline: none;
        background: transparent;
        border: none;
        line-height: 43px;
        font-size: 30px;
        margin: 0px;
        /*margin-top: 24px;*/
    }
    button.btnInviteMobile span {
        font-size: 14px;
        color: #a9a9a9;
        top: 0px;
    }
    .addMorePeople {
        display: inline-block;
        font-size: 14px;
        color: #a9a9a9;
        margin-left: 10px;
    }
    .sendDesignerFeedback input[type=submit]{
        width: 100%;
        line-height: 43px;
    }
    .feedbackFromOthers{
        padding: 5px 0px;
    }
    .designBox .voteBtn{
        font-size: 14px;
    }
}

@media(max-width: 480px){
    .designBox .mobileBoard{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .designBox .fullWidthLine,.designBox .designImg{
        display: none;
    }
    .designBox{
        padding: 0px;
        border-bottom: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
        padding-bottom: 20px;
        background: #FFF;
    }
    .designBox h3{
        padding-left: 10px;
    }
    .designBox p{
        padding-right: 10px;
    }
    .designBox .voteBtn{
        margin-right: 3%;
        margin-left: 3%;
        width: 44%;
    }
}
/* end CC-entries */

/* start CC-brief-editing*/
.displayTitle{
    font-family: 'SofiaProLight';
    text-align: center;
    font-size: 30px;
    color: #000;
    margin: 60px 0px 40px;
}
.avenirBlack{
    font-family: 'AvenirLTStd-Black';
}
.welcomeP{
    font-size: 20px;
    margin: 0px;
    line-height: 45px;
}
.tabNav{
    border-color: transparent;
}
.tabNav>li>a{
    color: #000;
    font-family: 'AvenirLTStd-Light';
    font-size: 20px;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0px;
}
.tabNav>li>a.active{
    border-color: #aaaaaa;
    font-family: 'AvenirLTStd-Medium';
}
.tabNav>li>a:hover,.tabNav>li>a:focus{
    font-family: 'AvenirLTStd-Medium';
    background: transparent;
    border-color: #aaaaaa;
}

.briefEditingBox{
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin: 40px 50px 60px;
}
.briefEditingBox .row{
    padding: 30px 0px;
}
.briefEditingBox .row .title p{
    margin: 0px;
    font-size: 18px;
    padding-left: 20px;
}
.briefEditingBox .row .attribute-form p{
    margin: 0px;
    font-family: 'AvenirLTStd-Light';
    font-size: 16px;
}
.briefEditingBox .row .attribute-form a{
    color: #000;
    text-decoration: underline;
    margin: 0px;
    font-family: 'AvenirLTStd-Light';
    font-size: 16px;
}
.briefEditingBox .row .edit-button, .briefEditingBox .row .cancel-button{
    margin-right: 15px;
}

@media(max-width: 1200px){
    .briefEditingBox{
        margin: 40px 0px 60px;
    }
}
@media(max-width: 768px){
    .displayTitle{
        font-size: 24px;
    }
    .welcomeP{
        text-align: center;
        font-size: 18px;
    }
}
/* end CC-brief-editing*/

/* start CC-finish-intake-form */
.dontForgetPicDim{
    /*text-align: center;*/
    background: #f1f1f1;
    /*border-bottom: 1px solid #e1e1e1;*/
    margin: 0px 0px 40px;
    padding: 20px 0px;
}
.dontForgetPicDim h4{
    margin: 0px;
    font-size: 18px;
    color: #000;
}
.dontForgetPicDim p{
    font-family: 'AvenirLTStd-LightOblique';
    margin: 0px;
    font-size: 14px;
    color: #000;
}
.dontForgetPicDim .buttons{
    /*background: red;*/
    text-align: right;
    padding-right: 50px;
}
.dontForgetPicDim .buttons a.btn{
    padding: 0px;
    line-height: 38px;
    width: 166px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    font-size: 18px;
    color: #000;
    font-family: 'AvenirLTStd-Medium';
    margin-left: 10px;
}
.topRightClose{
    position: absolute;
    /*display: none;*/
    background: url("/assets/cross.png");
    width: 26px;
    height: 26px;
    top: 8px;
    right: 7px;
}
.daysAway{
    text-align: center;
    font-size: 24px;
    color: #010101;
    line-height: 32px;
    margin-bottom: 40px;
}

.profile-card{
    padding-bottom: 30px;
}

.designerBox{
    background: #f6f6f6;
    margin: 15px 0px;
    padding: 15px 0px;
    color: #000;
    height: 100%;
}
.designerBox img{
    width: 100%;
}
.designerBox .designerName{
    font-family: 'AvenirLTStd-MediumOblique';
    font-size: 24px;
    margin-bottom: 10px;
}

.designerBox .designerName a{
    color: inherit;
}

.designerBox .designMindset{
    font-size: 20px;
    margin: 5px 0px;
}
.designerBox .designerDesc{
    font-family: 'AvenirLTStd-Light';
    font-size: 16px;
    margin: 10px 0px;
}
.designerBox .inviteToContest{
    display: block;
    font-size: 16px;
    color: #000;
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
    font-family: 'AvenirLTStd-Heavy';
}
.designerBox .inviteToContest.designer-invitation-button{
    cursor: pointer;
}
.seeMoreDesigners,.seeMoreDesigners:hover{
    margin: 60px 0px 40px;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-family: 'AvenirLTStd-LightOblique';
    color: #a9a9a9;
}
h3.exploreMore{
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 50px 0px;
}
.circleLinks{
    width: 525px;
    margin: 0px auto;
}
.circleLinks a{
    margin: 0px 10px 60px;
    width: 155px;
    height: 155px;
    display: table;
    color: #000;
    text-decoration: underline;
    border: 1px solid #000;
    border-radius: 100%;
    float: left;
    /*padding: 50px 0px;*/
}
.circleLinks a span{
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
}
.mdLineBreaker{
    display: block;
}
.show480{
    display: none;
}
@media(max-width: 1200px){
    .topRightClose{
        top: 50%;
        margin-top: -13px;
    }
    .dontForgetPicDim h4{
        font-size: 16px;
    }
    .dontForgetPicDim .buttons a.btn{
        font-size: 16px;
    }
    .daysAway{
        font-size: 22px;
        line-height: 30px;
    }
    .designerBox .designerName{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .designerBox .designMindset{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .designerBox .inviteToContest{
        font-size: 15px;
        font-family: 'AvenirLTStd-Medium';
    }
    .seeMoreDesigners, .seeMoreDesigners:hover,h3.exploreMore{
        font-size: 22px;
    }
}
@media(max-width: 992px){
    .dontForgetPicDim{
        text-align: center;
    }
    .dontForgetPicDim .buttons{
        text-align: center;
        margin-top: 5px;
    }
    .topRightClose {
        top: auto;
        /*margin-top: 10px; */
    }
    .daysAway{
        font-size: 18px;
    }
    .mdLineBreaker{
        display: none;
    }
    .designerBox .designMindset{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .designerBox .inviteToContest{
        line-height: 15px;
        padding: 7px 0px;
    }
    .designerBox .designerDesc{
        line-height: 18px;
        font-size: 15px;
        margin: 5px 0px;
    }
    .designerBox .col-xs-5{
        padding-right: 0px;
    }
}
@media(max-width: 768px){
    .dontForgetPicDim h4 {
        font-size: 14px;
    }
    .dontForgetPicDim p{
        margin: 5px 0px;
        font-size: 13px;
    }
    .seeMoreDesigners, .seeMoreDesigners:hover, h3.exploreMore{
        font-size: 20px;
    }
    .seeMoreDesigners, .seeMoreDesigners:hover{
        margin: 40px 0px;
    }
    .profile-card{
        padding-bottom: 0px;
    }
}
@media(max-width: 550px) {
    .circleLinks{
        width: auto;
        padding-bottom: 35px;
    }
    .circleLinks a{
        float: none;
        margin: 0px auto 24px;
    }
}
@media(max-width: 480px){
    .daysAway {
        font-size: 16px;
        line-height: 24px;
    }
    .designerBox > div{
        width: 100%;
        float: none;
    }
    .designerBox .col-xs-5 {
        padding-left: 0px;
    }
    .hide480{
        display: none !important;
    }
    .show480{
        display: block !important;
    }
    .designerBox + .inviteToContest{
        line-height: 50px;
        border-color: transparent;
        background: #e1e1e1;
        text-align: center;
        color: #000;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .designerBox{
        padding: 0px;
        margin: 0px;
        padding-bottom: 15px;
    }
    .designerBox .designerName{
        margin-top: 10px;
    }
    .seeMoreDesigners, .seeMoreDesigners:hover{
        font-size: 18px;
    }
    .dontForgetPicDim .buttons{
        padding-right: 15px;
    }
    .dontForgetPicDim .buttons a.btn{
        margin: 10px auto;
        display: block;
    }
    .dontForgetPicDim{
        padding: 20px 0px 5px;
    }
    .dontForgetPicDim h4{
        margin-top: 20px;
    }
}
/* end CC-finish-intake-form */

/* start CC-viewing-moodboard */
.backTo{
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    display: block;
}

.viewingMoodboard{
    color: #000;
    padding-bottom: 60px;
}
.viewingMoodboard h4{
    font-size: 18px;
    margin-top: 10px;
}
.viewingMoodboard p{
    font-size: 16px;
    font-family: 'AvenirLTStd-Light';
}
.viewingMoodboard audio{
    width: 100%;
    display: block;
    max-width: 100%;
}
.viewingMoodboard .voteBtn{
    font-size: 18px;
    font-family: 'AvenirLTStd-Light';
    color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    margin-top: 20px;
    width: 22%;
    display: block;
    float: left;
    margin-right: 4%;
}
.viewingMoodboard .voteBtn:nth-child(5){
    margin-right: 0px;
}
.fullScreenMoodboard{
    width: 40px;
    height: 40px;
    background: url('/assets/enlarge-icon.png');
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media(max-width: 992px){
    .viewingMoodboard .voteBtn{
        margin-bottom: 40px;
    }
    .viewingMoodboard h4{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media(max-width: 768px){
    .viewingMoodboard h4{
        font-size: 18px;
        margin-bottom: 5px;
    }
}
@media(max-width: 480px){
    .viewingMoodboard .col-xs-3{
        padding-right: 0px;
    }
    .nameOfDesigner{
        margin-top: 5px !important;
    }
    .viewingMoodboard .voteBtn{
        margin-bottom: 0px;
        width: 48%;
    }
    .viewingMoodboard .voteBtn:nth-child(odd){
        margin-left: 2%;
        margin-right: 0px;
    }
    .viewingMoodboard .voteBtn:nth-child(even){
        margin-right: 2%;
        margin-left: 0px;
    }
    .viewingMoodboard .col-md-4{
        margin-top: 40px;
    }

}
/* end CC-viewing-moodboard */

/* start Credit-Card-Form */
.creditCardForm{
    padding-bottom: 60px;
}
.creditCardForm h3{
    font-family: 'SofiaProLight';
    color: #707070;
    font-size: 36px;
    text-align: center;
    margin: 80px 0px 40px;
    text-transform: uppercase;
}
.creditCardForm h4{
    color: #231f20;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.creditCardForm label{
    display: block;
    margin-bottom: 40px;
}
.creditCardForm label p{
    font-size: 18px;
    color: #231f20;
}
.creditCardForm label input{
    width: 100%;
    line-height: 38px;
    border: 1px solid #000;
    font-size: 18px;
    padding: 0px 5px;
}
.creditCardForm .dropdown .btn{
    background: transparent;
    border: 1px solid #000;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
}
.creditCardForm .dropdown .customCaret{
    float: right;
    width: 60px;
    height: 40px;
    display: block;
    background: url("/assets/caret.png") no-repeat center;
    border-left: 1px solid #000;
    margin: 0px;
}
.creditCardForm .dropdown .dropdown-menu{
    width: 100%;
    padding-left: 15px;
    font-size: 20px;
    cursor: pointer;
}
.creditCardForm .dropdown .dateExpire{
    line-height: 20px;
    font-size: 20px;
    color: #a9a9a9;
    font-family: 'AvenirLTStd-MediumOblique';
}
.iAgreeTerms{
    font-size: 22px;
    color: #000;
    text-align: center;
    margin: 40px 0px;
}
.iAgreeTerms .customCheckbox{
    margin-right: 10px;
}
.creditCardForm .submit-button{
    font-size: 22px;
    color: #231f20;
    background: transparent;
    border: 1px solid #000;
    border-radius: 0px;
    padding: 0px;
    height: 60px;
    width: 198px;
    display: block;
    margin: 0 auto;
}
.customCheckbox input[type="checkbox"] {
    display:none;
}
.customCheckbox input[type="checkbox"] + label{
    display:inline-block;
    width:20px;
    height:20px;
    background:url("/assets/checkbox.png") top no-repeat;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
.customCheckbox input[type="checkbox"]:checked + label{
    background-position: bottom;
}
.creditCardForm > .row > div{
    padding-right: 100px;
}
.promotionCodeApply p{
    font-size: 18px;
    color: #231f20;
    padding-left: 15px;
    font-weight: 700;
}
.promotionCodeApply input[type=text]{
    width: 65%;
    float: left;
    margin-right: 5%;
}
.promotionCodeApply button{
    width: 30%;
    float: left;
    color: #FFF;
    border:none;
    line-height: 38px;
    background: #a9a9a9;
    font-family: 'AvenirLTStd-Medium';
    font-size: 18px;
}
@media(max-width: 1200px){
    .creditCardForm > .row > div{
        padding-right: 15px;
    }
    .creditCardForm h3{
        font-size: 30px;
        margin: 60px 0px 40px;
    }
    .creditCardForm h4{
        font-size: 22px;
    }
    .creditCardForm .dropdown .customCaret{
        width: 40px;
    }
}
@media(max-width: 992px){
    .creditCardForm h3{
        font-size: 24px;
    }
    .creditCardForm h4{
        font-size: 20px;
        margin-top: 40px;
    }
    .creditCardForm label p{
        font-size: 16px;
    }
}
@media(max-width: 768px){
    .creditCardForm label{
        margin-bottom: 20px;
    }
    .creditCardForm .dropdown .dateExpire{
        text-align: left;
        font-size: 14px;
    }
    .customCheckbox input[type="checkbox"] + label {
        display: block;
        width: 35px;
        height: 35px;
        background: url("/assets/checkboxLarge.png") top no-repeat;
        margin: 25px auto;
    }
    .iAgreeTerms .customCheckbox{
        margin: 0px;
    }
    .iAgreeTerms{
        font-size: 20px;
        line-height: 26px;
    }
    .creditCardForm .submit-button{
        width: 100%;
    }
    .creditCardForm h3 span{
        display: block;
    }
}
@media(max-width: 480px){
    .accountInfo .col-xs-6,.promotionCodeApply > div{
        width: 100%;
    }
    .promotionCodeApply > div.col-xs-3 p{
        display: none;
    }
    .col-ss-6{
        width: 50%;
    }
    .creditCardForm h3{
        font-size: 20px;
        line-height: 26px;
    }
    .creditCardForm .dropdown .customCaret{
        width: 30px;
        background: url("/assets/caretSmall.png") no-repeat center;
    }
    .promotionCodeApply p{
        font-size: 18px;
        color: #231f20;
        padding-left: 15px;
        font-weight: 700;
    }
    .promotionCodeApply input[type=text]{
        width: 100%;
        float: none;
        margin-right: 0%;
    }
    .promotionCodeApply button{
        width: 100%;
        float: none;
        margin-top: 20px;
    }
}
/* end Credit-Card-Form */

.timeLeftToSubmit{
    font-size: 16px;
    color: #FFF;
    background: #a9a9a9;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}
.timeLeftToSubmitParent{
    position: absolute;
    top: 50px;
    z-index: 99;
    width: 100%;
}

.timeLeftToSubmitParent + div > p.favDesignConcept{
    margin-top: 90px;
}
@media(max-width: 768px){
    .setTopMarginTimeLeftToSubmit{
        margin-top: 0px;
    }
}

@media(max-width: 767px){
    .setTopMarginTimeLeftToSubmit{
        margin-top: 80px;
    }
}

@media(max-width: 480px){
    .timeLeftToSubmit{
        line-height: 25px;
        padding: 10px 0px;
    }
    .timeLeftToSubmit span{
        display: block;
    }
    .timeLeftToSubmitParent{
        top: 130px;
    }
    .setTopMarginTimeLeftToSubmit{
        margin-top: 110px;
    }
}
