.joinContestHeader div {
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.joinContestBox .row .col-xs-2{
  text-align: center;
}

.suggestedContestHeader div{
  line-height: 35px;
}

.joinContestBox > .row > .col-md-12{
  height: 35px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.cover_image{
  background-position: top;
}
