.joinContestHeader div {
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.joinContestBox .row .col-xs-2 {
  text-align: center;
  padding: 0px;
}

.suggestedContestHeader div {
  line-height: 25px;
  margin-top: 10px;
  padding: 0px;
}

.joinContestBox > .row > .col-md-12 {
  height: 35px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.cover_image {
  background-position: top;
}

.feedbackFromOthers > div:nth-child(1) p {
  font-size: 16px;
  word-wrap: break-word;
}

.btnGroupComments {
  display: flex;
}

.tableCell {
  display: table;
  height: 350px;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.tableCell p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0px 50px;
  color: #231f20;
  font-size: 18px;
}

.invitesBtn {
  color: #5bbff8;
  background: #FFF;
  border: 1px solid #5bbff8;
}

.invitesBtn[reverse] {
  color: #FFF;
  background: #5bbff8;
}

.commentsBtn[reverse] {
  color: #FFF;
  background: #63cf4e;
}

.winsBtn[reverse] {
  color: #FFF;
  background: #e5432d;
}

.notificationsBtn[reverse] {
  color: #FFF;
  background: #e4b701;
}

.btn-change-image {
  background-color: white;
}

.title-first {
  margin-top: 80px;
}

.logo-pc {padding: 8px 0;}

.main-menu>li>a {
  padding: 0px 40px;
  padding-bottom: 20px;
}
