/* fonts */

.SofiaProLight {
    font-family: SofiaProLight;
    font-weight: normal;
    font-style: normal;
}

.AvenirLTStd-Light {
    font-family: AvenirLTStd-Light;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: AvenirLTStd-Light;
}

h1, h2, h3, h4, h5 {
    font-family: AvenirLTStd-Light;
    font-weight: bold;
    font-style: normal;
}

.AvenirLTStd-Light {
    font-family: AvenirLTStd-Light;
    font-weight: normal;
    font-style: normal;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}

.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}

.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}

.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-center-xs {
        text-align: center;
    }

    .text-right-xs {
        text-align: right;
    }

    .text-justify-xs {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }

    .text-left-sm {
        text-align: left;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }

    .text-justify-sm {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }

    .text-left-md {
        text-align: left;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }

    .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lg {
        text-align: right;
    }

    .text-justify-lg {
        text-align: justify;
    }
}

.menu-border {
    border-bottom: 1px solid #e1e1e1;
}

.menu-border.header {
    margin-top: 267px;
}

.menu-border.footer {
    margin-top: 60px !important;
}

.text-menu a {
    color: #000000;
    font-size: 14px;
}

h1 {
    color: #707070;
}

.main-menu > li > a {
    padding: 10px 30px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 14px;
    text-align: right;
    padding-right: 0;
    font-size: 16px;
}

.title-first {
    margin-top: 55px;
}

.title-first h1 {
    padding: 0;
    margin: 0;
}

.main-menu {
    border-bottom: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 27px;
}

.text-selector {
    padding-bottom: 17px;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 24px;
}

.option-item {
    opacity: 0.5;
    margin-bottom: 20px;
}

.menu-room.active {
    visibility: visible;
    opacity: 1;
}

.menu-room {
    display: none;
}

.option-item.active {
    opacity: 1;
}

.options-selector {
    padding-top: 55px;
}

.packages {
    margin-top: 19px;

}

.text-package h1 {
    color: #231f20;
    font-size: 24px;
    line-height: 2;

}

.circle2 {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    border: 1px solid black;

}

.question {
    margin-top: 33px;
}

.question2 {
    margin-top: 60px;
}

.text-price {
    line-height: 30px;
    font-size: 20px;
}

.img-block {
    margin-top: 31px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.room:hover {
    background-color: #000000;
    color: #ffffff !important;
}

.bedr a {
    text-decoration: none;
    color: #000000;
}

.bedr {
    border: 1px solid black;
}

.room {
    position: relative;
}

.room-selector i, .room-selector-sub i {
    display: none;
}

.room-selector.active i, .room-selector-sub.active i {
    display: block;
}

.option-selected {
    position: absolute;
    bottom: 5px;
    right: 12px;
    top: inherit;
}

.room.active {
    background-color: #000000;
    color: #ffffff !important;
}

.m-room {
    font-size: 18px;
    font-weight: bold;
}

.btn1-confirm {

    padding: 15px 70px;
    font-size: 30px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
}

.btn1-confirm:hover {

    background: #000;
    color: #fff;
}

.mobile-menu a {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC);

    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}

.mobile-menu {
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 50px;
}

.mobile-menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 992px) {

    .circle2 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .img-block > div {
        margin-bottom: 20px;
    }

    .room {
        padding-right: 15px !important;
    }

    .text-price {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-bottom: 20px;
    }

    .option-item {
        padding-right: 0 !important;
    }

    .nav-tabs > li {
        float: none;
        text-align: center;
    }

    .nav-collapse.pull-right {
        float: none !important;
    }

    h1 {
        font-size: 30px;
    }

    .title-first {
        margin-top: 20px;
    }

    .packages {
        margin-top: 20px;
    }
}

@media (max-width: 1199px) {
    .main-menu > li > a {
        padding: 30px 8px !important;
    }

    .menu-border {
        margin-top: 5% !important;
    }

    .img-responsive {
        margin: 0 auto;
    }
}

/* Template2 */

.fade-text {
    position: absolute;
    width: 100%;
    top: 5%;
    color: #231f20;
    font-size: 18px;
}

.designer-level:hover {
    opacity: 0.5;
}

.all-under-block {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 50px;
}

/* ---- isotope ---- */

.live-tiles {
    padding: 40px 0;
}

/* clear fix */
.live-tiles:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- isotope ---- */

.tile {
    float: left;
    width: 10%;
    height: 90px;
    background: #e1e1e1;
}

.tile.width15 {
    width: 14%;
}

.tile.width2 {
    width: 19%;
}

.tile.width3 {
    width: 29%;
}

.tile.width4 {
    width: 38.8%;
}

.tile.height2 {
    height: 190px;
}

.tile.height4 {
    height: 390px;
}

.tile.height150 {
    height: 140px;
}

.tile.height250 {
    height: 240px;
}

.btn1 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 60px;
}

.btn1-small {
    font-size: 20px;
    padding: 15px 21px;
}

.no-x-padding {
    padding-left: 0;
    padding-right: 0;
}

.level2 {
    color: #231f20;
    margin-bottom: 40px;
    margin-top: 40px;
}

.circle3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    border: 1px solid black;
}

.glyphic-r {
    font-size: 30px;
    right: -45px;
    top: 10px;
    color: black;
}

.glyphic-round {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
}

.glyphic-link {
    position: absolute;
    left: 24px;
    top: 15px;
    font-size: 30px;
    color: black;
}

.telluswhy .form-group {
    margin-bottom: 48px;
    margin-top: 43px;
}

textarea.form-control, input.form-control {
    border: 1px solid #000;
    border-radius: 0;
}

input.form-control {
    font-family: AvenirLTStd-Light;
    font-style: italic;
    font-size: 15pt;
}

.btn2-success {
    background-color: #bebebe;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 31px;
    margin-top: -2px;
}

.menu-border2 {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.logo-pc {
    padding: 10px 0;
}

.nav-tabs > li > a {
    border: 0
}

.nav-tabs > li > a:hover, .nav > li > a:focus {
    border: 0;
    background: none;
    color: #7E7E7E;
}

.footer-menu li a {
    padding-top: 16px;
}

@media (max-width: 992px) {
    .footer-menu li a {
        text-align: center;
    }

    .main-menu > li > a > img {
        margin: 0 auto;
        display: block;
    }
}

.all-color-block{
    border: 1px dashed black;
    padding-top:29px;
    padding-bottom:39px;
}

.btn3{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 60px;
}

.btn3-confirm {

    padding: 15px 27px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
}

.btn3-confirm:hover {

    background: #000;
    color: #fff;
}

.btn4{
    background: none repeat scroll 0 0 #fff;
    border: 0.5px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 38px;
}
.btn4-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 0.5px solid #000;
    border-radius: 0;
}

.btn4-confirm:hover {

    background: #000;
    color: #fff;
}

.color-cell {
    width: 16%;
    min-height: 60px;
    float: left;
    transition: all .2s ease-in-out;
    text-align: center;
    padding-top: 8px;
}

.color-cell > img { display: none;}

.color-cell:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.color-cell.selected > img {display: inline;}

.selected-color-item {margin-bottom: 10px;}
.selected-color-item span {font-size:22px;}

.fav-color { width:80%;height:50px; }

.dp-down-box {border: 1px solid #000; display: none;}

.color-box {width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-right: 15px;}

.single-color-line {
    width: 100%;
    padding: 20px;
    font-size: 19px;
}

.single-color-line:hover { background: #E5E5E5; }

.glyphic-del {right: 0; cursor: pointer;}

.a-under{
    color:#231f20 !important;
}

.btn5{
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #e1e1e1;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
}
.btn5-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 5px solid #e1e1e1;
    border-radius: 0;
}

.btn5-confirm:hover {

    background: #000;
    color: #e1e1e1;
}
.dreamloft{
    font-size:30px !important;
    margin-top:20px;
    resize: none;
    height:50px !important;
}

.btn6{
    background: none repeat scroll 0 0 #dbdbdb;
    border: 5px solid #dbdbdb;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
}
.btn6-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #9B9B9B;
    border: 0;
}

.btn-select{
    position:absolute;
    bottom:0;
    left:100px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 38px;
    color:#ffffff;
}

.novice { margin-bottom: 5px; }

.first-block-quick > div {
    transition: all .2s ease-in-out;
    opacity: 0.7;
    padding-left:25px;
    padding-right:25px;
}

.first-block-quick > div:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

.btn-selector-big {
    padding: 15px;
    font-size: 22px;
    border: 1px solid #000;
    margin: 0;
    border-radius: 0;
    background: none;
    color: #8B8B8B;
    font-style: italic;
}

.dropdown-menu>li>a {
    padding: 15px 20px;
    font-size: 22px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {

    background-color: #E2E2E2;
    background-image: none;
}

.bootstrap-select.btn-group .btn .caret {

    width: 42px;
    height: 100%;
    border: 0;
    top: 2px;
    border-left: 1px solid #000;
}

.btn-selector-big .caret {
background: url('/assets/down-caret.png') 10px 22px no-repeat;
}

.btn-selector-medium .caret {
background: url('/assets/down-caret.png') 10px 10px no-repeat;
}

.btn-selector-medium {
	font-size: 22px;
	border: 1px solid #000;
	margin: 0;
	border-radius: 0;
	background: none;
	color: #8B8B8B;
	font-style: italic;
	height: 40px;
	padding-right: 60px !important;

}

.btn-selector-medium span {	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;}

div.form-selector  {
width: 100% !important;
}

.font15 {font-size: 15px;}

/*  - */

.btn7{
    background: none repeat scroll 0 0 #f6f6f6;
    border: 5px solid #dbdbdb;
    padding: 12px 18px;
}

.circle-big{
    width:157px;
    height:157px;
    border-radius:50%;
    font-size:20px;
    /*line-height:157px;*/
    text-align:center;
    border:1px solid black;
    margin-bottom:27px;
    padding-top: 65px;
}

.link-underline{
    color:#000000;
    text-decoration: underline;
}

.profile-card {
    background:#f6f6f6;
    padding:20px;

}

input.form-control {height: 40px;}

.row.form label{
	font-size: 18px;
	margin-bottom: 10px;
}

.row.form { margin-top: 20px; margin-bottom: 20px; }

.tick-btn {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	float: left;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: 3px;
	font-size: 16px;
	cursor: default;
	text-align: center;
}

.tick-btn span {display: none;}
.tick-btn.active span {display: inline-block;}

.no-margin-left{
margin-left:0;
}

.long-separator {border-bottom: 1px solid #e1e1e1;padding-bottom: 40px; margin-bottom: 40px; }

.marg-bottom20 {margin-bottom: 20px;}
.marg-top20 {margin-top: 20px;}

.marg-bottom30 {margin-bottom: 30px;}
.marg-top30 {margin-top: 30px;}


.marg-bottom40 {margin-bottom: 40px;}
.marg-top40 {margin-top: 40px;}

.sub-design-options { display: none; margin: 30px; margin-top: 0;  border: 1px dashed black; padding-top: 40px; padding-bottom: 35px; }

.sub-design-options.active {display: block;}

.portfolio-item .over-btn {padding: 70px;  padding-top: 0;  padding-bottom: 20px; margin-top: -50px;
position: relative;
z-index: 9;}
.portfolio-item .over-btn > div{
	text-align: center;
	border: 1px solid #737373;
	border-radius: 3px;
	color: #000;
	font-size: 13px;
	text-decoration: none;
}

.no-decor  {text-decoration: none;}
.no-decor:hover  {text-decoration: none;}

.mark-icon img {width: 25%;}

.portfolio-item .over-btn {visibility: hidden;}
.portfolio-item:hover .over-btn {visibility: visible; cursor: pointer}

.portfolio-item .mark-icon {visibility: hidden;}

.portfolio-item.active .mark-icon {visibility: visible;}


.spinner {
  width: 100px;
}
.spinner input {
  text-align: center;
  font-style: normal;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 30px;
  vertical-align: top;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  height: 21px;
  border-color: #000;
}
.input-group-btn-vertical > .btn:first-child {
  background: url('/assets/icons/inc-icon.png') 5px -1px no-repeat;
  border-bottom: 0;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  background: url('/assets/icons/inc-icon2.png') 5px -1px no-repeat;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.option-item.hover {
	opacity:1;
}

.item-sel {
padding-bottom: 0;
border-bottom: 3px solid #A0A0A0;
font-weight: bold;
font-size: 24px;
}

.item-sel a {color: #000;}

.p-l-r{
padding-left:12px;
padding-right:12px;
}

@media (max-width: 992px) {

	.circle-big {
	 width: 100%;
	 line-height: normal;
	 border: 0;
	}

	.btn-need { margin-right: 0 !important; }

}

.btn-need{
font-size:16px;
margin-top:20px;
border: 1px solid #000000;
border-radius:5px;
margin-right:15px;
padding: 8px 15px 8px 25px;
}

.btn-ready{
font-size:16px;
margin-top:20px;
border: 1px solid #000000;
border-radius:5px;
padding: 8px 15px 8px 25px;
}

.edit-profile div:nth-child(1) p{
    font-weight: 700;
    font-size: 20px;
}
.edit-profile div:nth-child(2) p{
    font-size: 18px;
}
.edit-profile{
    border-top: 1px solid #e1e1e1;
    padding: 40px 0px 30px;
}
.edit-profile div p a{
    color: #000;
    text-decoration: underline;
}
.edit-profile:nth-child(1){
    border:none;
}
.edit-profile div input[type=password]{
    width: 360px;
    border: 1px solid #a9a9a9;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    padding: 0 5px;
    border-radius: 5px;
}
.edit-profile div p.password-info{
    color: #a9a9a9;
    font-size: 14px;
}
.container-edit-profile{
    padding:0px 40px 60px 40px;
}
.border-brief-box{
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}
.sortBySelect{
}
.sortBySelect button{
    border: 1px solid #a9a9a9;
}
.sortBySelect .caret{
    background: url('/assets/caret.png') 15px 15px no-repeat;
    top: 2px !important;
    border-left: 1px solid #a9a9a9 !important;
}
.sortBySelect li:nth-child(1){
    display: none;
}
.sortBySelect .dropdown-menu>li>a{
    padding: 7px 20px;
    font-size: 16px;
    color: #000;
    border-top: 1px solid #e1e1e1;
}
.sortBySelect .dropdown-menu>li:nth-child(2)>a{
    border-top: none;
}
.sortBySelect .dropdown-menu{
    min-height: 100px !important;
    border-radius: 0px;
    top: 37px;
    border: 1px solid #a9a9a9;
}

.chooseP{
    font-size: 18px;
    color: #707070;
    font-style: italic;
    margin-bottom: 35px;
}

.moodboard-steps{
    border: 1px solid #a9aaaa;
    border-radius: 3px;
    line-height: 44px;
    margin-bottom: 10px;
    width: 670px;
}
.moodboard-steps p{
    padding-left: 30px;
    font-size: 16px;
    color: #707070;
    float: left;
    margin: 0px;
    height: 44px;
    background: url('/assets/step-delimiter.png') left bottom no-repeat;
}
.moodboard-steps p span{
    border: 1px solid #707070;
    border-radius: 13px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.moodboard-steps p:nth-child(1){
    width: 190px;
}
.moodboard-steps p:nth-child(2){
    width: 320px;
}
.moodboard-steps p:nth-child(3),.bottomStepBackground{
    width: 150px;
    background-position: left top;
    /*text-align: right;*/
}
.bgBottom{
    background-position: left bottom !important;
}
.step1{
    background: url('/assets/step1.png') right no-repeat !important;
}
p.stepActive{
    background: #a9aaaa;
    color: #FFF;
}
p.stepActive{
    background: #a9aaaa;
    color: #FFF;
    padding-left: 8px;
}
p.stepActive span{
    border-color: #FFF;
}
.disablePadding{
    padding: 0px !important;
}
.disableMargin{
    margin: 0px !important;
}
.designConcept{
    margin-bottom: 35px;
}
.designConcept > div > div{
    background: #F8F8F8;
    padding: 0px 25px 25px;
    border-top: 3px solid #aaaaaa;
}
.designConcept > div:nth-child(1){
    padding-left: 0px;
    /*padding-right: 0px;*/
}
.designConcept > div:nth-child(2){
    padding-left: 0px;
}
.designConcept .designItem{
    width: 100%;
    height: 350px;
    background: #FFF;
    border: 1px solid #e3e3e3;
}
.designConcept h3{
    font-size: 24px;
    color: #000;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 18px;
    margin-bottom: 24px;
}
.hLine{
    background: #e1e1e1;
    width: 100%;
    height: 1px;
    margin: 24px 0px;
}
.designConcept .btn,.btnDesignOption{
    background: no-repeat;
    border: 1px solid #e1e1e1;
    width: 108px;
    height: 38px;
    line-height: 38px;
    padding: 0px;
    border-radius: 0px;
    margin-right: 25px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}
.pageNumber{
    border: 1px solid #231f20;
    border-radius: 3px;
    height: 58px;
    width: 340px;
    margin: 0 auto;
    /*margin-bottom: 40px;*/
}
.pageNumber a{
    font-size: 22px;
    color: #231f20;
    display: inline-block;
    line-height: 56px;
    padding: 0 23px;
}
.pageNumber a:hover,a.activePageNumber{
    text-decoration: none;
    background: #231f20;
    color: #FFF;
}

.designerFeedback h4{
    font-weight: 700;
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
}
.designerFeedback textarea{
    width: 100%;
    height: 98px;
    resize: none;
    border: 3px solid #e1e1e1;
    border-radius: 3px;
}
.designerFeedback .btn{
    background: #FFF;
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    border: 1px solid #000;
    font-weight: 600;
}
.designerFeedback .notes{
    background: #F8F8F8;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    height: 160px;
    width: 100% !important;
    padding-right: 0px !important;
    /*padding: 20px 10px;*/
}
/*.designerFeedback .notes ul{
	list-style-position: inside;
	margin-left: -40px;
}*/
.designerFeedback .notes ul li.delimiter{
    /*width: 100%;*/
    height: 1px;
    background: #e1e1e1;
    list-style-type: none;
    padding: 0px;
    margin-left: -40px;
}
.designerFeedback .notes ul li {
    font-size: 30px;
    /*padding:10px 15px;*/
    /*border-top: 1px solid #e1e1e1;*/
}
.designerFeedback .notes ul li p{
    /*margin-left: -15px;*/
    padding-left: 10px;
    font-size: 16px;
    color: #000;
}
.designerFeedback .notes ul li p span{
    display: block;
    font-style: italic;
    color: #a9a9a9;
    font-size: 14px;
}

#scrollbox4 {
    overflow: auto;
    /*width: 400px;*/
    /*height: 360px;*/
    /*padding: 0 5px;
    border: 1px solid #b7b7b7;*/
}

.track4 {
    width: 7px;
    background-clip: padding-box;
    background: #transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-left-width: 1px;
    margin: 5px 0px;
    padding-bottom: 5px;
}

/*.track4.dragging,
.track4:hover {
    background: #f2f2f2;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.track4:active {
    background: #f2f2f2;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                        inset -1px -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}*/

.handle4 {
    border-radius: 5px;
    width: 5px;
    background-clip: padding-box;
    background: #a9a9a9;
    /*background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                inset 0 -1px 0 rgba(0, 0, 0, 0.07);*/
}

/*.handle4:hover {
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}*/

.dragging .handle4,
.handle4:active {
    background: gray; /* No RGBA support */
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.designerFeedback label{
    display: block;
    color: #000;
    font-size: 20px;

}
.designerFeedback input[type=text]{
    border: 1px solid #000;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0px 5px;
}
/*.designerFeedback input#emailInvite{
	width: 75%;
}*/
.bottom60{
    padding-bottom: 60px;
}
button.btnInvite{
    outline: none;
    background: transparent;
    border: none;
    /*line-height: 40px;*/
    font-size: 30px;
    margin: 0px;
    margin-top: 24px;
}
button.btnInvite span{
    top: 10px;
}
.feedbackFromOthers{
    background: #F8F8F8;
    padding: 20px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}
.feedbackFromOthers > div:nth-child(1) p{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    padding-top: 20px;
}
.feedbackFromOthers > div:nth-child(1) p span{
    font-size: 14px;
    display: block;
    font-weight: 400;
}
.feedbackFromOthers > div:nth-child(2){
    border-left: 1px solid #e1e1e1;
}
.feedbackFromOthers > div:nth-child(2) p{
    margin: 0px;
    font-size: 16px;
    padding: 20px 0px 20px 60px;
}

#pickWinnerModal .modal-dialog{
    width: 500px;
    box-shadow: none;
    border: 2px solid #040707;
    border-radius: 10px;
}
#pickWinnerModal .modal-content{
    border-radius: 10px;
    box-shadow: none;
    font-size: 30px;
    color: #000;
    text-align: center;
    padding-top: 15px;
}
#pickWinnerModal .modal-content p{
    line-height: 60px;
}
#pickWinnerModal .modal-footer{
    border-top: 2px solid #040707;
    margin-top: 60px;
}
/*#pickWinnerModal .modal-footer .row{

}*/
#pickWinnerModal .modal-content a{
    font-weight: 700;
    text-align: center;
    background: #e3e4e5;
    color: #000;
    height: 94px;
    line-height: 94px;
}
#pickWinnerModal .modal-content a:hover{
    text-decoration: none;
    background: #adafb1;
    color: #FFF;

}
#pickWinnerModal .modal-content a:nth-child(1){
    border-right: 2px solid #040707;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
#pickWinnerModal .modal-content a:nth-child(2){
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;

}

.backToEntries{
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    display: inline-block;
}
.backToEntries:hover{
    text-decoration: none;
    color: #000;
}
.backToEntries span{
    font-weight: 400;
    font-size: 30px;
    position: relative;
    top: 3px;
    font-family: "Courier New", Courier, monospace;
}
.designerName{
    font-size: 18px;
    font-weight: 700;
    padding-top: 7px;
    color: #000;
}
.designerName span,.designerNote{
    font-size: 16px;
    display: block;
    font-weight: 400;
}
.makeBorderBottom{
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.relative{
    position: relative;
}
.winnerBadge{
    position: absolute;
    top: -27px;
    left: -24px;
}
h3.congrats{
    background: #F8F8F8;
    font-size: 24px;
    font-weight: 700px;
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    margin-bottom: 40px;
}
h3.congrats span{
    display: block;
    font-size: 18px;
    font-weight: 400;
}
.userNameDrop{
    margin-left: 20px;
}
.userNameDrop button{
    background: transparent;
    border: none;
    height: 45px;
    line-height: 45px;
    font-family: 'AvenirLTStd-Black';
    font-size: 16px;
}
.userNameDrop button .caret{
    background: url('/assets/user_caret.png');
    width: 14px;
    height: 8px;
    margin-left: 12px;
    border: none;
}
.userNameDrop .dropdown-menu>li>a {
    padding: 12px 15px;
    font-size: 16px;
}
