/* fonts */

.SofiaProLight {
    font-family: SofiaProLight;
    font-weight: normal;
    font-style: normal;
}

.AvenirLTStd-Light {
    font-family: AvenirLTStd-Light;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: AvenirLTStd-Light;
}

h1, h2, h3, h4, h5 {
    font-family: AvenirLTStd-Light;
    font-weight: bold;
    font-style: normal;
}

.AvenirLTStd-Light {
    font-family: AvenirLTStd-Light;
    font-weight: normal;
    font-style: normal;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}

.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}

.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}

.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }

    .text-left-xs {
        text-align: left;
    }

    .text-center-xs {
        text-align: center;
    }

    .text-right-xs {
        text-align: right;
    }

    .text-justify-xs {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }

    .text-left-sm {
        text-align: left;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }

    .text-justify-sm {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }

    .text-left-md {
        text-align: left;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }

    .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lg {
        text-align: right;
    }

    .text-justify-lg {
        text-align: justify;
    }
}

.menu-border {
    border-bottom: 1px solid #e1e1e1;
}

.menu-border.header {
    margin-top: 267px;
}

.menu-border.footer {
    margin-top: 60px !important;
}

.text-menu a {
    color: #000000;
    font-size: 14px;
}

h1 {
    color: #707070;
}

.main-menu > li > a {
    padding: 10px 30px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 14px;
    text-align: right;
    padding-right: 0;
    font-size: 14px;
}

.title-first {
    margin-top: 55px;
}

.title-first h1 {
    padding: 0;
    margin: 0;
}

.main-menu {
    border-bottom: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 27px;
}

.text-selector {
    padding-bottom: 17px;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 24px;
}

.option-item {
    opacity: 0.5;
    margin-bottom: 20px;
}

.menu-room.active {
    visibility: visible;
    opacity: 1;
}

.menu-room {
    display: none;
}

.option-item.active {
    opacity: 1;
}

.options-selector {
    padding-top: 55px;
}

.packages {
    margin-top: 19px;

}

.text-package h1 {
    color: #231f20;
    font-size: 24px;
    line-height: 2;

}

.circle2 {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    border: 1px solid black;

}

.question {
    margin-top: 33px;
}

.question2 {
    margin-top: 60px;
}

.text-price {
    line-height: 30px;
    font-size: 20px;
}

.img-block {
    margin-top: 31px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.room:hover {
    background-color: #000000;
    color: #ffffff !important;
}

.bedr a {
    text-decoration: none;
    color: #000000;
}

.bedr {
    border: 1px solid black;
}

.room {
    position: relative;
}

.room-selector i, .room-selector-sub i {
    display: none;
}

.room-selector.active i, .room-selector-sub.active i {
    display: block;
}

.option-selected {
    position: absolute;
    bottom: 5px;
    right: 12px;
    top: inherit;
}

.room.active {
    background-color: #000000;
    color: #ffffff !important;
}

.m-room {
    font-size: 18px;
    font-weight: bold;
}

.btn1-confirm {

    padding: 15px 70px;
    font-size: 30px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
}

.btn1-confirm:hover {

    background: #000;
    color: #fff;
}

.mobile-menu a {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC);

    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}

.mobile-menu {
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 50px;
}

.mobile-menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 992px) {

    .circle2 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .img-block > div {
        margin-bottom: 20px;
    }

    .room {
        padding-right: 15px !important;
    }

    .text-price {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-bottom: 20px;
    }

    .option-item {
        padding-right: 0 !important;
    }

    .nav-tabs > li {
        float: none;
        text-align: center;
    }

    .nav-collapse.pull-right {
        float: none !important;
    }

    h1 {
        font-size: 30px;
    }

    .title-first {
        margin-top: 20px;
    }

    .packages {
        margin-top: 20px;
    }
}

@media (max-width: 1199px) {
    .main-menu > li > a {
        padding: 30px 8px !important;
    }

    .menu-border {
        margin-top: 5% !important;
    }

    .img-responsive {
        margin: 0 auto;
    }
}

/* Template2 */

.fade-text {
    position: absolute;
    width: 100%;
    top: 5%;
    color: #231f20;
    font-size: 18px;
}

.designer-level:hover {
    opacity: 0.5;
}

.all-under-block {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 50px;
}

/* ---- isotope ---- */

.live-tiles {
    padding: 40px 0;
}

/* clear fix */
.live-tiles:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- isotope ---- */

.tile {
    float: left;
    width: 10%;
    height: 90px;
    background: #e1e1e1;
}

.tile.width15 {
    width: 14%;
}

.tile.width2 {
    width: 19%;
}

.tile.width3 {
    width: 29%;
}

.tile.width4 {
    width: 38.8%;
}

.tile.height2 {
    height: 190px;
}

.tile.height4 {
    height: 390px;
}

.tile.height150 {
    height: 140px;
}

.tile.height250 {
    height: 240px;
}

.btn1 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 60px;
}

.btn1-small {
    font-size: 20px;
    padding: 15px 21px;
}

.no-x-padding {
    padding-left: 0;
    padding-right: 0;
}

.level2 {
    color: #231f20;
    margin-bottom: 40px;
    margin-top: 40px;
}

.circle3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    border: 1px solid black;
}

.glyphic-r {
    font-size: 30px;
    right: -45px;
    top: 10px;
    color: black;
}

.glyphic-round {
    position: absolute;
    top: 15px;
    right: 45px;
    color: black;
}

.glyphic-link {
    position: absolute;
    left: 24px;
    top: 15px;
    font-size: 30px;
    color: black;
}

.telluswhy .form-group {
    margin-bottom: 48px;
    margin-top: 43px;
}

textarea.form-control, input.form-control {
    border: 1px solid #000;
    border-radius: 0;
}

input.form-control {
    font-family: AvenirLTStd-Light;
    font-style: italic;
    font-size: 15pt;
}

.btn2-success {
    background-color: #bebebe;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 31px;
    margin-top: -2px;
}

.menu-border2 {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.logo-pc {
    padding: 10px 0;
}

.nav-tabs > li > a {
    border: 0
}

.nav-tabs > li > a:hover, .nav > li > a:focus {
    border: 0;
    background: none;
    color: #7E7E7E;
}

.footer-menu li a {
    padding-top: 16px;
}

@media (max-width: 992px) {
    .footer-menu li a {
        text-align: center;
    }

    .main-menu > li > a > img {
        margin: 0 auto;
        display: block;
    }
}

.all-color-block{
    border: 1px dashed black;
    padding-top:29px;
    padding-bottom:39px;
}

.btn3{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 60px;
}

.btn3-confirm {

    padding: 15px 27px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
}

.btn3-confirm:hover {

    background: #000;
    color: #fff;
}

.btn4{
    background: none repeat scroll 0 0 #fff;
    border: 0.5px solid #000;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
    margin-bottom: 38px;
}
.btn4-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 0.5px solid #000;
    border-radius: 0;
}

.btn4-confirm:hover {

    background: #000;
    color: #fff;
}

.color-cell {
    width: 16%;
    min-height: 60px;
    float: left;
    transition: all .2s ease-in-out;
    text-align: center;
    padding-top: 8px;
}

.color-cell > img { display: none;}

.color-cell:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.color-cell.selected > img {display: inline;}

.selected-color-item {margin-bottom: 10px;}
.selected-color-item span {font-size:22px;}

.fav-color { width:80%;height:50px; }

.dp-down-box {border: 1px solid #000; display: none;}

.color-box {width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-right: 15px;}

.single-color-line {
    width: 100%;
    padding: 20px;
    font-size: 19px;
}

.single-color-line:hover { background: #E5E5E5; }

.glyphic-del {right: 0; cursor: pointer;}

.a-under{
    color:#231f20 !important;
}

.btn5{
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #e1e1e1;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
}
.btn5-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    border: 5px solid #e1e1e1;
    border-radius: 0;
}

.btn5-confirm:hover {

    background: #000;
    color: #e1e1e1;
}
.dreamloft{
    font-size:30px !important;
    margin-top:20px;
    resize: none;
    height:50px !important;
}

.btn6{
    background: none repeat scroll 0 0 #dbdbdb;
    border: 5px solid #dbdbdb;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 55px;
}
.btn6-confirm {

    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    background: #9B9B9B;
    border: 0;
}

.btn-select{
    position:absolute;
    bottom:0;
    left:100px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 38px;
    color:#ffffff;
}

.novice { margin-bottom: 5px; }

.first-block-quick > div {
    transition: all .2s ease-in-out;
    opacity: 0.7;
    padding-left:25px;
    padding-right:25px;
}

.first-block-quick > div:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

.btn-selector-big {
    padding: 15px;
    font-size: 22px;
    border: 1px solid #000;
    margin: 0;
    border-radius: 0;
    background: none;
    color: #8B8B8B;
    font-style: italic;
}

.dropdown-menu>li>a {
    padding: 15px 20px;
    font-size: 22px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {

    background-color: #E2E2E2;
    background-image: none;
}

.bootstrap-select.btn-group .btn .caret {

    background: url('/assets/down-caret.png') 10px 22px no-repeat;
    width: 42px;
    height: 100%;
    border: 0;
    top: 2px;
    border-left: 1px solid #000;
}


/*  - */

.btn7{
    background: none repeat scroll 0 0 #f6f6f6;
    border: 5px solid #dbdbdb;
    padding: 12px 18px;
}

.circle-big{
    width:157px;
    height:157px;
    border-radius:50%;
    font-size:20px;
    /*line-height:157px;*/
    text-align:center;
    border:1px solid black;
    margin-bottom:27px;
    padding-top: 65px;
}

.link-underline{
    color:#000000;
    text-decoration: underline;
}

.profile-card {
    background:#f6f6f6;
    padding:20px;

}

.profile-card:nth-child(4) {margin-top:40px;}
.profile-card:nth-child(5) {margin-top:40px;}

.profile-card:nth-child(2) {border-right: 5px solid #fff;}
.profile-card:nth-child(3) {border-left: 5px solid #fff;}

.profile-card:nth-child(4) {border-right: 5px solid #fff;}
.profile-card:nth-child(5) {border-left: 5px solid #fff;}
