.level-block-container {
  text-align: center;

  .level-block {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }

  .active {
    background-color: lightblue;
  }
}

.typeahead.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}