%input#plan_id{ name: 'preview[b_plan]',
                type: 'hidden',
                value: @contest_view.budget_plan || BudgetPlan::PLANS[0].id }

= render partial: 'contests/options/plan_options'
