.row.marginTop60.project-name
  .col-md-12.text-center
    %h3= t('contests.creation.preview.name_label')
    #err_prj_name.text-error
    %input#project_name{ name: 'preview[contest_name]',
      placeholder: t('contests.creation.preview.name_placeholder'),
      type: 'text',
      value: @contest_view.name }/
