= form.radio_button(attribute, true)
= form.label(attribute, t('contests.additional_details.space_needs_accommodate.yes'), value: true)
= form.radio_button(attribute, false)
= form.label(attribute, t('contests.additional_details.space_needs_accommodate.no'), value: false)
