- Contest::ACCOMMODATION_VALUES.each do |value|
  = form.radio_button(attribute, value)
  = form.label(attribute,
      t("contests.additional_details.space_needs_accommodate.#{ value }"),
      value: value)
