= form.radio_button(attribute, 'true')
= form.label(attribute, t('contests.additional_details.space_needs_accommodate.true'), value: true)
= form.radio_button(attribute, 'false')
= form.label(attribute, t('contests.additional_details.space_needs_accommodate.false'), value: false)
