- @contest_requests.in_groups_of(2, false) do |contest_requests|
  .row.designConcept
    - contest_requests.each do |contest_request|
      = render partial: 'clients/moodboard', locals: { contest_request: contest_request,
                show_answer_options: @contest.winner_selection? || @contest.submission? }