.fullWidthLine
%footer.container
  .row
    .col-md-6.footerLinks
      %a{ href: coming_soon_path, class: tracked_link } About
      %a{ href: terms_of_service_path, class: tracked_link } Terms
      %a{ href: coming_soon_path, class: tracked_link } Privacy Policy
    .col-md-6.footerSocial
      %a{ href: coming_soon_path, class: tracked_link, data: { name: 'Twitter' } }
        %img{:src => '/assets/icons/twitter.png' }/
      %a{ href: coming_soon_path, class: tracked_link + " right-side", data: { name: 'Facebook' } }
        %img{:src => '/assets/icons/facebook.png' }/
      %a{ href: coming_soon_path, class: tracked_link, data: { name: 'Instagram' } }
        %img{:src => '/assets/icons/instagram.png' }/
      %a{ href: coming_soon_path, class: tracked_link + " right-side", data: { name: 'Pinterest' } }
        %img{:src => '/assets/icons/pinterest.png' }/
.fullWidthLine
%p.copyright.text-center
  = succeed "#{ Date.current.year } InteriorCrowd" do
    %span.copyright-sign ©
:javascript
    $( '.room-selector' ).click(function() {
      $(this).toggleClass('active');
      return false;
    });
