.clearfix
.fullWidthLine
%footer.container
  .row
    .col-md-6.footerLinks
      %a{ href: 'http://blog.interiorcrowd.com/category/about-us', class: tracked_link } About
      %a{ href: terms_of_service_path, class: tracked_link } Terms
      %a{ href: privacy_policy_path, class: tracked_link } Privacy Policy
    .col-md-6.footerSocial
      %a{ href: 'https://twitter.com/InteriorCrowd',
          class: tracked_link,
          data: { name: 'Twitter' },
          target: '_blank' }
        %img{:src => '/assets/icons/twitter.png' }/
      %a{ href: 'https://www.facebook.com/interiorcrowd',
          class: tracked_link + " right-side",
          data: { name: 'Facebook' },
          target: '_blank' }
        %img{:src => '/assets/icons/facebook.png' }/
      %a{ href: 'https://instagram.com/interiorcrowd',
          class: tracked_link,
          data: { name: 'Instagram' },
          target: '_blank'  }
        %img{:src => '/assets/icons/instagram.png' }/
      %a{ href: 'https://www.pinterest.com/interiorcrowd',
          class: tracked_link + " right-side",
          data: { name: 'Pinterest' },
          target: '_blank' }
        %img{:src => '/assets/icons/pinterest.png' }/
.fullWidthLine
%p.copyright.text-center
  = succeed "#{ Date.current.year } InteriorCrowd" do
    %span.copyright-sign ©
:javascript
    $( '.room-selector' ).click(function() {
      $(this).toggleClass('active');
      return false;
    });
