%footer#footer
  .container
    .row.sections
      .col-sm-4.recent_posts
        %h3.footer_header
          %a{:href => new_designer_path} Design Center
        .post.col-sm-offset-2
          .title Are you a designer/decorator
          .title Do you have an eye for (interior design)
    .row.footer-links
      .col-md-12
        .row
          .col-md-4.footer-nav.col-sm-offset-4
            %a{:href => "#"}
              ABOUT US
            %span.separator
            %a{:href => "#"}
              BLOG
            %span.separator
            %a{:href => "#"}
              TEAM
            %span.separator
            %a{:href => "#"}
              FAQ's
    .row.credits
      .col-md-12
        .row
          .col-md-4.copyright.col-sm-offset-4
            %a{:href => "#"}
              Terms of service
            %span.separator |
            %a{:href => "#"}
              Privacy policy
            %span.separator |
            %a{:href => "#"}
              Help
          .row.col-md-4.social.col-sm-offset-4
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{:href => "#"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{:href => "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.pinterest{:href => "#"}
              %span.socialicons.ico5
              %span.socialicons_h.ico5h