%nav#menu.mm-menu.mm-horizontal.mm-offcanvas
  = render partial: 'layouts/mobile_menu'

.mm-page.mm-slideout
  .visible-xs.visible-sm
    .mobile-menu
      %a{href: '#menu'}
  .menu-border
    .container
      = render partial: 'layouts/main_menu'
