%nav#menu.mm-menu.mm-horizontal.mm-offcanvas
  %ul#mm-0.mm-list.mm-panel.mm-opened.mm-current
    %li
      %a{href: '#'} Home
    %li.mm-selected
      %a.mm-subopen{href: '#mm-1'}
      %a{href: '#about'} About us
    %li
      %a{href: '#contact'} Contact
  %ul#mm-1.mm-list.mm-panel.mm-hidden
    %li.mm-subtitle
      %a.mm-subclose{href: '#mm-0'} About us
    %li
      %a{href: '#about/history'} History
    %li
      %a.mm-subopen{href: '#mm-2'}
      %a{href: '#about/team'} The team
    %li
      %a{href: '#about/address'} Our address
  %ul#mm-2.mm-list.mm-panel.mm-hidden
    %li.mm-subtitle
      %a.mm-subclose{href: '#mm-1'} The team
    %li
      %a{href: '#about/team/management'} Management
    %li
      %a{href: '#about/team/sales'} Sales
    %li
      %a{href: '#about/team/development'} Development

.mm-page.mm-slideout
  .visible-xs.visible-sm.visible-md
    .mobile-menu
      %a{href: '#menu'}
  .container-fluid.menu-border.animated.fadeInDown.header
    .container
      .text-center.logo-mobile.visible-sm.visible-xs.visible-md
        %img{src: '/assets/logo.png'}/
      .row.my-menu.visible-lg
        .col-md-4.no-padding-right
          .top-nav
            .nav-collapse
              %ul.nav.nav-tabs.text-menu.main-menu
                %li
                  %a{href: '#'} Get Inspired
                %li
                  %a{href: '#'} Portfolio
        .col-md-4.text-center.logo
          %div
            %img{src: '/assets/logo.png'}/
        .col-md-4.no-padding-left
          .top-nav
            .nav-collapse
              %ul.nav.nav-tabs.text-menu.main-menu.pull-right
                %li
                  %a{:href => '#'} How it works
                - if session[:designer_id].present?
                  %li
                    %a{href: logout_sessions_path} Sign Out
                - elsif session[:client_id].present?
                  %li
                    %a{href: client_center_index_path} Client Center
                  %li
                    %a{href: logout_sessions_path} Sign Out
                - else
                  %li.dropdown
                    %a.dropdown-toggle{ data: { toggle: 'dropdown' } , href: 'sign-in.html' }
                      Login
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: client_login_sessions_path} Client login
                      %li
                        %a{href: login_sessions_path} Designer login
                  %li
                    %a{href: '#'}
                      %b Get started
                      