%nav#menu.mm-menu.mm-horizontal.mm-offcanvas
  = render partial: 'layouts/mobile_menu'

.sticky-nav
  .row
    %h5= t('home.sticky_nav.description')
    %a.getStartedSticky{ href: design_brief_contests_path, class: tracked_link }
      %span= t('home.get_started').upcase
.mm-page.mm-slideout
  .menu-border
    .container.headerBox
      = render partial: 'layouts/main_menu'
