.mm-page.mm-slideout
  .menu-border
    .container
      .text-center.logo-mobile.logo-pc
        %a{ class: tracked_link, data: { name: 'Homepage icon' }, href: root_path }
          %img{src: '/assets/logo2.png'}/
