.row
  .col-xs-2
    %a.logo{ href: root_path, class: tracked_link, data: { name: 'Homepage icon' } }
  .col-xs-10
    %a.btn.needHelp.pull-right{ href: need_help_path, class: tracked_link }
      = t('header.need_help')
    .clearfix
    %ul.nav.nav-tabs.pull-right.hidden-xs.hidden-sm
      - main_menu(@navigation).items.each do |item|
        - if item.children
          %li.dropdown
            %a.dropdown-toggle{ data: { toggle: 'dropdown' } , href: item.href }
              = item.name
              %img{:src => "/assets/down-arrow.png"}/
            %ul.dropdown-menu
              - item.children.each do |subitem|
                = render partial: 'layouts/mobile_menu_item', locals: { item: subitem }
        - else
          = render partial: 'layouts/mobile_menu_item', locals: { item: item }
    .visible-xs.visible-sm
      .mobileMenu
        %a{href: '#menu'}
