!!!
%html
  %head
    = render partial: 'layouts/head'

    :javascript
      $(function() {
        $('nav#menu').mmenu(); // gen mobile menu
      });
  %body.pull_top
    .mm-page.mm-slideout
      #body-container
        #body-header
          = render partial: 'layouts/header'
        #body-content
          = yield
        #body-footer
          = render partial: 'layouts/footer'
