<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Interior Crowd</title>
	</head>

	<body>
		<table cellspacing="0" cellpadding="0" border="0">
		  
		   <%= yield %>
		  <tr>
		    <td colspan="2">Regards,</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2">Interior Crowd</td>
		  </tr>
		  
		</table>
	</body>
</html>
