!!!
%html
  %head
    = render partial: 'layouts/head'

  %body.pull_top
    #body-container
      #body-header
        = render partial: 'layouts/logo_header'
      #body-content
        = yield
      #body-footer
        = render partial: 'layouts/footer'
